---
layout: products-article
title: AR320水性分散剂(降粘、展色)
description: AR320，成分是含颜料亲和基团的共聚物，水性体系分散剂，具有优良的润湿、扩散、展色、抗静电性。
image: 
---
.box
  .box_header 产品简介
  .box_content
    AR320，成分是含颜料亲和基团的共聚物，水性体系分散剂，具有优良的润湿、扩散、展色、抗静电性。

.box
  .box_header 质量技术指标
  .box_content
    外观: 浅黄色半透明低粘液体<br>
    活性物质含量: 92%<br>
    PH值: 6.5 + 0.5<br>
    特性: 润湿“液固界面”；润湿基材；分散微米级及细小颗粒并稳定体系；

.box
  .box_header 用途
  .box_content
    1、在水性涂料中显示润湿、分散性能，AR320可提高涂膜的表面平整性和颜料展色性，获得高光泽和良好遮盖力。添加0.1%-0.3%（总配方）的AR320对总体系有保护作用，避免或减缓沉淀、浮色。<br>
    2、在印刷油墨中显示润湿、分散性能。AR320可消除油墨印刷过程中的拉丝、飞丝现象。添加0.1%-0.3%（总配方）的AR320使油墨体系变得更均匀和稳定储存性能。<br>
    3、在色浆中同样显示润湿、分散性能。研磨前添加0.1%-0.3%（总配方）的AR320可缩短研磨色浆的时间，提高色浆的生产效率，防止色浆返粗。加入适量的AR320，可防止已经分散的颜料颗粒的重新聚结。<br>
    4、在水性色墨显示分散性能。可使颜料、染料均匀地分布，提高着色力；防止颗粒沉降。

.box
  .box_header 功效评价
  .box_content 
    1、生产应用中发现，添加0.2%（总配方）的AR320，使色浆着色力提高10%-20%；<br>
    2、生产中添加0.2%（总配方）的AR320，使细小颗粒排列整齐、定向折光。<br>
    3、使涂层、油墨获得柔和光泽感。<br>
    4、不影响附着力及重涂施工。

.box
  .box_header 化学品应用附加信息
  .box_content
    1、AR320的分散对象宽广，包括无机、有机物质和单质。<br>
    2、可以在水包油的其他工业场合使用。

.box
  .box_header 声明
  .box_content
    以上关于AR320的介绍、陈述是基于我们已知的知识和经验，任何用户使用前有责任测试其适用性，我们不能为个别情况作担保，包括专利权益。
