---
layout: products-article
title: AR516分散剂(降粘、浮色)
description: AR516，成分是含酰胺基有机磷酸酯。
image: 
---
.box
  .box_header 产品简介
  .box_content
    AR516，成分是含酰胺基有机磷酸酯。

.box
  .box_header 质量技术指标
  .box_content
    外观:无色或浅棕色透明液体<br>
    不挥发分:50%<br>
    酸值: 9-10 mgKOH/g<br>
    特性:分散微米级及细小颗粒并稳定体系;适应存储温度:-30℃ 至50℃ ;适应中/酸/碱性体系

.box
  .box_header 用途
  .box_content
    1、浮色:0.5%-0.1%,(总配方)可以克服无机及有机颜料共混的分色、发花问题;不影响储存的色相变化和遮盖力,不会引起粘度的上升;可以改善流平。<br>
    2、研磨降粘:1.0%-3.0%(色浆总配方)用于研磨、制备高颜料含量的色浆,如70%钛白浆、15%碳黑浆、25%哑光浆(二氧化硅)的研磨或分散。极佳的润湿及分散性能,可以减少色浆的研磨次数,提高生产率。 <br>
    3、减缓沉淀:添加0.5%-1.0%(总配方),分散、稳定如“硅酸镁、碳酸钙、硫酸钡”的无机物质,避免或减缓沉淀、浮色。<br>
    4、消除静电:0.3%-0.5%(总配方)可预防及消除油墨印刷生产过程的静电问题,如拉丝、甩墨。<br>
    5、油墨印刷:0.3%-0.5%(总配方)可使移印均匀,文字、图案清晰,边缘规整。

.box
  .box_header 其他信息
  .box_content
    最佳潘加量：有机颜料质量的5%-10%:无机颜料质量的1%-3‰ 碳黑质量的10%-2O%。<br>
    包装规格：25Kg/桶
