---
layout: products-article
title: 乙烯基E-1832 （羧基改性氯乙烯/醋酸乙烯酯）
description: 乙烯基E-1832是氯乙烯，醋酸乙烯酯和马来酸共聚物树脂。乙烯基E-1832能提供良好的溶解性和羧基功能团。
image: 
---
.box
  .box_header 产品简介
  .box_content
    乙烯基E-1832是氯乙烯，醋酸乙烯酯和马来酸共聚物树脂。乙烯基E-1832能提供良好的溶解性和羧基功能团。
    制造羧基改性氯乙烯/醋酸乙烯共聚物特别是为了配制对各种底材具有卓越的附着力的涂料，特别是金属，纤维素，及某些塑料。
    乙烯基E-1832涂膜显示出极好的对金属粘附的性能，其中包括铝、钢和镀锌。

.box
  .box_header 应用
  .box_content
    药品和食品包装的胶粘剂<br>
    印刷油墨的包装<br>
    印刷油墨的金属零件<br>
    金属底漆<br>
    胶钉<br>
    饮料瓶和食品包装盒盖的胶粘剂<br>
    电缆用胶粘剂<br>
    防腐涂料

.box
  .box_header 产品性能
  .box_content
    %table.table
      %thead
        %tr
          %th 项目
          %th 价值
      %tbody
        %tr
          %td 挥发物最高
          %td 2.00％
        %tr
          %td 醋酸乙烯酯含量
          %td 12.0％ ± 1.0％
        %tr
          %td 氯乙烯含量
          %td 82.0％ ± 2.0％
        %tr
          %td 顺丁烯二酸单丁酯含量
          %td 6.0％ ± 0.5％
        %tr
          %td 布鲁克菲尔德粘度的甲基异丁基酮（20%）
          %td 最高400cP
        %tr
          %td 分子量
          %td 28000
        %tr
          %td Tg
          %td 74 ℃
