---
layout: products-article
title: 氯醋树脂H-2348
description: H-2348是一种由75 wt%的氯乙烯(VC)和25 wt%的碳酸酯构成的共聚物。它主要被用来作为表面涂料化合物和印刷墨的粘结料。
image: 
---
.box
  .box_header 产品简介
  .box_content
    H-2348是一种由75 wt%的氯乙烯(VC)和25 wt%的碳酸酯构成的共聚物。它主要被用来作为表面涂料化合物和印刷墨的粘结料。
    H-2348是一种热塑性，物理性干燥即配方中所含溶剂蒸发后成膜的粘结料。H-2348能提供良好的溶解度和羟基功能（OH-基团）。
    因为羟基与一些其他类型的聚合物能有更高的兼容性，包括某些醇酸树脂和某些类型的聚氨酯，提供良好的附着力，弹性，硬度和耐化学性。
    <br><br>
    这种粘结料经常用在双组份系统中。同所有的VC共聚物一样，H-2348具有高稳定性、永久柔韧性、高耐磨性、遇水较低的溶涨性和低的气体渗透性。
    由H-2348形成的漆膜有极其优异的耐水性、耐油性、耐油脂性、耐稀酸、耐碱以及耐盐性；在芳香烃类和氯化烃类溶剂中有不同程度的溶胀；
    H-2348具有耐脂肪烃类溶剂，例如白油，以及醇类溶剂的能力，也可以应用于活性涂料及油墨系统。

.box
  .box_header 功能
  .box_content
    涂料和油墨中的粘结料

.box
  .box_header 应用行业
  .box_content
    涂料，油墨

.box
  .box_header 应用领域
  .box_content
    硝基漆木器漆，聚氨酯木器漆，塑胶漆，塑料油墨。

.box
  .box_header 产品性能
  .box_content
    %table.table
      %tbody
        %tr
          %td{ rowspan: 3 } 聚合物组份，<br>重量百分比（%）
          %td 氯乙烯
          %td 75
        %tr
          %td 醋酸乙烯
          %td 23
        %tr
          %td 其它
          %td 2
        %tr
          %td{ rowspan: 5 } 活性官能团
          %td 种类
          %td 羟基
        %tr
          %td 重量百分比（%）
          %td 1.38
        %tr
          %td 羟基值
          %td 1.8
        %tr
          %td 玻璃转化温度（Tg）℃
          %td 70
        %tr
          %td 平均分子量，Mn
          %td 40000
        %tr
          %td{ rowspan: 2 } 溶液典型特性
          %td 环乙酮/甲苯
          %td 50/50
        %tr
          %td{ colspan: 2 } 粘度，20℃，厘泊，45±7
