---
layout: products-article
title: 氯醋树脂X-46
description: X-46氯醋树脂是氯乙烯，醋酸乙烯和乙烯醇共聚物树脂。X－46能提供良好的溶解度和羟基功能（ OH-基团）。
image: 
---
.box
  .box_header 产品简介
  .box_content
    X-46氯醋树脂是氯乙烯，醋酸乙烯和乙烯醇共聚物树脂。X－46能提供良好的溶解度和羟基功能（ OH-基团）。
    因为羟基与一些其他类型的聚合物能有更高的兼容性，包括某些醇酸树脂和某些类型的聚氨酯，提供良好的附着力，弹性，硬度和耐化学性。

.box
  .box_header X-46的应用
  .box_content
    涂料聚氨酯（ PU ）鞋类<br>
    印刷油墨的包装<br>
    防腐涂料：涂料具有高耐化学性<br>
    印刷油墨，用于皮革，造纸和塑料<br>
    木材油漆、家具漆<br>
    汽车漆和工业漆

.box
  .box_header 特性
  .box_content
    1、完全溶解于有机溶剂如酮，酯。溶解度非常好，拥有氯乙烯之高韧性和抗腐蚀性以及乙酸乙烯之强粘性和可塑性。<br>
    2、树脂之涂布无味，无嗅和透明。<br>
    3、高化学稳定性，不受酸和碱的影响。<br>
    4、抗潮性极好。<br>
    5、不易燃及不助燃。<br>
    6、树脂之热塑性令其涂层容易热封。羟基改性树脂可以使涂料具有快干的特性。<br>
    7、兼容性强，能与其他涂布树脂如醇酸树脂，脲醛树脂，聚氨脂和三聚氰胺树脂兼容。提高涂料的性能，如粘附性、韧性、硬度和耐化学性。<br>
    8、对有机颜料如磁铁粉及无机颜料如偶氮染料有优良的分散性。<br>
    9、树脂如含有羟基和羧基，其特性可因与异氰酸等架桥剂作用而改良。羟基的官能团使树脂可以和热固性树脂进行交联从而获得超卓的耐化学性（耐醇性）和耐水性。

.box
  .box_header 产品性能
  .box_content
    %table.table
      %tbody
        %tr
          %td 分子量
          %td 48,000
        %tr
          %td 羟值
          %td 38
        %tr
          %td 羟基当量
          %td 730
        %tr
          %td 特性粘度ASTM-D1243
          %td 300cp
        %tr
          %td 比重ASTM-D792
          %td 1.38
        %tr
          %td 玻璃化温度Tg, ℃
          %td 65
        %tr
          %td 溶液粘度,25℃,cP(30%固体份溶解于丁酯)
          %td 980
