---
layout: products-article
title: 氯醋树脂P-30
description: P-30是一种高分子量氯醋树脂，由大约86%的氯乙烯和14%的醋酸乙烯组成。
image: 
---
.box
  .box_header 产品简介
  .box_content
    P-30是一种高分子量氯醋树脂，由大约86%的氯乙烯和14%的醋酸乙烯组成。
    P-30提供了理想的耐化学性，溶解性，膜强度，以及热塑性，在纸，丙烯酸树脂，聚氯乙烯，ABS和PC等上有良好的附着力。

.box
  .box_header 物理性能
  .box_content
    %table.table
      %thead
        %tr
          %th 项目
          %th 指数
      %tbody
        %tr
          %td 外观
          %td 白色粉末
        %tr
          %td 白度
          %td ≥80
        %tr
          %td 成分（百分比）
          %td 氯乙烯 86±1%<br>醋酸乙烯 14±1%
        %tr
          %td 反应功能(羧基%)
          %td 0
        %tr
          %td K值
          %td 48-50
        %tr
          %td 粘度（ml/g）
          %td 56-60
        %tr
          %td 玻璃化温度 ℃
          %td 大约72
        %tr
          %td 平均分子量
          %td 大约27000
        %tr
          %td 细度60目
          %td 100%
        %tr
          %td 表观密度 (g/ml)
          %td ≥0.5
        %tr
          %td 挥发性物质(%)
          %td ≤1%
        %tr
          %td 杂质含量（100g）
          %td ≤20
        %tr
          %td 25% 的树脂甲乙酮/甲苯(50/50)
          %td 无色透明

.box
  .box_header P-30的应用
  .box_content
    P-30非常适合海洋和维护涂料，金属，能绘涂，可剥性涂料，PVC和纸张油墨，磁卡，电缆，橡胶和塑料，泡沫材料，皮革表面处理，皮革油墨，PU色母料和地板。

.box
  .box_header 包装，储存与运输
  .box_content
    在牛皮纸袋，PE袋内衬PP袋，每袋净重25公斤。<br>
    储存在干燥，通风处，不要放置在露天，避免阳光直射，防潮湿。<br>
    运输需干净，遮阳，保持防潮。它不具有危险性。
