---
layout: products-article
title: Tylose Hs30000YP2
description: Tylose Hs30000YP2 羟乙基纤维素（高醚化度，高生物稳定性及延长膨胀时间类）
image: 
---
.box
  .box_header 产品名称
  .box_content
    Tylose Hs30000YP2 羟乙基纤维素（高醚化度，高生物稳定性及延长膨胀时间类）

.box
  .box_header 性质
  .box_content
    %table.table
      %tbody
        %tr
          %td 物理状态
          %td 粉末状
        %tr
          %td 溶解性
          %td 水溶性（任何温度）
        %tr
          %td 离子性
          %td 非离子性
        %tr
          %td 产品标准
          %td 生产厂测试方法编号
        %tr
          %td 主要化学成份含量
          %td 最低89% 7100
        %tr
          %td 水份
          %td 最高6% 7130
        %tr
          %td 氯化钠盐含量
          %td 最高5% 7150
        %tr
          %td 分子大小
          %td ＜0.180mm（穿过80目） 最低95% 7000<br>＜0.100㎜（穿过140目） 最低45% 7000
        %tr
          %td 粘度
          %td 1.9%完全干燥，20℃, 20℃GH 26，000—43，000 7320 Hǒppler falling ball 粘度计 毫帕斯卡·秒

.box
  .box_header 化学特性
  .box_content
    羟乙基纤维素（HEC）作为一种非离子型的表面活性剂，除具有增稠、悬浮、粘合、乳化、成膜、分散保水及提供保护作用外，还具有下列性质：<br><br>
    1. HEC可溶于热水或冷水，高温或煮沸下不沉淀，使它具有大范围的溶解性和粘度特征：即非热凝胶性。<br>
    2. 本身非离子型可与大范围内的其他水溶性聚合物，表面活性剂、盐共存。是含高浓度电解质溶液的一种优良的胶体增稠剂。<br>
    3. 保水能力比甲基纤维素高出一倍，具有较好的流动调节性。<br>
    4. 粘度稳定、防霉变，并使涂料有较好的开罐效应，施工时有较好的流平性能。

.box
  .box_header 用途
  .box_content
    1. 用于水乳胶涂料：<br>
    HEC作为保护胶体，可用于醋酸乙烯乳液聚合,提高聚合体系在宽PH值范围内的稳定性。在成品制造中使颜料、填料等添加剂均匀分散，稳定并提供增稠作用。
    也可用于苯乙烯，丙烯酸脂、丙烯等悬浮聚合物作分散剂，用于乳胶漆中可显著提高增稠性，提高流平性能。<br><br>
    2．石油钻井方面：<br>
    在钻井定井固井和压裂操作所需要的各种泥浆中HEC作为增稠剂使泥浆获得良好的流动性和稳定性。
    在钻井中提高泥浆携带能力，并防止大量水份从泥浆进入油层，稳定了油层的生产能力。<br><br>
    3. 用于建筑施工和建材：<br>
    由于保水能力较强，可改善流动性和施工性能，并能延长水分蒸发时间。提高混凝土初期强度和避免裂纹。
    用于粉刷石膏，粘结石膏，石膏腻子可显著提高其保水性和粘结强度。<br><br>
    4. 用于水性油墨中：<br>
    HEC可使油墨干燥快、不渗透。<br><br>
    另外，HEC还广泛用于纺织印染、造纸、日用化学品等方面。

.box
  .box_header 包装及存储
  .box_content
    Tylose的产品会以多层纸袋附以PE胶内层的包装，每包净重25公斤，每卡板40包，共1000公斤。如密封及存储于干燥环境之下，Tylose可长时间保存。
