---
layout: products-article
title: 羧甲基纤维素CM-30000
description: 白色或淡黄色粉末。具有湿润性，可溶于水，在中性或微碱性时为高粘度液体。对化学药品、热、光稳定。无臭、无味。
image: 
---
#carousel.carousel.slide
  %ol.carousel-indicators
    %li.active{ data: { target: "#carousel", slide: { to: 0 } } }
    %li{ data: { target: "#carousel", slide: { to: 1 } } }
    %li{ data: { target: "#carousel", slide: { to: 2 } } }
  .carousel-inner
    .item.active
      %img{ src: "/images/cellulose/cellulose-1.jpg", height: 450 }
      .carousel-caption
    .item
      %img{ src: "/images/cellulose/cellulose-2.jpg", height: 450 }
      .carousel-caption
    .item
      %img{ src: "/images/cellulose/cellulose-3.jpg", height: 450 }
      .carousel-caption
  %a.left.carousel-control{ href: "#carousel", data: { slide: "prev" } }
    %span.icon-prev
  %a.right.carousel-control{ href: "#carousel", data: { slide: "next" } }
    %span.icon-next

.box
  .box_header 性质
  .box_content
    白色或淡黄色粉末。具有湿润性，可溶于水，在中性或微碱性时为高粘度液体。
    对化学药品、热、光稳定。无臭、无味。
    CMC是纤维素经羧甲基化而制得的聚合物，纯的羧甲基纤维素无实用价值，实际使用的是其钠盐。

.box
  .box_header 用途
  .box_content
    CMC的最大用途是配制肥皂及合成洗涤剂，在重级清洁剂中大约添加1%的CMC，用以防止洗出的污物再沉淀于织物上。
    其次是用作石油工业钻井泥浆的悬浮稳定剂，在造纸工业中作添加剂可提高纸的纵向强度和平滑度，
    作涂料可提高纸的印刷可适应性，在食品工业中用作增稠剂、乳液稳定剂及冰淇淋的冰晶抑制剂；
    在纺织工业中用作浆剂、印染浆的增稠剂；在医药工业中可作针剂的乳化稳定剂、片剂的粘结剂和成膜剂；
    在化妆品中、陶瓷等生产中用作增稠剂。
