---
layout: products-article
title: 羟乙基纤维素HEC30000
description: 羟乙基纤维素是一种非离子型水溶性高聚合物，具有增稠、悬浮、乳化、成膜、保水和稳定作用。
image: 
---
.box
  .box_header 产品简介
  .box_content
    羟乙基纤维素是一种非离子型水溶性高聚合物，具有增稠、悬浮、乳化、成膜、保水和稳定作用，
    尤其在涂料应用中具有溶液易调配、极好的相容性、容易施工、涂层成膜性极佳等特点，
    可赋予涂料良好的稳定性、流平性和展色性，是涂料生产中的优良助剂。

.box
  .box_header 型号
  .box_content
    HEC15000 / HEC30000 / HEC60000 / HEC100000 供货地：中国·广东

.box
  .box_header 技术指标
  .box_content
    外观：白色粉末 
    %table.table
      %thead
        %tr
          %th{ rowspan: 2 } 型号
          %th{ rowspan: 2 } DS取代度
          %th{ rowspan: 2 } 水份(%)
          %th{ rowspan: 2 } 水不溶物(%)
          %th{ rowspan: 2 } 灰份(%)
          %th{ rowspan: 2 } 透光率(%)
          %th{ rowspan: 2 } 2%水溶液PH值
          %th{ colspan: 3 } NDJ-1型旋转式粘度计Mpa.s20%水溶液、20℃
        %tr
          %th 粘度范围
          %th 定轴号
          %th 定轴转数
      %tbody
        %tr
          %td HEC-15000
          %td 1.8-2.0
          %td ≤6
          %td ≤0.5
          %td ≤7
          %td ≥88
          %td 6-7
          %td 12000-18000
          %td 3
          %td 6
        %tr
          %td HEC-30000
          %td 1.8-2.0
          %td ≤6
          %td ≤0.5
          %td ≤7
          %td ≥88
          %td 6-7
          %td 28000-38000
          %td 4
          %td 12
        %tr
          %td HEC-60000
          %td 1.8-2.0
          %td ≤6
          %td ≤0.5
          %td ≤7
          %td ≥88
          %td 6-7
          %td 55000-65000
          %td 4
          %td 6
        %tr
          %td HEC-100000
          %td 1.8-2.0
          %td ≤6
          %td ≤0.5
          %td ≤7
          %td ≥88
          %td 6-7
          %td ＞85000
          %td 4
          %td 6

.box
  .box_header 用途与用量
  .box_content
    在建筑涂料、黏合剂工业中用作增稠剂，用量为总漆量的0.3～0.5%，预先配成2%的水溶液，在高速分散时加入。

.box
  .box_header 包装和贮存
  .box_content
    本品用内衬聚乙烯膜的纸袋包装，25kg每袋。置于阴凉干燥处，密封，可贮存长久。
