---
layout: products-article
title: 玻璃粉S-45
description: 玻璃粉末为无定型硬质颗粒，生产中使用原料为PbO、SiO2、TiO2等电子级原料混匀后，再高温进行固相反应，形成无序结构的玻璃均质体，化学性质稳定，其耐酸性已远远超过氧化铅。
image: 
---
.box
  .box_header 产品简介
  .box_content
    玻璃粉末为无定型硬质颗粒，生产中使用原料为PbO、SiO2、TiO2等电子级原料混匀后，
    再高温进行固相反应，形成无序结构的玻璃均质体，化学性质稳定，其耐酸性已远远超过氧化铅，
    但在化学组成表达中按通常 惯例折合成氧化物形成，如： PbO ， SiO2 等表示。请注意区别。

.box
  .box_header 物理指标
  .box_content
    %table.table
      %thead
        %tr
          %th 项目
          %th 值
      %tbody
        %tr
          %td 外观
          %td 白色粉末
        %tr
          %td 白度
          %td ≥93
        %tr
          %td PH值
          %td 6-7
        %tr
          %td 平均粒径
          %td 2.5±0.5um
        %tr
          %td 比重
          %td 2.7g/ml
        %tr
          %td 吸油量
          %td 28±2.5g/100g
        %tr
          %td 莫氏硬度
          %td 7.8
        %tr
          %td 化学成分
          %td 硅酸盐类

.box
  .box_header 特性
  .box_content
    1、玻璃粉透明度好、硬度高、粒径分布均匀。<br>
    2、玻璃粉分散性好，与树脂和油漆体系中的其他成分相溶性佳。<br>
    3、玻璃粉经多次表面处理，在油漆体系中作填充，漆膜不带蓝光，重涂性好。<br>
    4、用在高档耐刮伤面漆中，可增加面漆的硬度、韧度，提高漆膜的抗刮伤性能，具有消光作用，可提高漆膜的耐候性。<br>
    5、同比滑石粉，玻璃粉在油漆开稀后较易沉淀，故防沉措施应适当加强。

.box
  .box_header 应用说明
  .box_content
    玻璃粉是一种易打磨抗划高透明粉料，粒径小、分散性好、透明度高、防沉效果较好；
    经过多次表面改进，具有良好的亲和能力，并且有较强的位阻能力，能方便地分散于涂料中，
    成膜后可增加涂料丰满度，制成的水晶透明底漆类，既保持清漆的透明度，又提供良好的打磨性。
    主要用于生产高档家俱时作水晶底漆用。也广泛用作装修用底面两用漆。
    适用范围：聚脂漆、聚氨脂漆、硝基漆、醇酸漆、丙烯酸漆、乙烯酸漆等，PE透明底漆等。
    玻璃粉在涂料中主要用于生产高档家具时作水晶底漆用，也广泛用作装修用底面两用漆。建议添加比例5%-10%。
