---
layout: news-article
title: 石油化工产业或成营口经济第一增长极
description: 9月5日，由辽宁省科协，中国化工学会，营口市委、市人民政府共同主办的辽宁省第七届学术年会暨2013辽宁（营口）精细化工产业发展论坛上传出消息，随着一批大型项目的推进，石化业有望成为营口经济第一增长极。
---
%p 慧聪化工网讯：9月5日，由辽宁省科协，中国化工学会，营口市委、市人民政府共同主办的辽宁省第七届学术年会暨2013辽宁（营口）精细化工产业发展论坛上传出消息，随着一批大型项目的推进，石化业有望成为营口经济第一增长极。
%p 辽宁省科协主席、中国工程院院士王天然在致词中强调，化工是辽宁国民经济的基础产业和支柱产业，发展精细化工产业是营口市现阶段实现在辽宁沿海经济带建设中率先崛起的需要。营口市具有发展精细化工产业的良好基础，全市拥有200户精细化工企业，有港口优势和资源优势，以及良好的技术和人才支撑。他希望营口加快引进国内高端智力资源，促进先进科技与产业的深度融合，切实推进精细化工产业发展。
%p 据营口市委书记魏小平介绍，近年来营口市石化产业发展势头强劲，80万吨/年聚酯、2.4亿立方米/年LNG、23万立方米液体化学品储罐、40万吨/年EVA以及丙烯腈、抗氧化剂等项目尽显发展优势；随着聚酰亚胺、120万吨/年电极焦和10万吨/年碳九加氢等项目建设加快推进，以及700万吨/年渣油催化裂解制烯烃（DCC）、20万吨/年非离子表面活性剂、20万吨/年环氧乙烷等项目正式落地，营口正在向石化产业高端化、精细化、产业链完整的方向快速发展，石化业有望成为营口经济第一增长极。
%p 记者了解到，上半年营口市仙人岛能源化工区、向阳科技产业园两个主要石化产业承载区实现销售收入同比分别增长55.8%、32.9%，继续保持快速增长势头。
