---
layout: news-article
title: 货源偏紧 重碱价格月涨超7% 多地纯碱市场货紧
description: 近两个月来多地纯碱市场货源偏紧，导致国内轻、重碱价格普遍上涨。根据相关机构估算，8月以来，国内轻、重碱产品的涨幅分别达到4.09%和7.41%，创下近两年来最大月度涨幅。
---
%p 中国化工机械网讯：记者从业内获悉，近两个月来多地纯碱市场货源偏紧，导致国内轻、重碱价格普遍上涨。根据相关机构估算，8月以来，国内轻、重碱产品的涨幅分别达到4.09%和7.41%，创下近两年来最大月度涨幅。业内预计，下游浮法玻璃需求持续旺盛，加之双环科技因涉嫌超标排污被责令停产整顿，产品供求关系持续紧张将助推纯碱产品价格继续回升，青岛碱业等上市公司将在本轮提价潮中获益明显。 
%p 玻璃提价拉涨纯碱 
%p 实际上，纯碱产品价格的反弹从6月份已经开始，进入8月后市场更是加速上涨，库存下降明显，多地出现货源偏紧的局面。9月5日，国内联碱厂家轻碱主流出厂价格在1150-1250元/吨，氨碱厂家轻碱主流出厂价格在1300-1350元/吨，重碱主流送到价格在1400-1450元/吨，较本轮涨价潮起步阶段来说，轻、重碱的涨幅分别达到4.09%和7.41%。 
%p 卓创资讯分析师陈秋莎向中国证券报记者表示，浮法玻璃价格下半年以来持续上涨，对纯碱产品的拉动作用巨大。玻璃工业是纯碱的最大消费部门，每吨玻璃消耗纯碱0.2吨。受房地产和汽车市场的拉动，今年国内浮法玻璃价格一路走高，多数厂家成功扭亏为盈，新增浮法线明显较多。截至9月初，机构统计的新增、复产浮法线多达40条，冷修浮法线25条。在平板玻璃市场旺盛需求支撑下，国内重碱货源偏紧，价格持续上涨。 
%p 而重碱市场的走好也间接利好轻碱市场。在重灰价格偏高，货源紧张的情况下，华中、华东地区部分联碱厂家调整生产比例，增加重碱产量，削减轻碱产量，在很大程度上提振轻碱市场。 
%p 整体来看，国内纯碱货源依旧偏紧，尤其是重灰，部分厂家订单充足，9月份拉涨心态强烈。中宇资讯分析师于娜娜预计，由于产能严重过剩，此前纯碱公司的相关产品均为亏损，目前多数厂家挺价意愿强烈，随着纯碱价格的回升，部分厂家纯碱产品已开始出现盈利。 
%p 货源偏紧料持续 
%p 需求攀升的背景下，纯碱供给却表现出缩减趋势。纯碱厂家长期执行限产保价政策，山东海化、青岛碱业、连云港碱厂等企业开工负荷长期在6-7成。此外，纯碱检修厂家的增多也直接导致了货源紧张。7、8月份是传统的检修旺季，近2/3的纯碱厂家选择这个时期进行检修。9月份以来，三友化工轻碱装置开始轮修，山东海化重碱装置也在进行技术改造，纯碱供应偏紧格局料将延续。 
%p 今年的高温干旱天气也加剧了纯碱产品货源紧张的局面。今年夏天南方多省长时间笼罩在高温之下，为保证生活用电，江苏、安徽、浙江地区一度采取限电措施，影响厂家正常开工。受干旱缺水影响，湖北地区纯碱厂家开工负荷一度受到严重影响。 
%p 相关分析认为，湖北双环科技因环保问题被责令停业整顿，公司“遭殃”的同时却可能再度带火纯碱行业。根据隆众分析师石磊估算，按照本轮停产周期一周计，双环科技纯碱和氯化铵产品的销售额损失将超过2000万元。但由于突发事件将加剧货源紧张状况，华中、华南地区纯碱市场受影响较大，厂家涨价心态更加坚决。 
%p 根据隆众提供的数字，截至9月5日，周边纯碱厂家对“双环事件”闻风而动，纯碱价格再次上涨20-50元/吨不等。有消息称双环纯碱不少订单将无法交付，短期内复产难度较大，而华中、华南地区会受到双环缺货影响，市场价格将再次有50-100元/吨不等的上涨，国内其他地区也以小幅跟进为主。随着纯碱的持续拉高，青岛碱业、山东海化、三友化工等将受益明显。
