---
layout: news-article
title: 纯苯、醋酸乙酯跌势不减 己二酸、DMF价差扩大利好
description: 未来一段时间，基础化工行业的发展态势为：（1）WTI原油价剧烈波动；（2）化工品价格整体进入下行通道；（3）实质性需求复苏有待观察；（4）环保、节能继续造成部分子行业供给端收缩。重点关注子行业。
---
%p 未来一段时间，基础化工行业的发展态势为：（1）WTI原油价剧烈波动；（2）化工品价格整体进入下行通道；（3）实质性需求复苏有待观察；（4）环保、节能继续造成部分子行业供给端收缩。重点关注子行业。
%p 子行业方面，可重点关注：（1）工程胶粘剂；（2）POF膜；（3）复合肥行业；（4）精细化工与转型升级类企业；（5）MDI行业。
%p 化工品：原油、橡胶价格下跌，煤炭、棉花平稳；化工品价格下行，价差涨跌相当。
%p （一）原油、橡胶价格下跌，煤炭、棉花平稳。
%p （二）化工品价格有所下行。
%p 在我们跟踪的231个产品中，本周与上周比：13种产品价格上涨，107种产品价格平稳，111种产品价格下跌，三类产品个数分别占到总产品个数的6%、46%和48%.价格涨幅较大的产品包括：无。价格跌幅较大的产品包括：国际纯苯（-15.8%）、醋酸乙烯（-14.2%）、国际苯乙烯（-13.6%）、国际丙烯（-13.2%）、国际甲苯（-12.7%）、甲苯（-12.6%）、国际石脑油（-12.3%）、纯苯（-12.0%）、苯乙烯（-11.9%）、液化气（C4、青岛石化）（-11.3%）、工业萘（-9.7%）、苯酚（-9.5%）、丙烯酸（-9.3%）、国际燃料油（-8.9%）、PP（-8.6%）、WTI原油（-8.6%）、乙烯焦油（-8.4%）、PTA（-8.4%）、布伦特原油（-7.7%）、EPS（阻燃料）（-7.6%）、OPEC一揽子原油（-7.5%）、普通沥青（-7.4%）、丙酮（-7.4%）、国际汽油（-7.2%）、LDPE（-6.8%）、大庆原油（-6.8%）、迪拜原油（-6.7%）、液化气（长岭炼化）（-6.7%）、辛塔原油（-6.6%）、LLDPE（-6.6%）、顺丁橡胶（-6.4%）、涤纶长丝FDY（-6.4%）、苯胺（-6.3%）、PET切片（-6.2%）、HDPE（-5.7%）、环氧乙烷（-5.7%）、涤纶长丝POY（-5.5%）、国际柴油（-5.4%）、甲醇（-5.2%）。
%p （三）化工品盈利涨跌相当。
%p 在我们跟踪的43个产品价差中，与上周相比：15种产品价差扩大，9种产品价差平稳，19种产品价差缩小，三类产品个数占比分别为35%、21%和44%.价差扩大幅度较大的产品为：己二酸（65.5%）、涤纶短纤（21.9%）、DMF（21.5%）、环氧丙烷（11.2%）、黄磷（8.4%）。价差缩小幅度较大的产品为：乙烯法PVC（-55.7%）、PTA（-55.1%）、甲醇（-9.4%）、顺酐法BDO（-8.5%）、涤纶长丝FDY（-7.8%）、乙二醇（-5.6%）。
