---
layout: news-article
title: 12月16日混二甲苯商品指数为48.73
description: 12月16日混二甲苯商品指数为48.73，较昨日下降了2.83点，创下周期内的历史新低，较2012年12月23日最高点105.85点下降了53.96%。(注：周期指2011-09-01至今)
---
%p 12月16日混二甲苯商品指数为48.73，较昨日下降了2.83点，创下周期内的历史新低，较2012年12月23日最高点105.85点下降了53.96%。(注：周期指2011-09-01至今)
%p
  %img(src="http://www.100ppi.com/graph/ppi_ci/graph/145-----1.png")
