---
layout: news-article
title: 涂料行情： 涂料企业走上环保分岔路
description: 随着雾霾天气的时常“光顾”，严重的损害了人们的健康，因此，国家相关部门在近几年相继出台了《大气污染防治行动计划》、《建设项目环境影响评价政府信息公开指南》及《关于切实加强环境影响评价监督管理工作的通知》等多项环保政策，加大对于环境污染的治理。
---
%p 【昊客云台讯】：随着雾霾天气的时常“光顾”，严重的损害了人们的健康，因此，国家相关部门在近几年相继出台了《大气污染防治行动计划》、《建设项目环境影响评价政府信息公开指南》及《关于切实加强环境影响评价监督管理工作的通知》等多项环保政策，加大对于环境污染的治理。然而涂料作为化工业的重污染产业，也被列入治理之列。根据昊客云台了解，在国务院9月份发布的《国务院关于印发大气污染防治行动计划的通知》中特意对我国涂料行业今后的发展做了重要的指示。
%p 该通知指出，在石化、有机化工、表面涂装、包装印刷等行业实施挥发性有机物综合整治，在石化行业开展“泄漏检测与修复”技术改造。限时完成加油站、储油库、油罐车的油气回收治理，在原油成品油码头积极开展油气回收治理。完善涂料、胶粘剂等产品挥发性有机物限值标准，推广使用水性涂料，鼓励生产、销售和使用低毒、低挥发性有机溶剂。
%p 提供水性涂料发展，必将对我国溶剂型涂料企业发展空间造成严重的影响，然而，目前我国有近60%的涂料企业仍是以溶剂型涂料为主。
%p 未来3~5年里，在溶剂型涂料市场大幅缩水的情况下，溶剂型涂料企业想生存下去，就必须结合产业发展实际和环境质量状况，对布局分散、装备水平低、环保设施差的小型涂料企业进行全面排查，制定综合整改方案，实施分类治理。进一步提高环保、能耗、安全、质量等标准，淘汰一部分落后小型涂料企业，对于中型溶剂型企业，需以兼并重组为主，通过企业间资源的整合，产业转型升级。
%p 所以在2014年我国涂料将以环保为主题，在坚持环保的前提下，实现可持续发展。
