---
layout: news-article
title: 4月22日涂料原材料价格走势分析
description: 氧氯化锆：4月22日，国内工业级氧氯化锆出厂均价在9000元/吨左右，相较2014年初均价下滑，降价金额约400元/吨，估计目前国内成交均价在8700元/吨附近，个别企业有差异。
---
%p 【中国涂料采购网】氧氯化锆：4月22日，国内工业级氧氯化锆出厂均价在9000元/吨左右，相较2014年初均价下滑，降价金额约400元/吨，估计目前国内成交均价在8700元/吨附近，个别企业有差异。主流大型企业成交均价在8850元/吨附近，中小型企业多在8500元/吨附近(以上价格仅供参考，详情请联系厂家)。目前厂家多已开工生产，但产量不大，仍以销售库存为主，需求一般，市场弱势运行。
%p 二氧化锆：4月22日，国内工业级二氧化锆(主要用于陶瓷耐火材料方面)出厂均价在31000元/吨左右，相较2014年初市场下行，降价金额约800元/吨，估计目前国内成交均价在30000元/吨附近，个别企业有差异。主流大型企业成交均价在32000元/吨附近，中小型企业多在29000元/吨附近(以上价格仅供参考，详情请联系厂家)。目前厂家多已开工生产，但产量不大，仍以销售库存为主，需求一般，市场弱势运行。
%p 丁二烯：现阶段茂名石化装置恢复，但库存依旧低位，预计国内丁二烯如中石化企业或会继续下行，国内均价或在8000～8200元/吨左右。今日国内丁二烯持稳。上周，中石油东北的丁二烯互供价大幅下挫，跌至7500元/吨，而昨日辽通化工下调丁二烯价格400元/吨至7910元/吨，亚洲丁二烯价格上周五则持续维稳。
