---
layout: news-article
title: 油价暴跌致石化板块表现抢眼 沈阳化工涨近4%
description: 金融界网站12月1日讯：周一早盘，石化板块表现抢眼 ，截止发稿时，沈阳化工(行情,问诊)涨4.08%，上海石化(行情,问诊)涨2.84%、中国石油(行情,问诊)、中国石化(行情,问诊)、广聚能源(行情,问诊)等均有不错表现。
---
%p 金融界网站12月1日讯：周一早盘，石化板块表现抢眼 ，截止发稿时，沈阳化工(行情,问诊)涨4.08%，上海石化(行情,问诊)涨2.84%、中国石油(行情,问诊)、中国石化(行情,问诊)、广聚能源(行情,问诊)等均有不错表现。
%p 当地时间28日，美国原油期货跌破每桶66美元，创出4年多以来的新低，周跌幅高达14%。消息面上，沙特石油部长近日表示，OPEC必须与美国页岩油热潮作战，反对削减原油产出。与此同时，其他大宗商品也以下跌为主，铜、银周跌幅逾5%。
