---
layout: news-article
title: 7月2日涂料原材料价格动态
description: 粗苯：今日粗苯市场报价主流价位在7400-7700元/吨，上调200-400元/吨。现山东地区粗苯主流价在7700元/吨左右;山西粗苯主流价在7400元/吨左右;河北粗苯主流价在7550-7600元/吨左右;宁夏内蒙粗苯主流价在6900元/吨左右。
---
%p 【中国涂料采购网】粗苯：今日粗苯市场报价主流价位在7400-7700元/吨，上调200-400元/吨。现山东地区粗苯主流价在7700元/吨左右;山西粗苯主流价在7400元/吨左右;河北粗苯主流价在7550-7600元/吨左右;宁夏内蒙粗苯主流价在6900元/吨左右。
%p 1日山西大土河240吨粗苯拍卖，最终7200元/吨成交，较上周上调230元/吨，给市场一片鼓舞，带来信心，厂家纷纷跟涨200-400元/吨不等。下游焦化苯和加氢苯价格也大幅跟涨，厂家库存低位。预计粗苯市场上涨后维持高位盘整，后市价格在7400-7700元/吨。
%p 正丁醇：今日正丁醇市场，厂家价格平稳，工厂报价多在8100-8400元/吨。其中，齐鲁正丁醇报价8400元/吨，装置负荷降至7成，库存不多;鲁西化工正丁醇报价8200-8300元/吨，开工七成，主要供应下游厂家客户;吉林石化正丁报价8100-8300元/吨;大庆正丁报价8100-8300元/吨，开工7-8成;利华益正丁醇报价8300-8400元/吨，开工7-8成，销售一般;天津碱厂正丁醇装置满负荷运行，报价在8300-8400元/吨，成交库存合理。
%p 上游丙烯价格基本平稳，现报价10350-10450元/吨;下游丁酯按需采购，需求一般。华东正丁醇经销价格在8500-8550元/吨，山东正丁醇经销价格在8350-8400元/吨。由于港口库存不多，厂家价格坚挺，预计正丁醇后市仍以平稳运行为主。
%p 丙烯：7月2日天华东丙烯基本平稳，个别企业小幅降价50元/吨。现主流成交价在10350-10450元/吨。上游石脑油价格有小幅上调，成本面得到支撑;下游环氧丙烷现有所下探;下游PP价格也有所下滑;下游丁辛醇价格较坚挺。厂家现存库存压力，在外盘丙烯的支撑下，价格较坚挺，下游情况不容乐观，预计丙烯市场后市以平稳走势为主，或有小幅下跌。
%p 石油树脂：2日，国内石油树脂市场下行趋势明显，5#C5石油树脂市场主流价格集中在12500-13000元/吨之间，实际成交价格在12400-12800元/吨之间。受下游需求不济影响。炼厂走货不畅，受夏季天气影响，不利于石油树脂储存和运输，下游买货意愿不强，刚需为主。上下游产业均表现萎靡，预计7月石油树脂市场跌势难挡。
%p 丙烯酸：今日丙烯酸延续维稳走势，目前山东地区普酸主流报价在9900-10100元/吨，华东地区普酸报价在9900-10100元/吨，华南普酸报价10800-11300元/吨。
%p 上游丙烯价格有小幅下滑，价格在10350-10450元/吨;下游需求一般，刚需补货。在供需波动不大的情况下，预计丙烯酸后市仍以平稳走势为主。
