---
layout: news-article
title: 山西煤化所开发的萘加氢制备十氢萘完成稳定性实验
description: 日前，山西煤化所开发的萘两段加氢制备十氢萘工艺及配套催化剂完成2000小时稳定性实验。
---
%p （中华化工网讯)日前，山西煤化所开发的萘两段加氢制备十氢萘工艺及配套催化剂完成2000小时稳定性实验。
%p 据介绍，山西煤化所技术人员凭借在加氢方面的技术优势，提出了两段加氢的工艺方案，并开发出相应的配套催化剂，成功解决了反应压力高、催化剂寿命短、选择性差等关键技术问题，将反应压力由原来的5~10MPa降至3MPa。2000小时稳定性实验表明，催化剂具有很高的活性和选择性，萘的转化率和十氢萘的选择性均为100%。
%p 十氢萘是一种优良的高沸点有机溶剂，能溶解某些高分子化合物，是超高相对分子质量聚乙烯干法纺丝工艺的适宜溶剂，还可作为涂料的溶剂以及燃料电池的储氢媒体。
