---
layout: news-article
title: 纯苯、醋酸乙酯跌势不减 己二酸、DMF价差扩大利好
description: 我们监测的最新中信建投化工景气指数为-44.38，前周-43.82；上周二级市场基础化工指数（中信）涨2.12%，上证涨0.02%，上周五Brent油价报61.85美元/桶，跌2.87%，周跌幅10.35%.国际能源署12月12日表示，油价将可能面临进一步下跌压力
---
%p 我们监测的最新中信建投化工景气指数为-44.38，前周-43.82；上周二级市场基础化工指数（中信）涨2.12%，上证涨0.02%，上周五Brent油价报61.85美元/桶，跌2.87%，周跌幅10.35%.国际能源署12月12日表示，油价将可能面临进一步下跌压力，同时下调2015年需求增长预期，并预计非石油输出国组织国家的稳健石油供应增长将加深全球油市供大于求的局面，供应过剩和需求低迷，布伦特原油触及五年半低位。
%p 从沙特所做的维持产量不变及主动下调油价的竞争策略来看，OPEC和美国页岩油之间的原油战争在所难免，我们预计布伦特原油价格将跌至60美元/桶，届时将压制美国页岩油的盈利空间；短期来看页岩油行业的投资环比已经出现下降，预计在部分页岩油产能退出市场后，原油价格才有反弹的可能。因OPEC和美页岩油之间博弈，短期我们预计原油价格有继续下行的空间，预计未来2年内，原油价格维持在80美元/桶以下的概率较大。
%p 短期油价暴跌，必然冲击化工品市场，国内化工价格出现普跌，从油价和下游产品价格及对应产品盈利走势来看，在油价下行过程中，化工产品的盈利能力将下降；但从中长期角度来看，原油价格下行不仅有利于降低企业的生产成本，同时有利于降低全社会的运行成本，拉动经济增长；经济的增长也将进一步拉动化工需求。
%p 我们认为随着油价底部的出现，化工行业产品价格底部将很快到来增长也将进一步拉动化工需求。我们认为随着油价底部的出现，化工行业产品价格底部将很快到来
