---
layout: news-article
title: “雾霾多发” 元芳，你怎么看？
description: CILE2013第五届中国低碳环保产业博览会将于3月21日-23日在北京展览馆举办，组委会呼吁更多从事低碳、节能、环保的企业和个人参与到此次活动中来，为保护及优化我们的生存环境做出力所能及的贡献。一年度仅此一次，让我们一同努力拯救环境。
---
%p ------CILE-中国国际低碳产业博览会组委会提醒您关注环保、关爱生命
%p CILE2013第五届中国低碳环保产业博览会将于3月21日-23日在北京展览馆举办，组委会呼吁更多从事低碳、节能、环保的企业和个人参与到此次活动中来，为保护及优化我们的生存环境做出力所能及的贡献。一年度仅此一次，让我们一同努力拯救环境。
%p 1. 关心环境的政界人士及决策者：欢迎莅临本会关注高科技低碳、节能、环保产品的最前沿技术，并对于高效产品企业给予大力支持。
%p 2. 经销商及代理商：欢迎免费参观本会，并与拥有最新技术和产品的厂家倾力合作，为全球环保事业尽一份力。
%p 3. 投资商：欢迎你们对于优秀厂家给予大力的关注和支持。
%p 4. 其他关注低碳节能环保人士：欢迎免费参观，不论您的行业，不论您的年龄，组委会都大力欢迎一切环保人士参与并在现场的万人签名墙留下您的笔迹以示环保决心。
%p 【雾霾天气保健小贴士】：
%p 1. 雾天少开窗，开窗通风宜在太阳出来之后；
%p 2. 外出戴口罩-防止粉尘进入体内；
%p 3. 关节多穿衣，防湿保暖护腰椎；
%p 4. 多食豆类和牛奶，适量补充维生素D，避免精神懒散、情绪低落等现象；
%p 5. 饮食清淡多喝水，吃橙吃橘清润肺
%p 【CILE中国国际低碳环保产业博览会组委会】
