---
layout: news-article
title: 金陵石化芳烃生产进入“安全模式”
description: 11月27日，金陵石化芳烃中控室门前，长周期运行记录牌上耀眼的大红字显示，“安全运行2066天”。
---
%p 11月27日，金陵石化芳烃中控室门前，长周期运行记录牌上耀眼的大红字显示，“安全运行2066天”。
%p 2008年装置开工以来，该运行部通过实战演练、细化制度、强化监控等举措，安全生产步入良性轨道，连续6年未发生安全事故，进入了“安全模式”。
%p 全员演练，提升实战能力
%p 11月24日9：00，对苯装置运行一班外操袁勇保，巡检发现脱庚烷塔底泵密封冻裂，物料“泄漏着火”，立即用对讲机汇报，运行部马上启动应急预案，相关人员奔赴现场扑救。
%p 这是该运行部举行的一次应急演练的场景。
%p 长期以来，运行部定期开展全员防硫化氢中毒，防冻防凝、火灾等一系列演练。他们演练前仔细筹划，演练中严格步骤，演练后总结完善。让职工掌握各种险情的处置方法，能够从容应急。
%p “今年，班组这样的‘实战’演练已进行了100多次，操作人员应急处置能力提高明显，比如，今年班组很好地处理了外网晃电，保证了正常生产。”运行部安全总监孙康介绍。
%p 同时，运行部从严承包商的安全教育，通过PPT、电视等多种形式，将大量的事故案例、常见问题、规章制度图文并茂展示，保证施工人员准确了解施工区域的安全，严守规定，杜绝“三违”。
%p 他们层层审核施工作业，严格把关。对于高空、进罐、动火等特殊作业，技术、设备、安环等人员联合到场确认，全程监控，确保万无一失。
%p 细化制度，重视安环细节
%p “把戴耳塞好！”11月27日凌晨两点，对苯运行三班职工小张戴牢安全帽，系好袖口和下摆，携带上硫化氢报警仪、测温仪等设备，准备出发巡检时，同事老李提醒。
%p “谢谢，差点忘了，被巡检员查出要扣分的。”小张连声说，并赶紧戴好耳塞，一切确认无误后，才向装置走去。
%p 近年来，运行部经过长期的教育，安全意识已深入人心，实现了由“要我安全”到“我要安全”的转变。同时，具体细化了45项岗位职责，责任明晰，量化考核。
%p 他们每周编制安全工作清单，进一步明确、细化工作内容，消除安全死角。利用周岗检、月岗检，重点检查安全措施落实、安全隐患整改情况，督促职工严守安全。同时，他们建立承包商HSE绩效档案，对其现场违章进行登记、分析和总结，严格考核，规范施工作业。
%p HSE监督员，24小时把关
%p “今天，轮到我当一日HSE监督员，戴上红袖章，感觉真不一样，有责任和压力。”11月27日，芳烃运行一班蔡涛，一边扫巡周围“危情”一边说。
%p 自2010实行“一日HSE监督员”制度以来，芳烃运行部每位职工轮流当一天HSE监督员。24小时都有HSE监督员在现场，对装置内所有的人员行为、车辆进出、设备运行、“三废”排放、施工作业、票证管理、劳纪遵守等情况进行监督，实施“全员、全方位、全过程、全天候”的安全监督，发现违章及时处理，把隐患消灭在萌芽状态。今年，HSE监督员发现隐患数十起，有效遏制了装置非计划停工。
%p 同时，芳烃运行部从投产开始，便实施“钳、电、仪、管、操”联合巡检员制度，操作人员与钳电仪等人员协同巡查机泵、仪表、压缩机等设备，加强对关键设备的重点监护。他们每天通过这种联合巡检，能够看出专业性较强问题的“门道”，像歧化板E101焊缝泄漏、对苯旋转阀关节销磨损等设备较隐性故障，都能及时发现和迅速处理。
%p 多年来，芳烃联合装置1000余台机泵、30多个关键设备都被维护得很“健康”，保障了设备安全。
