---
layout: news-article
title: 美国化学学会:美国进口的大米中中国含铅量最高
description: 据英国广播公司4月10日报道，美国化学学会年会发表有关大米的研究报告称，美国进口的大米含铅量远超安全水平，进食者的铅摄取量严重超出美国食品及药物管理局(FDA)设立的标准，对儿童健康影响尤甚，其中来自中国大陆和台湾地区的大米铅含量最高。
---
%p 中华化工网讯 据英国广播公司4月10日报道，美国化学学会年会发表有关大米的研究报告称，美国进口的大米含铅量远超安全水平，进食者的铅摄取量严重超出美国食品及药物管理局(FDA)设立的标准，对儿童健康影响尤甚，其中来自中国大陆和台湾地区的大米铅含量最高。
%p 据报道，前日美国蒙茅斯大学(Monmouth University)环境化学专家通埃萨伊(Tsanangurayi Tongesayi)博士于美国化学学会年会发表了有关美国进口大米的研究报告。目前美国大米有7%为进口大米，来源地包括中国大陆和台湾地区、泰国、印度、不丹、意大利、以色列和捷克等地。研究员抽取各来源地的大米样本，检验其含铅量，再按美国不同族群每日平均进食的大米分量，计算不同族群的铅摄取量，与食品及药物管理局的建议可容许摄取量比较。
%p 研究发现，大米样本的含铅量约为每公斤6至12毫克，均属超标水平，其中来自中国大陆及台湾地区的大米含铅量最高。若进食这些大米，成人平均铅摄取量将超出可容许摄取量20至40倍，儿童则平均超标30至60倍，至于进食大米分量较多的的亚裔儿童，更超标达60至120倍。
%p 有研究指出，印度及中国等国家常以未经处理的污水，甚至工业废水灌溉。由于大米需要吸收大量水分，令大米较其他主要农作物更易受污染。另一方面，先进国家将电子废料出口到发展中国家弃置的情况与日俱增，令有关地区严重污染，也令大米含铅问题恶化。
%p 通埃萨伊博士称，相信大米是在耕种过程中受污染。他建议各国政府制订全球化规范，加强食品生产及销售的安全监管，让民众了解食品污染情况。美国食品及药物管理局表示将进行调查，跟进上述报告。
