---
layout: news-article
title: 乳胶漆增稠剂种类及对乳胶漆抗分水性影响
description: 乳胶漆在生产、运输、贮存、施工过程中经常会遇到分水的问题，虽然可以通过提高乳胶漆的黏度及提高分散性来延缓分水，但是这样的调节作用往往有限，更重要的还是通过增稠剂的选择及其配用来解决这个问题。
---
%p 关键词：乳胶漆；增稠剂；配用；抗分水性
%p 增稠剂是通过提高体系的黏度，使体系在生产、运输、贮存、施工过程中保持稳定的一种添加剂。本文从乳胶漆常用增稠剂的种类和增稠机理入手，考察不同增稠剂的配用对乳胶漆抗分水性的影响，分析增稠剂配用遵循的原则。
%p 1增稠剂的种类及增稠机理
%p 1.1无机增稠剂
%p 无机增稠剂主要是一些粘土类物质，如膨润土、高岭土、硅藻土（主要成分是SiO2，具有多孔结构）。该类增稠剂具有一定的悬浮性，有时候也作为增稠体系的辅助增稠剂。膨润土又称斑脱岩、膨土岩等，其主要矿物蒙脱石含少量碱及碱土金属的含水铝硅酸盐矿物，属于铝硅酸盐族，化学通式为（Na，Ca）（Al，Mg）6（Si4O10）3（OH）6·nH2O。膨润土的膨胀性能以膨胀容表示，即膨润土在稀盐酸溶液中膨胀后的容积，以mL/g试样表示。膨润土类增稠剂吸水膨胀后，体积可以达到未吸水前的几倍或十几倍，具有很好的悬浮性，又因为它是粒径较细的粉体，与涂料体系中其他粉体的混容性好。另外，在产生悬浮的同时，膨润土可以带动其他的粉体一起产生一定的抗分层作用，有助于提高体系的贮存稳定性。很多的钠基膨润土都是由钙基膨润土经过钠化转变而来。在钠化的同时，会产生大量的钙离子和钠离子等阳性离子。如果体系中这些阳离子含量过大，会对乳液表面的阴电荷产生大量的电荷中和，在一定程度上，可能使乳液产生膨胀、絮凝等副作用。另一方面，这些钙离子也会对钠盐分散剂或聚磷酸盐分散剂产生副作用，使这些分散剂在涂料体系中沉淀析出，最终失去分散作用，导致涂料返粗、返稠，甚至产生严重的沉淀、絮凝等现象。此外，膨润土的增稠作用主要靠粉体吸水膨胀产生悬浮，所以会给涂料体系带来很强的触变效果，这对要求流平效果好的涂料不利。因此，在乳胶漆中膨润土类无机增稠剂一般很少采用，只有少量在低档乳胶漆或者拉毛乳胶漆中用作增稠剂。但是，近年有资料显示：海明斯的BENTONE?LT有机改性精制锂蒙脱石用于乳胶漆无气喷涂体系中具有较好的防沉效果和雾化效果。
%p 1.2纤维素
%p 纤维素是由β-葡萄糖缩合而成的天然高聚物，利用葡萄糖基环中羟基的特性，可使纤维素发生多种反应，从而产生一系列衍生物，其中经过酯化和醚化反应制得的纤维素酯或纤维素醚衍生物是最重要的纤维素衍生物。常用的纤维素产品有羧甲基纤维素、羟乙基纤维素、甲基纤维素、羟丙基甲基纤维素等。羧甲基纤维素含有易溶于水的钠离子，耐水性很差，且其主链上取代基的数目较少，很容易受细菌的腐蚀而分解，使水溶液黏度降低发臭。它在乳胶漆中应用很少，一般用于低档聚乙烯醇胶水涂料和腻子。甲基纤维素的水溶解速度一般比羟乙基纤维素略低，另外溶解过程中可能会产生少量的不溶物，影响涂膜的外观和手感，故很少用于乳胶漆中。但甲基纤维素水溶液的表面张力比其他纤维素水溶液略低，所以它用于腻子是一种很好的增稠剂。羟丙基甲基纤维素也是一种大量用于腻子的纤维素增稠剂，现主要用于水泥基或灰钙基的腻子。羟乙基纤维素因具有很好的水溶性和保水性，与其他纤维素相比对涂膜性能影响较小，所以大量用于乳胶漆体系。羟乙基纤维素的优点是增稠效率高、相容性好、贮存稳定性好、pH稳定性佳；缺点是流平流动性和抗飞溅性差。为改进这些缺点而开发了疏水改性缔合型羟乙基纤维素（HMHEC），如NatrosolPlus330，331。
%p 1.3聚羧酸盐类
%p 这类物质中，高相对分子质量的是增稠剂，低相对分子质量的就是分散剂。它们在体系中主要吸附水分子，使分散相黏度提高；另外也有可能吸附于乳胶粒子表面形成包覆层，使乳胶粒径变大，乳胶水合层变厚，使乳胶内相黏度提高。但这类增稠剂的增稠效率较低，在涂料应用中逐渐被淘汰。现在主要把这类增稠剂用于色浆的增稠，因为其相对分子质量较大，有助于提高色浆分散性和贮存稳定性。
%p 1.4碱溶胀型增稠剂
%p 碱溶胀型增稠剂主要有两类：普通碱溶胀型增稠剂和缔合型碱溶胀增稠剂，它们之间最大的区别就是分子主链上含有的缔合单体不同。缔合型碱溶胀增稠剂因在主链结构中，共聚有可以相互吸附的缔合单体，所以在水溶液中电离后，分子内或分子间可以产生相互吸附作用，使体系黏度迅速上升。
%p 1.4.1普通碱溶胀型增稠剂
%p 普通碱溶胀型增稠剂代表性产品有ASE-60。ASE-60主要采用甲基丙烯酸和丙烯酸乙酯共聚，在共聚过程中甲基丙烯酸大概占固含量的1/3，因为羧基的存在使分子链具有一定的亲水性，中和成盐过程中因为电荷的排斥，将分子链展开，使体系黏度增大，产生增稠效果。但有时候因为交联剂的作用使相对分子质量过于增大，在分子链展开过程中，短时间内分子链没有很好地亲水分散开，在长期贮存过程中，分子链逐渐舒展，从而带来黏度的后增稠。另外，此类增稠剂分子链中的疏水单体少，不太容易产生分子间的疏水络合，主要产生分子内的相互吸附。这类增稠剂的增稠效率低，很少单独使用，主要与其他类增稠剂配用。
%p 1.4.2缔合型碱溶胀增稠剂
%p 这类增稠剂因缔合单体的选用和分子结构不同，有很多品种。其主链结构主要也是由甲基丙烯酸和丙烯酸乙酯组成，缔合单体在结构中像触角，只是少量的分布。就是这些像章鱼触角一样的缔合单体，在增稠剂的增稠效率中扮演了重要的角色。结构中的羧基在中和成盐过程中，分子链也像普通碱溶胀型增稠剂一样产生电荷排斥，从而使分子链舒展开。其中的缔合单体也随着分子链的展开而舒展，但其结构中同时含有亲水链和疏水链，所以会在其分子内或分子间产生类似表面活性剂之类大的胶束结构。这些胶束有缔合单体相互吸附产生的，也有缔合单体与乳液粒子或其他粒子的架桥作用相互吸附的。产生胶束以后，把体系中的乳液颗粒、水分子颗粒或其他颗粒相对静止地固定下来，从而使这些分子或颗粒的活动能力减弱，体系黏度增大。这类增稠剂的增稠效率，特别是在高乳液含量的乳胶漆中的增稠效率要远远优于普通碱溶胀型增稠剂，在乳胶漆中大量采用，代表性产品有TT-935。
%p 1.5缔合型聚氨酯或聚醚增稠流平剂
%p 一般增稠剂（如纤维素和丙烯酸类）相对分子质量很高，它们在水溶液中分子链伸展而使体系黏度增高。聚氨酯或聚醚类增稠剂相对分子质量很小，它们主要是通过分子间亲油链段范德华力的相互作用而形成缔合，但这种缔合力较弱，在一定外力作用下就可能使缔合分离，从而使体系黏度下降，有利于涂膜流平，所以可以起到流平剂的作用。当消除剪切力后，它们又可以迅速恢复缔合，体系黏度上升。这种现象有利于在施工中降低黏度，增强流平；而剪切力失去后，马上恢复黏度，增大涂膜厚度。这类增稠流平剂在低于其临界浓度时也有很好的增稠或流平作用；当其浓度高于其在纯水中的临界浓度时，它自身就可以形成缔合，黏度迅速增大。所以这类增稠流平剂在低于其临界浓度时，由于乳胶粒子参与了部分缔合，乳液粒径越小，缔合作用越强，其黏度随着乳液量的增加而增大。另外，有些丙烯酸增稠剂含有疏水结构，它的憎水基与聚氨酯的憎水基有相互吸附作用，从而使体系形成一个大的网络结构，有利于增稠。2不同增稠剂对乳胶漆抗分水性的影响
%p 在水性涂料的配方设计中，增稠剂的配用非常重要，它关系到乳胶漆的很多性能，如施工性、展色性、贮存性以及外观等。在此着重讨论增稠剂对乳胶漆贮存性的影响，主要讨论最常用的纤维素、碱溶胀以及聚氨酯（或聚醚）增稠剂单独使用及其配用对乳胶漆抗分水性的影响。聚氨酯（或聚醚）增稠剂对水相增稠效率不高，为了能更直观地看出不同增稠剂对乳胶漆抗分水性的影响，本实验采用较低PVC（颜料体积浓度）的纯丙外墙乳胶漆，黏度都调整到95~100kU，测试各项性能，见表1。
%p 3结语
%p 由表1试验结果可知：单一采用羟乙基纤维素增稠剂虽然分水较严重，但是很容易搅匀；单一采用碱溶胀增稠剂无分水和沉淀，但后增稠严重；单一采用聚氨酯增稠剂，虽然分水和后增稠都不严重，但是其产生的沉淀是较硬质沉淀，比较难搅匀；采用羟乙基纤维素和碱溶胀增稠剂配用，无后增稠，无硬质沉淀，能轻松搅匀，但也有少量分水；采用羟乙基纤维素和聚氨酯增稠剂，分水最为严重，但无硬质沉淀；采用碱溶胀增稠剂和聚氨酯增稠剂配用，虽然基本无分水，但有后增稠，且底下沉淀较难搅拌均匀；采用少量羟乙基纤维素增稠剂配用碱溶胀和聚氨酯增稠剂既无沉淀又无分水。由此可见，在疏水性较强的纯丙乳液体系，单一用亲水性的对水相增稠的羟乙基纤维素增稠剂，分水较为严重，但易搅拌均匀。单一采用疏水碱溶胀或聚氨酯增稠剂或两者配用，虽然抗分水性能较好，但都有后增稠，且较难搅拌均匀。采用纤维素和聚氨酯增稠剂配用，由于其亲水亲油值相差最远，导致分水沉淀最为严重，但沉淀物松软，较易搅匀。配方G由于取得了较好的亲水亲油平衡，所以抗分水性能最好。当然在实际配方设计过程中，还要考虑乳液和润湿分散剂的种类以及它们的亲水亲油值，只有它们之间达到较好的平衡时，体系才处于热力学平衡状态，具有较好的抗分水性。以前探讨增稠机理，习惯把增稠体系分为水相增稠和乳液相增稠，实际上，单纯地把增稠剂分为水相增稠和乳液相增稠很困难。在增稠体系中，水相增稠的同时有时也伴随着油相黏度的增大。例如一般情况下都认为，纤维素增稠剂是对水相的增稠，但纤维素在水相中分布趋向是弯曲的，也就是疏水的一部分被亲水的一部分包裹，而这部分疏水的链条也因为相互吸附作用，而产生强度很低的缔合。众所周知，只要有疏水性的高分子链条基本上都会对乳液颗粒或亲油性助剂产生相互的吸附作用，这是由于油性分子在水相中被水分子排斥的结果。所以，纤维素增稠剂在带来水相黏度增大的同时，其疏水基团也会吸附一些油性颗粒或乳液颗粒，从而带来油相黏度的增大。一般来说，纤维素和普通碱溶胀增稠剂侧重于水相增稠；缔合型碱溶胀增稠剂有侧重于水相增稠的，也有侧重于乳液相增稠的；聚氨酯（或聚醚）增稠剂一般都侧重于乳液相增稠。在选用增稠剂的同时，必须事先知道每种增稠剂的增稠机理，这样才能防止分水现象的发
