---
layout: news-article
title: 钛白粉：2014行业整合大幕将逐步开启
description: 2013年对钛白粉行业来说可谓“局面艰难”。据有关机构预计，2013年仅两成以上钛白粉企业盈利。行业由并购重组走向集中是大趋势，现在正是行业最艰难的时期，也是企业整合的大好时机。多名业内人士分析，2014年钛白粉的价格市场仍难言乐观，与此同时行业整合大幕将逐步开启。
---
%p 2013年对钛白粉行业来说可谓“局面艰难”。据有关机构预计，2013年仅两成以上钛白粉企业盈利。行业由并购重组走向集中是大趋势，现在正是行业最艰难的时期，也是企业整合的大好时机。多名业内人士分析，2014年钛白粉的价格市场仍难言乐观，与此同时行业整合大幕将逐步开启。
%p 随着产能的不断扩大，国家相关部委对钛白粉行业的重视程度在逐步加深，行业“双规”有望于2014年逐步落地，政策向阳，长远来看钛白粉行业景气可期。但业内人士分析，钛白粉行业的结构不合理，低端产品产能严重过剩，而调整需要一个长期的过程，2014年钛白粉的价格市场难言乐观。
%p **行业底部整合成未来大趋势**
%p “根据海外经验，钛白粉行业由并购重组走向集中是大趋势”，上海好颜料超市总经理蔡绪波在2013年行业年会上说，在未来5-10年内，钛白粉企业间的兼并重组将更为频繁，国内必将出现3-5家30万吨级以上的钛白粉企业。
%p 金浦钛业在行业周期的底部加码，拟收购江苏太白集团有限公司，此举给整个钛白粉产业界发出了一个明确的信号，即钛白粉行业的兼并重组大潮已经来临。
%p 大智慧通讯社了解到，目前江苏、江西、河南、四川等地区的钛白粉公司整合已经崭露头角。外界指出，金浦钛业钛白粉业务扩张后，将形成23万吨产能规模，成为国内最大钛白粉生产企业之一。在行业周期的底部加码，将跻身钛白粉行业第一梯队。企业竞争力和行业话语权再度有力提升。
%p 业内人士指出，根据国外经验，钛白粉行业并购重组走向集中是大趋势；钛白粉市场已经到了最为艰难的时期，现在正是企业整合的大好时机。
%p **2014“双规”落地，助力整合步伐**
%p 当前中国钛白粉行业结构性产能过剩严重，行业“双规”拟2014年出台，行业兼并重组进程将提速。业内人士分析，“双规”的出台将有力促进钛白行业兼并重组的步伐。
%p 据悉，行业“双规”-国家环保部指导的《钛白粉工业污染防治技术政策》和工信部指导的《钛白粉行业准入条件》将对生产工艺、资源配置与资源回收利用、生产规模等予以严格要求，届时将大幅提高行业准入门槛。
%p 本次出台《技术政策》将明确鼓励氯化法钛白粉生产工艺、鼓励联产法硫酸法清洁生产工艺、对于淘汰传统硫酸法重污染生产工艺应予以淘汰。另外还对大气污染防治；水污染防治；固体废物处置与综合利用；噪声污染防治；鼓励研发的新技术、新材料；监测与风险管理作出了相关规定。环保部官员透露，该《技术政策》拟争取于2014年年底出台。
%p 而《准入条件》送审稿的本次修订，主要增加资源配置与资源回收、工艺流程先进特性、工艺体系能源参数、联产法(硫酸法)工艺路线等4项新条款。
%p 《准入条件》的其他内容变化不大。中国涂料工业协会钛白粉行业分会秘书长郭欣荣称，在2014年正式公布前，还会再进一步的修改和完善；拟通过《准入条件》的“条款”调整，实现我国钛白粉行业的转型升级和健康发展。
%p **城镇化建设长远助力行业回暖**
%p 十八届三中全会对全面深化改革作出了战略部署，提出了大力支持新型城镇化建设等内容。多位业界人士表示，城镇化建设有望撬动国内钛白粉市场的回暖。
%p 长期以来，中国钛白粉应用领域一直以涂料、塑料和造纸三大行业为主，而其中涂料行业占60%以上。今年以来钛白粉市场需求疲软，持续弱势，即使在“金九银十”的传统旺季出现了“旺季不旺”的现象。
%p 中国涂料工业协会钛白粉行业分会秘书长郭欣荣曾向大智慧通讯社表示，城镇化将会给中国钛白粉行业企业提供了前所未有的大机遇。
%p 业内权威人士此前指出，国家推进新型城镇化建设的中长期国策，为钛白粉行业的长期繁荣发展提供了有力支撑。
%p 佰利联也表示，国内十八届三中全会召开后，各项经济改革措施明年会在两会结束后逐步得到落实，房地产调控国家也将更多的利用市场手段进行，中国的城镇化以及保障型住房建设的加快推进也将刺激国内钛白粉市场的快速增长。
%p **未来环保类钛白粉将成“香饽饽”**
%p 钛白粉被指能有效治理雾霾，引发市场强烈关注。“环保钛白粉”除了可以消除汽车排放物中的氮氧化物外，还可以应用到脱硝剂、催化剂等多领域。
%p 据中国证券报报道,含二氧化钛的混凝土或沥青可以净化空气,消除车辆排放物中25%到45%的氮氧化物。含有纳米二氧化钛光催化剂的涂料,对污染物清洁效果更为突出。报道援引业内专家观点称,清洗都市空气、建设生态城市,二氧化钛将立大功。
%p 其次在脱硝领域，佰利联董秘申庆飞在年度业绩说明会上强调，随着未来国内火电厂大气污染排放标准正式出台，脱硝市场前景广阔。
%p 浙商证券范飞认为，自《全国主要污染物总量减排目标责任书》开始，2013年-2015年是脱硝改造高峰。SCR是主力技术路线，钛白粉属于绝对受益品种。
%p SCR脱硝催化剂中钛白粉重量占比80%左右，成本占比40%-50%；有研究人员测算，脱硝钛白粉市场规模：8万吨稳定运营需求加8万吨新装催化剂需求，市场规模约20亿元-40亿元。
%p 佰利联在投资者互动平台上表示，公司脱硝钛白粉生产线基本全线贯通，目前已经试生产。其并称，脱硝钛白粉项目设计产能为1多吨，但优化生产工艺流程后，产能可扩张至2万吨。
%p 随后金浦钛业也披露，公司有研制脱硝钛白粉的计划，并与国外知名公司正在进行合作谈判。
%p **任志强炮轰环保问题，引发企业未来持续关注**
%p 2013年8月11日任志强发布新浪微博称，攀钢钒钛下属子公司钛白粉生产企业重庆钛业存在排污问题，再次将钛白粉生产企业的环保问题，掀上舆论的风口浪尖。
%p 多位业内人士断定，虽然钛白粉企业一直深陷环保危机，但此次攀枝花地区的“环保风波”突然爆发，无疑任志强的微博是直接导火索。
%p 中国钛白粉企业屡上环保黑名单，2013年7月12日，在南京钛白(恢复上市后更名为“金浦钛业”)登陆资本市场的两周之前，因为“废水排放超标”被南京市环保局通报。2012年南京钛白又先后两次，因为环保问题被罚款。环保问题也阻碍了钛化工企业的资本化之路，龙蟒钛业、山东东佳都已经2次IPO但都未获成功。
%p 钛白粉企业污染乱象丛生，一位关注钛白粉行业的资深专家表示，钛白粉行业污染问题相对严峻，其中以小型企业为最。在广西、四川等地区，一些小型钛白粉企业存在环保不达标问题，有的甚至在夜晚进行排放。
%p 2013年8月，攀枝花政府部门正在对钛白粉生产商展开清理、整顿工作，逾半数企业遭查处，国内钛白粉行业缩减形势进一步趋紧。龙蟒也曾因环保问题，遭新市镇白庙村的村民围堵大门，龙蟒员工上班时翻墙进工厂。
%p **海外屡次报涨，国内企业“跌跌不休”，明年延续跌势**
%p 2013年以来，海外钛白粉巨头纷纷提高售价。其中巨头杜邦(Du Pont)全球钛白粉3个月间两番涨价，中国市场年内累计提价300美元/吨。另外，德国康诺斯、美国享兹曼、科斯特、日本石原等海外巨头均有过一次提价行为，幅度在10%左右，合每吨250至300美元。
%p 而国内市场则是另一景象。以国内市场走货量较大的硫酸法金红石型钛白粉为例，据生意社数据显示，2013年(1月1日-12月31日)钛白粉总体均价呈弱势下行趋势，从年初的16836元/吨到年末的14232元/吨，跌幅为15.47%。
%p 龙头四川龙蟒钛业股份有限公司(下称“龙蟒”)目前已形成年30万吨金红石型钛白粉的生产能力，是国内最大的专用型多品种钛白粉生产企业。虽然全球钛白粉定价权不在中国，但中国市场范围内，龙蟒是各厂商价格参照的主要标准。
%p 四川龙蟒销售部经理张蔼文曾向大智慧表示，公司钛白粉随行就市，价格波动是公司的应变行为。不同公司都具备产量、库存、客户结构等各自特点，虽然公司是行业龙头，但价格下调未必会对其他厂商产生影响。
%p 2013年4月下旬，行情低迷，四川龙蟒下调钛白粉价格，500元/吨。也有业内人士表示，由于龙蟒近期想扩大出货量，抢占国内市场占有率，因而下调钛白粉报价。
%p 进入传统旺季9月，钛白粉部分生产商价格试探性调涨。华东、华中、华南和西南部分生产商陆续调涨，幅度多在200-300元/吨，个别较大幅度在500元/吨。钛白粉涨价预期强烈，而国内钛白粉行情需观望龙蟒是否提价。
%p 随后10月9日，四川龙蟒曾上调钛白粉价格500元/吨，其他企业跟进明显，但钛白粉需求并未真正改善，行业依旧疲软运行，
%p 2013年11月开局，国内陆续有西南、华东、华中等部分钛白粉生产商逐步实行降价，幅度在200-500元/吨。12月初四川龙蟒调低钛白粉价格200元/吨。
%p 业内预计，此番降价再次引发部分企业跟风，钛白粉价格未来短期将弱势波动。明年钛白粉价格仍然将延续跌势。
%p **2013年仅两成以上钛白粉企业盈利，未来局面仍然艰难**
%p 中国涂料工业协会钛白粉行业分会理事长谢湘云在行业年会上称，预计2013年有20%以上的钛白生产企业因产品和成本具有优势继续保持盈利外，其它钛白企业大多经营十分困难。
%p “行业竞争加剧，企业分化明显”，谢湘云并援引机构数据预计，其中2013年钛白粉企业开工率约为66%，钛矿企业开工率为95%，而钛渣企业开工率仅为35%左右。
%p 谢湘云表示，钛白粉需求增长缓慢，钛白产能继续增长，进口增幅较大，结构性过剩问题愈加突出。
%p 据有关营销机构统计分析，预计2013年实际产量190万吨左右，比2012年增加1.1%；出口约为40万吨，比2012年增长3.89%；进口19万吨左右，比2012年增加16.6%；预计今年国内市场表观消费量约为169万吨，比2012年增加1.19%。
%p 另外，营销机构分析指出，当前钛白粉价格较今年1月份下降了15%；预计2013年钛白粉产能290万吨左右，与2012年相当，拟建和在建钛白粉产能约90万吨。
%p 业内人士认为，未来企业局面仍然艰难，对于2014年钛白粉的价格市场难言乐观，价格低点或再破冰。
