---
layout: news-article
title: 技术创新带动产业升级 化工装备展八月上海“阅兵”
description: 据国家工信部发布的《高端装备制造业“十二五”发展规划》，提出“力争到2020年，高端装备制造产业销售收入在装备制造业中的占比提高到25%”。
---
%p 据国家工信部发布的《高端装备制造业“十二五”发展规划》，提出“力争到2020年，高端装备制造产业销售收入在装备制造业中的占比提高到25%”。
%p 这意味着我国工业结构将实现由以能源原材料型重化工业为主导，向以重加工业和技术密集型产业为主导的转变。面对部分行业已形成的产能过剩，以技术改造升级为核心的投资将成为重点，这将带动化工装备行业的升级发展。新时期，化工装备需求结构也将发生变化，高端装备需求将明显高于中低端需求。
%p 倍受业界瞩目的第五届中国（上海）国际化工技术装备展览会（简称CTEF上海化工装备展），将于2013年8月20-22日在上海新国际博览中心隆重举行。届时，将吸引来自35个国家和地区近650家知名企业参展，展出面积将突破3万平米，预计有15000名专业观众及买家到场参观、采购。
%p 本届展会重点展示化工装备领域方面的化工单元设备、化工非标专用设备、流体及流程工业设备、密封件及执行器、环保及防护设备、石油石化、日化及化学工程设备、仪表仪器等，汇聚了国内外化工装备行业最先进的产品、技术和解决方案，无疑成为众多企业厂商关注的焦点。
%p 上海化工装备展经过四年的快速发展，目前已经跃居成为中国最专业的化工装备展，众多实力企业竞逐亮相。展会面积、展商数量、买家采购团逐年递增，展会获得了参展商和观众的高度赞誉和青睐。
%p 据记者采访了解，过滤与分离技术行业的先锋企业江苏华大离心机股份有限公司负责人在参展后评价说：“CTEF上海化工展的针对性很强，有专门的化工制药设备展示，可以挖掘更多的市场商机。”而杭州南方特种泵业股份有限公司负责人则表示：“CTEF化工装备展会规模大，是化工流程泵推广、品牌推广的良好平台。通过在展会上的精彩亮相，让我们收集了更多的客户资源，为我们公司走在化工行业的前列打下坚实的基础。”
%p 受邀组团参观的中国石油化工股份有限公司的代表认为：“CTEF上海化工装备展的展示内容比较完善，囊括了化工装备领域的方方面面，也重点体现了市场热点，对企业了解行业和市场很有帮助。”到场参观的中国五环工程公司负责人说：“我们公司这次参观CTEF，对展会效果总体满意，主办方服务周到，现场也跟一些企业进行洽谈和合作，会继续关注下届展会。”
%p 为了让企业在充分利用全球创新资源的基础上，形成自身创新的比较优势和局部强势，加快拓展国际市场步伐，第五届中国（上海）国际化工技术装备展览会主办方振威展览集团，凭借多年来的专业办展经验和化工行业数十万条的买家数据库资源，依托电邮、电话、DM、国外推广等途径，进一步加大国内外买家采购团的邀请力度。在距离展会开幕还有半年的时间，主办方就派出专业团队走访、邀请国有及外资五百强企业、行业渠道商、代理商、跨国团体、工程公司等大型采购商，为展商营销打开新的空间，提升展出效果。
%p 众多国内外知名企业也将继续带来他们的新技术、新信息和新产品来参展，其中不乏装备制造行业中的明星企业。华南地区最具规模、独揽多项专利技术的专业设备制造商，广州恒星冷冻机械制造有限公司将带来公司最新的产品，其中包括有水冷螺杆式（热回收）低温冷水机组、水源高温热水机组、螺杆水冷工业一体式机组、冷却塔等。浙江国祥空调设备有限公司作为国内规模最大、产品最齐全的中央空调设备和工业特种空调制造商之一，将会在展会现场展示其公司的拳头产品满溢式螺杆冷水机组，该设备采用满溢式专用螺杆压缩机及满溢式蒸发传热技术，能有效提高机组制冷能力和能效。
%p 技术创新必然成为企业在市场上竞争取胜的砝码，也成为拉动经济发展的主要的驱动力。CTEF上海化工装备展作为行业的风向标，各大品牌企业与高质量专业观众的积极参与，充分体现了展会自身巨大的影响力，同时也验证了上海化工装备展在化工装备类展会的行业领先地位，成为企业最新技术创新成果展示的最佳平台。
