---
layout: news-article
title: 甲醇当日价格分析与各地价格
description: 东北地区甲醇市场暂稳，黑龙江煤制及焦炉气制甲醇企业主流出厂暂稳2250-2520元/吨，主流成交偏低端；受唐山走低影响，主要贸易商对辽宁送到报价在2430-2520元/吨，交投一般。
---
%p 东北地区甲醇市场暂稳
%p 东北地区甲醇市场暂稳，黑龙江煤制及焦炉气制甲醇企业主流出厂暂稳2250-2520元/吨，主流成交偏低端；受唐山走低影响，主要贸易商对辽宁送到报价在2430-2520元/吨，交投一般。
%p 华南港口甲醇市场早盘稳定
%p 华南甲醇市场早盘稳定，广东港口甲醇卖家主流出罐报价在2560-2580元/吨，主流商谈在2550-2570元/吨，未闻成交。
%p 两湖地区甲醇市场稳定
%p 两湖地区甲醇市场稳定为主，湖北地区主流商谈在2600-2650元/吨，低端主流厂家出厂报价，高端武汉贸易商含税报价；湖南主流商谈价在2670-2720元/吨，低端主要厂家出厂价，高端长沙贸易商含税报价。
%p 华东港口甲醇市场开盘动态
%p 期货继续走跌，多数业者心态受挫，江苏港口甲醇主流出罐报价在2450-2500元/吨，低端多国产货，高端多进口货，成交情况待了解。宁波港口甲醇卖家零星报价2650元/吨，未闻成交。
%p 安徽地区甲醇市场动态
%p 安徽地区甲醇市场盘整为主，主要甲醇企业承兑出厂价格主流在2380-2400元/吨，市场交投平稳。
%p 河北地区甲醇市场下滑
%p 河北石家庄及周边甲醇企业出厂价格主流下滑20元/吨在2300-2330元/吨，另悉，部分贸易商对文安地区送到报价在2240元/吨（不带票）左右。唐山主要企业出厂价格在2300元/吨。受挫交投有限。
%p 山西地区甲醇市场暂稳
%p 山西地区南部及东南部甲醇主流企业出厂价格2130-2250元/吨，低端现汇，高端承兑，其中晋城在2200-2250元/吨，高端承兑；临汾现汇在2130-2150元/吨，运城承兑2250元/吨左右。
%p 山东地区甲醇市场弱势运行
%p 山东地区甲醇主流企业出厂价格在2300-2370元/吨。其中，中东部企业主流出厂价在2300-2370元/吨，淄博及周边部分贸易商报价在2320-2350元/吨，南部主流零售价格在2300-2320元/吨，贸易商对临沂地区不带票送到报价在2290-2300元/吨。市场交投一般，多数业者心态偏空。
%p 河南地区甲醇市场弱势为主
%p 陕西关中个别厂家出价下调，河南地区甲醇市场弱势下滑，当地主要企业甲醇现汇出厂价格在2250-2300元/吨左右，另悉，洛阳贸易商报价在2250-2300元/吨，心态偏空。
%p 广西地区甲醇市场动态
%p 广西地区甲醇市场稳定为主，截止发稿，贸易商不同地区甲醇主流送到价格在2600-2750元/吨，低端港口出罐，高端陆运送到，部分港口实单略低，贵州主要企业对广西出厂报价2450-2550元/吨。
%p 西南地区甲醇市场稳定
%p 西南地区甲醇市场稳定，在产主要企业对当地出厂2350-2450元/吨，多以合同客户为主；受西北地区影响，川渝地区主要商家含税接货价在2520-2650元/吨。
%p 福建地区甲醇市场稳定
%p 福建甲醇市场稳定为主，主流出罐报价在2630-2700元/吨，低端泉港，高端厦门，商家多按需采购，交投一般。
%p 华南港口甲醇市场弱势盘整
%p 华南甲醇市场弱势盘整，截止发稿，广东港口甲醇卖家主流出罐报价在2550-2580元/吨，主流成交在2550-2570元/吨左右，主流成交偏低端。部分商家表示出货放缓。
%p 华东港口甲醇市场小幅下滑
%p 截至发稿，江苏港口甲醇主流出罐成交/商谈价格下滑40元/吨至2430-2460元/吨，低端多江阴、常州国产货，高端多太仓进口货，中小单为主。宁波港口甲醇个别出罐报价在2650元/吨，未闻成交。
