---
layout: news-article
title: 2014年10月丙二醇进出口数据统计
description: 2014年10月，我国进口丙二醇5，180.42吨，进口金额为913.83万美元，当月平均价格为1,764.00美元/吨。进口量较今年9月份减少1.56%，与2013年10月份相比减少5.74%。
---
%p 2014年10月，我国进口丙二醇5，180.42吨，进口金额为913.83万美元，当月平均价格为1,764.00美元/吨。进口量较今年9月份减少1.56%，与2013年10月份相比减少5.74%。
%p 10月出口丙二醇11，002.01吨，出口金额1,768.25万美元，当月平均价格为1,607.20美元/吨。出口量较今年9月增加10.07%，与2013年10月份相比增加13.28%。
