---
layout: news-article
title: 油价下跌部分终端化学品收益 涂料、涤纶和改性塑料利好
description: 化工行业满足增量资金的选股标准，包括：筹码分布离散度高（机构持股比例较低）、低估值（与市场的相对PB 处于历史较低水平）、低涨幅（四季度化工指数严重跑输大盘），我们认为后期化工行业将迎来一波上涨行情。标的方面，我们关注目前低估值化工白马股以及存在盈利改善可能的子行业。
---
%p 化工行业满足增量资金的选股标准，包括：筹码分布离散度高（机构持股比例较低）、低估值（与市场的相对PB 处于历史较低水平）、低涨幅（四季度化工指数严重跑输大盘），我们认为后期化工行业将迎来一波上涨行情。标的方面，我们关注目前低估值化工白马股以及存在盈利改善可能的子行业。
%p 化工行业未来基本面存在好转可能。化工行业在2013年进入了去产能化阶段，这一趋势在2014年和2015年仍将持续，行业供需有望逐步改善。2014年，化工行业上市公司财务费用在利润总额的占比达到2008年以来的历史新高。降息周期下化工行业的利润率有望回升。
%p 关注低估值大市值品种：（1）化工板块目前PB 估值处于相对低位，有望修复。化工板块PB 估值处于2005年以来较低水平。2014年，化工行业与A股整体ROE 差值收窄明显，但二者相对PB 估值仍处于2008年以来的低点。（2）化工板块机构持股比例较低，筹码离散度高。从时间序列看，2013年一季度以来，化工在基金公司的总持股比例逐步下滑，2014年三季度创新低。从各个行业对比看，2014年三季度，化工股的机构持股比例在所有行业中位居倒数第五。
%p 关注盈利改善的子行业。（1）供需改善有望拉动全球钾肥进入新一波牛市。钾肥价格下跌带来需求回升，Fertecon 预计2014年全球钾肥消费增速为8%，2014-2016年钾肥开工率呈回升状态。北美钾肥库存创历史新低，主流钾肥厂商一直看多后市，乌钾事故钾矿有停产可能，全球钾肥厂商有望将姜正战略由从量转为从价。（2）合成橡胶/涂料/涤纶/改性塑料受益于油价下跌。化工行业整体要在油价趋稳反弹的过程中受益。但是，对于涂料/改性塑料/合成橡胶/涤纶这类贴近终端消费的产品，由于定价机制或替代品价格的支撑，其产品价格的下跌明显落后于油价下跌的幅度，有望在本轮油价下跌中受益。
