---
layout: news-article
title: 2014年全国钛白粉行业年会
description: 2014年以来，党中央“十八大”精神深入人心，随着各项改革不断深化、经济逐步企稳，我国钛白粉行业顺应潮流、顺势而为，生存与发展态势平稳里有提升，成长中有进退。行业整合的多元化和产能结构优化的多体制成为2014年的发展潮流。
---
%p 会议名称：2014年全国钛白粉行业年会
%p 会议时间：2014年11月28日-11月30日
%p 会议地点：四川省攀枝花市“攀枝花会展中心”（攀枝花宾馆）
%p 主办单位：中国涂料工业协会钛白粉行业分会
%p 承办单位：山东东佳集团股份有限公司、攀枝花市人民政府
%p 协办单位： 昊客云台 等
%p 会议介绍：
%p 全国钛白粉企业、钛白粉有关技术、装备、应用、信息及关联单位：
%p 2014年以来，党中央“十八大”精神深入人心，随着各项改革不断深化、经济逐步企稳，我国钛白粉行业顺应潮流、顺势而为，生存与发展态势平稳里有提升，成长中有进退。行业整合的多元化和产能结构优化的多体制成为2014年的发展潮流。为指导和推动行业的健康成长，中国涂料工业协会钛白粉行业分会(国家民政部“社会团体分支(代表)机构登记证书”注册号：3308-2)在征求国家钛白产业关联部委意见后，在中国涂料工业协会的指导下，决定于2014年11月28日～30日在四川省攀枝花市组织召开《2014年全国钛白粉行业年会》，本文由粉体圈www.360powder.com整理分享，现将有关会议安排通知如下：
%p 一、会议主题：
%p 为解读宣贯国家钛白粉产业政策、系统总结2014年度行业数据和信息、深入分析行业发展趋势，促进转变思维方式、优化模式和结构调整，引导我国钛白粉企业向清洁生产型和资源回收型的循环经济单元转化。此次会议分为四个主题：
%p 钛白粉行业态势和发展趋势分析
%p 当期钛白粉产业政策解读和宣贯
%p 清洁生产和资源回收经济模式推进
%p 攀西战略资源开发
%p 二、会议邀请对象
%p 1、全体钛白粉制造(包括在建、拟建)企业；
%p 2、与钛白粉产业密切相关的国家部委部门领导；
%p 3、国内钛白粉行业密切相关的各类技术机构组织；
%p 4、国内科研院、所(校)中与钛白粉产业密切相关的专家、教授；
%p 5、钛白粉产业“清洁生产和资源回收”相关的工艺、装备和应用单位；
%p 6、会议特别邀请长期关注并支持钛白粉产业的各类网络、新闻媒体。
%p 三、会议指导单位： 中国涂料工业协会
%p 四、会议主办单位： 中国涂料工业协会钛白粉行业分会
%p 五、会议主协办单位：山东东佳集团股份有限公司攀枝花市人民政府
%p 六、会议协办单位：(排名不分先后)
%p 昊客云台
%p 景津环保股份有限公司
%p 攀钢集团钛业有限责任公司
%p 云南新立有色金属有限公司
%p 攀枝花中钛钛业科技有限公司
%p 七、特别鸣谢单位
%p 四川省钒钛产业协会 攀枝花市钒钛产业协会
%p 八、特邀网络、信息媒体
%p 《中国化工网(生意社)》、《昊客云台》、《中国化工报》、《中国钛白粉网》、《钛白粉交易平台》、《中国涂料网》、《瑞道金属网》、《四川经济日报》、《四川新闻网》、《攀枝花日报》、《攀枝花广播电视台》
%p 九、会议内容
%p 1、钛白粉行业态势和发展趋势分析版块
%p 主题报告一：《2014年年度钛白粉行业发展总结概要》
%p 报告人——山东东佳集团股份有限公司总经理 孙 鹏(钛白粉行业分会年度轮值理事长单位)
%p 主题报告二：《2014年中国钛白粉市场运行概要及电商模式对产业升级的影响》
%p 报告人——昊客云台总经理 蔡绪波
%p 主题报告三：《全球钛白粉市场分析与展望》
%p 报告人——钛白粉交易平台总经理 邓 捷(钛白粉行业分会副秘书长)
%p 主题报告四：《全球钛矿资源的分布与利用》
%p 报告人——瑞道金属网副总裁 王 强
%p 2、当期钛白粉产业政策解读和宣贯版块
%p 主题报告一：《钛白粉行业规范条件》解读
%p 报告人——中国涂料工业协会钛白粉行业分会秘书处 郭欣荣
%p (指导：国家工信部原材料工业司石化化工处 罗其明)
%p 主题报告二：《钛白粉工业污染防治技术政策》(送审稿)解读
%p 报告人——国家环保部环境环境规划院主任/研究员 葛察忠
%p (指导：国家环保部政策法规司政策处 赖晓东)
%p 主题报告三：国家标准《钛白粉单位产品能源消耗限额》编制工作
%p 报告人——中国涂料工业协会产业发展部部长 刘 杰
%p 3、清洁生产和资源回收经济模式推进版块
%p 主题报告一：《钛白粉生产现状与硫酸法钛白粉工艺技术的可持续发展》
%p 报告人——成都千砺金科技创新有限公司总经理 龚家竹
%p 主题报告二：《硫酸法副产钛石膏的建材领域的开发应用》
%p 报告人——安徽森科新材料有限公司总经理 张庚福
%p 主题报告三：《景津压滤机在钛白粉领域的应用效果》
%p 报告人——景津环保设备有限公司总裁 姜桂廷
%p 主题报告四：《钛白粉生产大型专用研磨设备系列化及工艺优化设计》
%p 报告人——北京瑞驰拓维科技有限公司董事长 冯平仓
%p 4、“攀西战略资源开发”(攀枝花)版块
%p 主题报告一：《攀枝花市钛白粉产业发展概况及展望》
%p 报告人——攀枝花市钒钛产业协会常务副会长、秘书长 彭天柱
%p 主题报告二：《攀枝花人造金红石与新型酸溶性富钛料生产应用情况》
%p 报告人——攀枝花中钛钛业有限公司技术总监博士 陈树忠
%p 主题报告三：《依靠技术创新促进脱硝催化钛白产业发展》
%p 报告人——四川华铁钒钛科技股份有限公司董事长 王兰武
%p 主题报告四：《立足现实创新理念发展循环经济推进钛产业可持续发展》
%p 报告人——攀枝花圣地元科技有限责任公司副总经理 崔 昆
%p 主题报告五：《硫酸法钛白工业体系的现状与发展》
%p 报告人——攀枝花学院教授 邹建新
%p 主题报告六：《加强质量监督提升产品质量》
%p 报告人——国家钒钛制品质量监督检验中心副主任 仲 利
%p 主题报告七：《优化产业结构，推进产业升级》
%p 报告人——攀钢集团钛业有限责任公司
%p 主题报告八：《氯化法钛白粉原料供给路径拓展研究与实践》
%p 报告人——云南新立有色金属有限公司总经理 汪云华
%p 5、专家访谈？现场互动 (主持人：郭欣荣)
%p 受访与互动嘉宾： 攀枝花市人民政府副市长 刘建明
%p 钢研总院科技信息与战略研究所所长 刘 骁
%p 上海四极化工 昊客云台总裁 童小宇
%p 攀枝花市国钛科技有限公司董事长 王世金
%p 十、 会议时间：
%p 2014年11月29日； 11月28日全天报到
%p 2014年11月30日参观
%p 十一、会议地点：四川省攀枝花市“攀枝花会展中心”(攀枝花宾馆)
%p 地址：四川省攀枝花市攀枝花宾馆
%p 酒店联系电话：0812-3332869
%p 十二、参会费用： 1600元/人(住宿统一安排，费用自理）
%p 联系人  : 白蕾
%p 电    话： 010622557127
