---
layout: news-article
title: 国内钛白粉总体平均价弱势逆涨
description: 7月2日，四川龙蟒宣布：从7月3日起，签约经销商价格上调100元/吨，其他客户在6月执行合同价的基础上上调300元/吨，国际客户从8月1日起价格上调100美元/吨。
---
%p 【中国涂料采购网】7月2日，四川龙蟒宣布：从7月3日起，签约经销商价格上调100元/吨，其他客户在6月执行合同价的基础上上调300元/吨，国际客户从8月1日起价格上调100美元/吨。这也是钛白粉价格继4月连续两次调涨300元/吨、6月4日又调涨300元/吨后，时隔一月再度拉涨。传东佳金红石型钛白粉，从2014年7月7日起，国内销售价格上调300元/吨，国外销售价格上调100美元/吨。
%p 根据海关总署提供统计数据，4月西南龙企外贸量达1万余吨，对于该企业去库存起到一定效果;其次，弱势“逞强”造势。国内市场从4月中下旬的交投高潮期逐步滑落，目前国内市场弱势非只一日，而在此时的逆涨只造势一种理解。宣布调涨时候，可以“明涨实稳”的看单、看量、看付款形式的一单一议，而一旦降价，实单价格或形成一低再低的“一泻千里”，这种“报复性”的下跌让降价的选择性风险加倍。目前国内多数硫酸法金红石型和锐钛型钛白粉的主流报价在11800-13100元/吨和9800-10800元/吨(均含税)。
%p 上周钛精矿市场价格弱势维稳。市场交投不乐观，下游钛白粉价格市场虽几番调涨，然而对钛精矿价格打压严重，加之同行矿商之间竞争明显，尽管有调涨之心，但无涨价之力。市场价格较低，小型矿商生存压力明显。目前攀枝花地区46品位10钛精矿价格在610-640元/吨(不含税)间。
%p 此番四川龙蟒的再度调涨“逞强”造势气氛较浓，只有华东地区某生产商跟进调整200元/吨。目前外贸尚可、内销惨淡，内外“瘸腿”，单纯用外贸拉涨内销，恐怕行不通，第四次拉涨，最理想的效果就是夯实上一次的涨价。短期看，龙企提振效果有限，预计跟涨企业不会很多，单价格依然跑不掉看单、看量、看付款形式的一单一议。
