---
layout: news-article
title: 水性木器漆的种类和施工常见问题的解决
description: 水性涂料是以水作为稀释剂的涂料。水性漆包括水溶性漆、水稀释性漆、水分散性漆（乳胶涂料）3 种。水性木器漆的生产过程是一个简单的物理混合过程。水性木器漆以水为溶剂无任何有害挥发，是目前最安全，最环保的家具漆涂料。
---
%p 水性涂料是以水作为稀释剂的涂料。水性漆包括水溶性漆、水稀释性漆、水分散性漆（乳胶涂料）3种。水性木器漆的生产过程是一个简单的物理混合过程。水性木器漆以水为溶剂无任何有害挥发，是目前最安全，最环保的家具漆涂料。但由于受涂装效果和涂装工艺等综合因素的影响，水性家具漆在国内的市场占有率还很低，但是其低碳环保的理念是未来家具漆发展的方向。相信随着技术的不断进步，水性家具漆的应用将会越来越广泛。
%p 水性木器漆与油性木器漆的区别
%p 油性漆相对硬度更高、丰满度更好，但是水性漆环保性更好
%p 通常油性漆使用的是有机溶剂，通常称作“天那水”或者“香蕉水”，有污染，还可以燃烧。可见水性漆与油性漆在环保和健康方面有本质区别。
%p 水性木器漆是木器涂料中技术难度和科技含量最高的产品。水性木器漆以其无毒环保、无气味、可挥发物极少、不燃不爆的高安全性、不黄变、涂刷面积大等优点，随着人们环保意识的增强，越来越受到市场的欢迎。
%p 水性木木器漆的种类
%p 尽管当前市场上水性木器漆品牌众多，但论据其主要成分的不同，可以分为下四类：
%p 1.以丙烯酸为主要成分的水性木器漆，主要特点是附着力好，不会加深木器的颜色，但耐磨及抗化学性较差，漆膜硬度较软，铅笔法则试为HB，丰满度较差，综合性能一般，施工易产生缺陷。因其成本较低且技术含量不高，是大部分水性漆企业推向市场的主要产品。这也是形成大多数人认为水性漆不好的原因所在。其优点是价格便宜。
%p 2.以丙烯本乡与聚氨酯的合成物为主要成分的水性木器漆，其特点除了秉承丙烯酸漆的特点外，又增加了耐磨及抗化学性强的特点，有些企业标为水性聚脂漆。漆膜硬度较好，铅笔法则试为1H，丰满度较好，综合性能接近油性漆。目前国内只有少数几家企业可以生产。
%p 3.聚氨酯水性漆，其综合性能优越，丰满度高，漆膜硬度可达到1.5-2H，耐磨性能甚至超过油性漆，使用寿命、色彩调配方面都有明显优势，为水性漆中的高级产品。
%p 4.伪水性漆，使用时还要添加固化剂或化学品，比如“硬化剂”、“漆膜增强剂”、“专用稀释水”等等，有些也可以加水稀释，但溶剂含量很高，对人体危害更大，有些甚至超过油性漆的毒性，还有一些企业标为水性聚酯漆。消费者很容易分辨出来。
%p 常见问题及解决对策
%p 漆膜起皱
%p 一些施工人员在使用水性木器漆进行平涂时，采取一次性厚涂方式，结果丰满度是极好，但漆膜表面出现起皱现象。产生问题的原因是厚涂的水性漆漆膜在高温下，漆膜表层迅速干燥成膜而厚厚的内层却干燥缓慢，在干燥过程中漆的流动产生张力差，导致最终成膜表面不平，即起皱。因此施工时，不要一次厚涂，特别不要以直接倾倒的方法，仍应采取薄涂，保证涂层均匀干燥成膜，达到漆膜平整效果。
%p 漆膜附着力差
%p 夏季气温高，部分地区空气中湿度又大。一般的水性木器漆施工后，会发现涂层层间粘接不牢，产生附着不良现象，出现层与层之间相互剥离，甚至可以像撕皮一样整片撕下。造成漆膜层间附着力不良的直接原因是油漆工施工时，层间没有打磨所致。由于油漆工为赶时间，在下一道工序时，未经打磨，而是直接涂刷于上一道漆膜上，加上气温高，湿漆膜与干漆膜界面形成牢固层所需时间不足，使附着力受影响。因此，要求施工人员在高温天气施工时，每层间要进行充分打磨，增进附着力，同时施工安排在早晚为宜，确保产品的内在质量得以体现。
%p 漆膜开裂
%p 这个现象也是夏天施工中较为常见的。由于在施工的过程中，漆层涂膜太厚，导致表层干燥成膜速度快，而厚厚的内层却干燥缓慢，直接造成了底漆开裂等现象。同时，也要注意板材的质量问题，建议选购稳定性好的板材。
%p 漆层发白
%p 主要是施工环境湿度太大，施工过程中涂膜太厚等原因造成的。因为夏季气温高，部分地区空气湿度较大。漆层的表干时间随着气温的升高而加快，但是实干时间却较为缓慢；油漆工在施工过程中，可能忽略了实干时间，而在漆层表干之后，就立刻上另一道漆。导致底部漆层未完全实干。在下雨天或者湿度大的天气，容易产生漆层发白的现象。
