---
layout: news-article
title: 丙烷脱氢制丙烯成套技术工艺包通过总部审查
description: 中国石化新闻网讯（李建永 王发辉）11月25日，由抚顺石油化工研究院和中石化洛阳工程有限公司联合承担的丙烷脱氢制丙烯（MPDH）成套技术工艺包，在北京顺利通过了中国石化股份公司科技部审查，标志着国产化丙烷脱氢制丙烯技术正式进入工业应用阶段。
---
%p 中国石化新闻网讯（李建永 王发辉）11月25日，由抚顺石油化工研究院和中石化洛阳工程有限公司联合承担的丙烷脱氢制丙烯（MPDH）成套技术工艺包，在北京顺利通过了中国石化股份公司科技部审查，标志着国产化丙烷脱氢制丙烯技术正式进入工业应用阶段。
%p 在审查会上，与会专家对完成单位提交的技术开发报告进行了详细地讨论和审查，一致认为该工艺包流程设计合理、数据可靠，具有自主知识产权，整体技术达到了国际同类技术水平；其催化剂在反再系统连续移动及再生，始终处于最佳状态，性能稳定，操作简便，安全性高；项目工艺包内容详实，完成了中石化科技开发合同规定的任务，可作为工程放大装置设计的基础，建议加快推进工业化转化。
%p 据悉，该项技术自2012年在总部立项，目前已完成20万吨/年成套技术工艺包开发，累计申请国家发明专利86项，其中获得授权专利41项，在丙烷脱氢制丙烯领域中形成了独具特色的中石化品牌技术。
