---
layout: news-article
title: 2013年度中国石油和化工自动化行业科学技术奖评审结果公示
description: 中国石油和化工自动化行业科学技术奖是经国家科学技术部批准（国科奖社证字第0109号）设立的面向全国范围的行业性科学技术奖项，是为充分调动广大科技工作者的积极性和创造性，表彰和鼓励在推动行业科技进步工作中做出突出贡献的集体和个人而设立的。
---
%p 中国石油和化工自动化行业科学技术奖是经国家科学技术部批准（国科奖社证字第0109号）设立的面向全国范围的行业性科学技术奖项，是为充分调动广大科技工作者的积极性和创造性，表彰和鼓励在推动行业科技进步工作中做出突出贡献的集体和个人而设立的，由中国石油和化工自动化应用协会承办，每年评审授奖一次。中国石油和化工自动化应用协会具有直接推荐国家科学技术奖的资格。
%p 评审工作坚持科学、严谨、规范、公开、公正、公平的原则。评审委员会按照规定的程序和办法组织评审出2013年度中国石油和化工自动化行业科学技术奖获奖项目共122项，其中技术发明奖5项，科技进步奖117项，科技成就奖空缺，杰出科技人才奖空缺。现将评审结果向社会公示，以征求异议。自公示之日起，异议期为30天。如有异议，请于2014年7月9日前向中国石油和化工自动化应用协会科学技术奖励工作办公室提出书面意见，并写明真实姓名、工作单位、联系地址和电话。
%p 联系单位：中国石油和化工自动化应用协会科学技术奖励工作办公室
%p 地 址：北京市东城区和平里七区16号楼504室（100013）
%p 中国石油和化工自动化应用协会科技奖励办公室
%p 二O一四年六月十日
%p 技术发明奖
%table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "703"}
  %tbody
    %tr
      %td{:width => "40"}
        %div{:align => "center"}
          %b 序号
      %td{:width => "168"}
        %div{:align => "center"}
          %b 项 目 名 称
      %td{:width => "216"}
        %div{:align => "center"}
          %b 主 要 完 成 单 位
      %td{:width => "216"}
        %div{:align => "center"}
          %b 主 要 完 成 人
      %td{:width => "62"}
        %div{:align => "center"}
          %b 拟授奖
        %div{:align => "center"}
          %b 等级
    %tr
      %td{:width => "40"}
        %div{:align => "center"} 1
      %td{:width => "168"}
        %div 超深缝洞型碳酸盐岩高精度三维地震探测关键技术突破
      %td{:width => "216"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 彭更新、段文胜、满益志、李国发、崔永福、黄录忠、陈学强、王小卫、赵锐锐、郑多明、刘正文、李 飞、王春和、黄有晖、严 峰
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "40"}
        %div{:align => "center"} 2
      %td{:width => "168"}
        %div 基于工艺机理的精馏产品质量控制和经济目标优化集成控制优化技术
      %td{:width => "216"}
        %div 清华大学、中国石油化工股份有限公司沧州分公司
      %td{:width => "216"}
        %div 黄德先、吕文祥、江永亨、张金柱、王京春、刘云龙、王宇红、贺文敏、柳 文、李凤生、熊智华、王 亮、王广胜、孙国民、刘先广
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "40"}
        %div{:align => "center"} 3
      %td{:width => "168"}
        %div 超大型组块精确称重系统及重量转移装置
      %td{:width => "216"}
        %div 海洋石油工程（青岛）有限公司
      %td{:width => "216"}
        %div 周学仲、李志刚、李淑民、宋峥嵘、陈宝洁、吕 屹、李 林、刘 超、陈 品、徐善辉
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "40"}
        %div{:align => "center"} 4
      %td{:width => "168"}
        %div 成品油输送及管网设计关键技术研究
      %td{:width => "216"}
        %div 中国石油天然气管道工程有限公司
      %td{:width => "216"}
        %div 聂中文、张文伟、李 安、胡协兰、邓东花、李 麟、李 苗、孙 宇、朱 云、姜宇澄
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "40"}
        %div{:align => "center"} 5
      %td{:width => "168"}
        %div 海洋结构物陆地吊装的创新技术
      %td{:width => "216"}
        %div 海洋石油工程（青岛）有限公司
      %td{:width => "216"}
        %div 李淑民、宋峥嵘、虞明星、陈广宁、李 林、李黎霞
      %td{:width => "62"}
        %div{:align => "center"} 三等奖

%p 科技进步奖
%table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "702"}
  %tbody
    %tr
      %td{:width => "34"}
        %div{:align => "center"}
          %b 序号
      %td{:width => "178"}
        %div{:align => "center"}
          %b 项 目 名 称
      %td{:width => "211"}
        %div{:align => "center"}
          %b 主 要 完 成 单 位
      %td{:width => "216"}
        %div{:align => "center"}
          %b 主 要 完 成 人
      %td{:width => "62"}
        %div{:align => "center"}
          %b 拟授奖等级
    %tr
      %td{:width => "34"}
        %div 6
      %td{:width => "178"}
        %div 中国海相页岩气形成富集条件研究、勘探评价技术及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司勘探开发研究院、中国石油天然气股份有限公司西南油气田分公司、中国石油天然气股份有限公司浙江油田分公司、西南石油大学
      %td{:width => "216"}
        %div 邹才能、陈更生、董大忠、李建忠、王玉满、王社教、李登华、李新景、蔚远江、梁 兴、黄金亮、吕宗刚、王兰生、王世谦、蒋裕强
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 7
      %td{:width => "178"}
        %div 新一代化学驱油理论和技术研究及工业化应用
      %td{:width => "211"}
        %div 北京科技大学、大庆油田有限责任公司第一采油厂、中国石油化工股份有限公司胜利油田分公司采油工艺研究院
      %td{:width => "216"}
        %div 朱维耀、隋新光、王世虎、宋书君、宋吉水、鞠 岩、刘卫东、高 珉、雷光伦、沈全富、刘义坤、张传绪、宋洪庆、黄小荷、陈 莉
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 8
      %td{:width => "178"}
        %div 炼化装置全流程自动控制关键技术及应用
      %td{:width => "211"}
        %div 北京化工大学、浙江大学、中国石油化工股份有限公司北京燕山分公司、北京国控天成科技有限公司
      %td{:width => "216"}
        %div 靳其兵、张建明、刘彦波、黄克谨、关 力、张日东、王 琪、周 星、陈 思、潘欣杰、王 玥、王 晶、李大字、张金会、曹政才
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 9
      %td{:width => "178"}
        %div 基于高效并行平台的高精度叠前成像技术研究及在复杂构造区的应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司勘探开发研究院西北分院
      %td{:width => "216"}
        %div 王宇超、刘文卿、胡自多、冯超敏、王 孝、冯心远、邵喜春、王述江、赵 伟、吕 彬、徐兴荣、雍运动、曾华会、张向阳、张小美
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 10
      %td{:width => "178"}
        %div 8000米钻机及应用
      %td{:width => "211"}
        %div 中国石油集团钻井工程技术研究院、中国石油天然气股份有限公司塔里木油田分公司、宝鸡石油机械有限责任公司、中国石油集团渤海钻探工程有限公司
      %td{:width => "216"}
        %div 石 林、李循迹、方太安、龙 平、马洪钟、周天明、周志雄、滕学清、孙守仁、张建明、刘江涛、雷先革、栾 苏、周清平、樊春明
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 11
      %td{:width => "178"}
        %div 高含H2S/CO2气田管柱腐蚀防护技术与工业化应用
      %td{:width => "211"}
        %div 中国石油化工股份有限公司石油勘探开发研究院、中国石油大学(北京)
      %td{:width => "216"}
        %div 石在虹、陈长风、苏建政、牛 骏、丁 建、韩冬深、杨立红、史爱萍、柯文奇、张祖国、王雅茹、唐 萍、陈秋芬、王 超、李孟涛
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 12
      %td{:width => "178"}
        %div 高压天然气计量检定及量值溯源体系关键技术研究
      %td{:width => "211"}
        %div 国家石油天然气大流量计量站、大庆油田工程有限公司
      %td{:width => "216"}
        %div 郭 亮、肖 迪、王劲松、崔建华、国明昌、成晓一、马福军、刘宪英、陈 立、孙宝权、安树民、夏 伟、刘晓光、巩大利、陈 亮
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 13
      %td{:width => "178"}
        %div 高含水油田深部调驱关键技术与应用
      %td{:width => "211"}
        %div 中国石油勘探开发研究院、中国石油新疆油田分公司
      %td{:width => "216"}
        %div 潘志坚、刘顺生、张 松、赵美刚、石建姿、陈立生、李顺明、邓宝荣、高兴军、马自俊、吴行才、吴永锋、杨立民、邹存友、李 丰
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 14
      %td{:width => "178"}
        %div 基于工业物联网的多模态测控关键技术研究及应用
      %td{:width => "211"}
        %div 河海大学、东华大学、江苏瑞奇自动化有限公司
      %td{:width => "216"}
        %div 徐立中、严 勤、李晓芳、周武能、李旭杰、孙培德、刘华山、杨 芸、张 凯、陆迎曙、章微微、李岳衡、汤 敏
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 15
      %td{:width => "178"}
        %div 稠油热力开采堵水调剖技术与应用
      %td{:width => "211"}
        %div 中国石油辽河油田钻采工艺研究院
      %td{:width => "216"}
        %div 张洪君、郑 猛、王 浩、许占双、刘恩宏、闫 峰、张 群、柳荣伟、梁凌熏、龙 华、李 瑞、郝瑞辉、刘晶晶、任从军、柳燕丽
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 16
      %td{:width => "178"}
        %div 采油井分层监测及产液控制技术研究与应用
      %td{:width => "211"}
        %div 大庆油田有限责任公司采油工程研究院
      %td{:width => "216"}
        %div 王群嶷、辛舒臻、徐德奎、王金友、岳庆峰、刘崇江、赵明鑫、姚 飞、许丽萍、张 威、张玉坤、刘仁勇、杜贵涛、赵骊川、刘 昕
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 17
      %td{:width => "178"}
        %div 气藏开发物理模拟实验技术及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司勘探开发研究院廊坊分院
      %td{:width => "216"}
        %div 李熙喆、朱华银、胡 勇、陆家亮、万玉金、徐 轩、郭长敏、焦春艳、苏云河、黄伟岗、刘晓华、赵素平、杨希翡、罗瑞兰、刘华林
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 18
      %td{:width => "178"}
        %div 水平井桥塞分段压裂工艺技术
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司西南油气田分公司采气工程研究院、中国石油西南油气田公司天然气研究院、中国石油川庆钻探公司测井公司
      %td{:width => "216"}
        %div 桑 宇、李 明、唐 凯、王小红、彭钧亮、肖勇军、汪于博、曾 波、喻成刚、佘朝毅、刘友权、任国辉、宋 毅、张华礼、周长林
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 19
      %td{:width => "178"}
        %div 煤层气地面“三低”集输工艺关键技术与示范
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司山西煤层气勘探开发分公司
      %td{:width => "216"}
        %div 田 炜、陈洪明、梅永贵、郭 简、巴玺立、薛占新、王景悦、杜晓冬、孟凡华、韩占彪、杨莉娜、范书军、李晓亮、苏 雷、张永琪
      %td{:width => "62"}
        %div{:align => "center"} 一等奖
    %tr
      %td{:width => "34"}
        %div 20
      %td{:width => "178"}
        %div 工业阀门智能质量检验系统的研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司技术监测中心、上海增欣机电设备制造有限公司
      %td{:width => "216"}
        %div 杨再生、裴润有、梁桂海、郭占春、胡增洪、白金亮、白鹤鸣、李振国、曹海平、田应国
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 21
      %td{:width => "178"}
        %div 海上油田高效复合酸化增注增产技术研究与应用
      %td{:width => "211"}
        %div 中海油能源发展股份有限公司工程技术分公司
      %td{:width => "216"}
        %div 易 飞、刘福海、刘春祥、黄 波、刘全刚、刘义刚、周际永、孙 林、汪佑江、夏 光
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 22
      %td{:width => "178"}
        %div 基于电参数的螺杆泵举升产液量计量及工况诊断技术研究与应用
      %td{:width => "211"}
        %div 大庆油田有限责任公司第五采油厂
      %td{:width => "216"}
        %div 艾尚军、王中国、黄有泉、孙晓明、赵明凯、王清平、郝伟东、何继峰、曹玉林、李庆东
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 23
      %td{:width => "178"}
        %div 石化企业安全监管及其移动应用系统的研发与推广应用
      %td{:width => "211"}
        %div 中国石油化工股份有限公司青岛安全工程研究院
      %td{:width => "216"}
        %div 牟善军、王秀香、施红勋、张亚丽、穆 波、王廷春、丁晓刚、米红梅、彭湘潍、张树才
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 24
      %td{:width => "178"}
        %div 基于地震波形特征的储层参数预测方法及应用
      %td{:width => "211"}
        %div 长江大学、中国石油化工股份有限公司石油物探技术研究院
      %td{:width => "216"}
        %div 桂志先、杨 波、张正炳、孙振涛、段天友、许辉群、高 刚、陈传仁、谢锐杰、易远元
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 25
      %td{:width => "178"}
        %div 套筒式永磁调速器的研制及应用
      %td{:width => "211"}
        %div 南京艾凌节能技术有限公司、中国石化集团胜利石油管理局胜利发电厂
      %td{:width => "216"}
        %div 孙正贵、王向东、王洪滨、马 波、黄忠念、陈振华、赵学俭、王 斌、孙 东、张铜宝
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 26
      %td{:width => "178"}
        %div 稠油热采注汽质量监测技术研究与应用
      %td{:width => "211"}
        %div 中国石油辽河油田钻采工艺研究院
      %td{:width => "216"}
        %div 张洪君、朱 强、何金宝、杨志祥、孙 勇、步新兵、郝瑞辉、方 文、李 蓉、张 路
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 27
      %td{:width => "178"}
        %div 不压井作业技术研究及规模化推广应用
      %td{:width => "211"}
        %div 中国石油集团长城钻探工程有限公司
      %td{:width => "216"}
        %div 刘 宝、蔡长宇、刘 建、阚 凯、李婧源、冯建明、郭双江、才 志、芦 勇、张德旺
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 28
      %td{:width => "178"}
        %div 大港滩海油田薄层油藏开发技术研究与应用
      %td{:width => "211"}
        %div 中国石油大港油田勘探开发研究院
      %td{:width => "216"}
        %div 何书梅、李 静、谭振华、刘计超、杨 涛、王丽荣、刘天鹤、张艳君、刘 璐、程 立
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 29
      %td{:width => "178"}
        %div 大型油罐和电网雷害成因及防护技术的研究
      %td{:width => "211"}
        %div
          中国石油集团安全
          %a{:href => "http://www.chem234.com/sell/search.php?kw=%BB%B7%B1%A3", :target => "_blank"}>
            %strong.keylink 环保
          技术研究院
      %td{:width => "216"}
        %div 娄仁杰、何明俊、李 斌、吴秀敏、陈思学、于海波、戴丽平、王红英、朱 颖、付 强
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 30
      %td{:width => "178"}
        %div 库车超深超高压高温裂缝性储层试油及储层改造配套技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司油气工程研究院、西安石油大学、中国石油天然气股份有限公司勘探开发研究院、中国石油天然气集团公司管材研究所
      %td{:width => "216"}
        %div 张福祥、杨向同、刘洪涛、滕学清、刘军严、丁亮亮、彭建新、巴 旦、窦益华、周福建
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 31
      %td{:width => "178"}
        %div 延长油井检泵周期关键技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司华北油田分公司第五采油厂
      %td{:width => "216"}
        %div 付亚荣、马永忠、付 茜、刘春平、王 芳、范忠钰、尤冬青、李小永、李 淼、张志明
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 32
      %td{:width => "178"}
        %div 塔里木盆地深层古老白云岩储层预测技术与重大勘探发现
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 陈永权、徐彦龙、关宝珠、董瑞霞、熊益学、李保华、张艳秋、邓力萍、严 威、王 轩
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 33
      %td{:width => "178"}
        %div 单螺杆机械的数字化设计方法与制造技术
      %td{:width => "211"}
        %div 长江大学
      %td{:width => "216"}
        %div 易先中、冯 定、张锦洲、管 锋、张 红、张玉树、曹 佳、汪建华、周元华、刘利军
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 34
      %td{:width => "178"}
        %div 元坝超深含硫气藏勘探开发关键工程技术
      %td{:width => "211"}
        %div 中石化西南石油工程有限公司井下作业分公司
      %td{:width => "216"}
        %div 龙 学、李 晖、王明贵、黎克难、曹学军、李 伟、刘华杰、何世云、周天春
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 35
      %td{:width => "178"}
        %div 海上大型油气田工程设计技术研究与应用
      %td{:width => "211"}
        %div 海洋石油工程股份有限公司
      %td{:width => "216"}
        %div 李志刚、钟文军、周美珍、刘培林、朱晓环、尹汉军、孙国民、吴朝晖、刘玉玺、曾树兵
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 36
      %td{:width => "178"}
        %div 陕北地区浅油层效益开发技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 屈雪峰、周宗强、赵继勇、雷启鸿、刘丽丽、杜秀琴、林 罡、杨卫国、曲春霞、王文雄
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 37
      %td{:width => "178"}
        %div 基于自组网的无线气体探测系统及其在油田中的应用
      %td{:width => "211"}
        %div 聚光科技（杭州）股份有限公司
      %td{:width => "216"}
        %div 张 涛、孙 麒、赵 骏、肖前虎、余 灿
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 38
      %td{:width => "178"}
        %div 超高温高压井测试技术
      %td{:width => "211"}
        %div 中国石油集团渤海钻探工程有限公司油气井测试分公司
      %td{:width => "216"}
        %div 朱礼斌、万之套、张绍礼、王元龙、田印忠、任永宏、杨 皓、韩 斌、贾文义、邢晓光
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 39
      %td{:width => "178"}
        %div 磁悬浮垂直轴风力发电机
      %td{:width => "211"}
        %div 南通大学、南通爱利特机电制造有限公司
      %td{:width => "216"}
        %div 吴国庆、周井玲、吴树谦、刘凤鸣、曹  阳、茅靖峰、朱维南、张旭东
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 40
      %td{:width => "178"}
        %div 普光气田集输管道凝结液腐蚀与控制技术研究
      %td{:width => "211"}
        %div 中国石油化工股份有限公司青岛安全工程研究院、中国石油化工股份有限公司中原油田分公司
      %td{:width => "216"}
        %div 蒋 秀、陈惟国、刘小辉、盛兆顺、黄贤滨、熊良淦、邵理云、屈定荣、赵祥迪、马红星
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 41
      %td{:width => "178"}
        %div 提高油田井下作业管理效率的信息技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司华北油田分公司第三采油厂、东北石油大学
      %td{:width => "216"}
        %div 李海涛、李金永、田 炜、李高峰、甄建兵、吴寅生、苗彦平、杨建广、贾炜镔、董金岗
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 42
      %td{:width => "178"}
        %div 液化天然气接收站运行管理技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司管道分公司管道科技研究中心、中石油江苏液化天然气有限公司
      %td{:width => "216"}
        %div 彭世垚、王晓梅、许 斌、黄薇薇、闫 锋、马铁轮、赵 竹、王洪超、吕国锋、王玉彬
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 43
      %td{:width => "178"}
        %div 塔里木盆地复杂山地变速成图技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 陈 猛、满益志、王兴军、王 川、赖敬容、李文燕、向 东、王春和、李世吉、张耀堂
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 44
      %td{:width => "178"}
        %div CPU+GPU异构集群应用策略研究
      %td{:width => "211"}
        %div 中国石油新疆油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 张 健、林 茂、董玉敏、许 涛、塔依尔.伊布拉音、邹 杰、宋雪峰、杨 敏、李淑倩、关 宇
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 45
      %td{:width => "178"}
        %div 新型低成本多糖(PPQ)压裂液体系研制与推广
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 常彦荣、李 楷、陆红军、李建山、齐 银、尚友民、曹润荣、李 川、王成旺、詹益旺
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 46
      %td{:width => "178"}
        %div 复杂油气储层测井评价方法及应用
      %td{:width => "211"}
        %div 长江大学、中海石油（中国）有限公司湛江分公司、中国石油天然气股份有限公司塔里木油田分公司、中海石油（中国）有限公司深圳分公司
      %td{:width => "216"}
        %div 高楚桥、赵 彬、吴洪深、肖承文、冯 进、蔡 军、何胜林、高 华、李先鹏、杨 波
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 47
      %td{:width => "178"}
        %div 致密油气藏室内开发试验技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 林光荣、荣春龙、刘学刚、于忠平、刘秋兰、章志锋、李永胜、任肇才、高 薇、黄锦绣
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 48
      %td{:width => "178"}
        %div 沁水盆地南部高阶煤煤层气井排采管控及增产技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司山西煤层气勘探开发分公司
      %td{:width => "216"}
        %div 胡秋嘉、李梦溪、王立龙、刘春春、吴定泉、闫 玲、崔新瑞、张光波、余 巍、侯 涛
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 49
      %td{:width => "178"}
        %div 站场腐蚀控制及管道外腐蚀检测评价技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司管道分公司管道科技研究中心
      %td{:width => "216"}
        %div 陈新华、张 丰、赵 君、赵晋云、徐承伟、陈振华、吴长访、刘玲莉、薛致远、滕延平
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 50
      %td{:width => "178"}
        %div 塔中礁滩体大型凝析气藏精细描述技术及工业化应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院、中国石油集团东方地球物理勘探有限责任公司研究院库尔勒分院、中国石油天然气股份有限公司勘探开发研究院廊坊分院
      %td{:width => "216"}
        %div 罗春树、张正红、刘 鑫、沈春光、韩兴杰、江 杰、张 敏、孙贺东、谢 恩、潘杨勇
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 51
      %td{:width => "178"}
        %div 基于3G通信的远程监控系统
      %td{:width => "211"}
        %div 青岛科技大学
      %td{:width => "216"}
        %div 赵文仓、王 凡、张 澄、童 波、迟晓宇、齐 丹、王晓晓
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 52
      %td{:width => "178"}
        %div 零散小断块油田污水回注关键技术研究及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司华北油田分公司
      %td{:width => "216"}
        %div 耿玉广、王树义、宋丽梅、王东升、刘志虎、齐惠恩、代召卫、张胜龙、刘海俊、陶宝胜
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 53
      %td{:width => "178"}
        %div 抽油机井测试诊断分析关键技术研究与应用
      %td{:width => "211"}
        %div 大庆油田有限责任公司第二采油厂、辽宁弘毅科技有限公司
      %td{:width => "216"}
        %div 张玉生、孙茂军、刘纪彬、陈伟平、辛舒臻、赵 沅、田云龙、庞海峰、王鸿运、刘 萍
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 54
      %td{:width => "178"}
        %div 深层高阶煤层气定向井举升工艺优化设计研究
      %td{:width => "211"}
        %div 中石油煤层气有限责任公司
      %td{:width => "216"}
        %div 王 峰、刘国强、王凤清、张 康、宋 波、李积风、耿 昊、张盖霞、孙龙飞、马 召
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 55
      %td{:width => "178"}
        %div 油田企业IT资源监控与管理研究
      %td{:width => "211"}
        %div 中国石油化工股份有限公司江汉油田分公司、武汉理工大学
      %td{:width => "216"}
        %div 王运鹏、陈晓芳、张国安、褚军农、孔繁国、陈小华、许 娜、赵明琨、黄文才、诸建平
      %td{:width => "62"}
        %div{:align => "center"} 二等奖
    %tr
      %td{:width => "34"}
        %div 56
      %td{:width => "178"}
        %div 海上地震勘探上下缆采集和双检拖缆采集资料处理方法研究
      %td{:width => "211"}
        %div 中海油能源发展股份有限公司工程技术分公司
      %td{:width => "216"}
        %div 方中于、但志伟、刘金朋、万 欢、吴耀乐、孙雷鸣
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 57
      %td{:width => "178"}
        %div 炼化企业往复机组状态监测与故障诊断技术研究
      %td{:width => "211"}
        %div
          中国石油兰州石油
          %a{:href => "http://www.chem234.com/company/", :target => "_blank"}>
            %strong.keylink 化工公司
          研究院、中国石油集团安全环保技术研究院
      %td{:width => "216"}
        %div 任世科、牛 蕴、马 斌、罗方伟、高维娜、刘雪梅
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 58
      %td{:width => "178"}
        %div 多频阵列感应成像测井仪研制与应用
      %td{:width => "211"}
        %div 中国石油集团测井有限公司
      %td{:width => "216"}
        %div 汤天知、陈 涛、江有宏、王丽蓉、贺秋利、陈章龙
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 59
      %td{:width => "178"}
        %div 天然气管道分输自适应控制系统研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司西气东输管道分公司
      %td{:width => "216"}
        %div 彭太翀、王多才、梁建青、王海峰、王 磊、赵廉斌
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 60
      %td{:width => "178"}
        %div 渤海油田一体化防蜡技术
      %td{:width => "211"}
        %div 中海油能源发展股份有限公司工程技术分公司
      %td{:width => "216"}
        %div 田初明、钟 峥、徐国雄、李 登、郭海军、张国欣
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 61
      %td{:width => "178"}
        %div 中国石油成品油库自动化系统集成研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司规划总院
      %td{:width => "216"}
        %div 李 思、郭日敏、王 相、谭 湘、白红生、蔡武德
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 62
      %td{:width => "178"}
        %div 加油站埋地油罐泄漏快速检测技术研究与应用
      %td{:width => "211"}
        %div 中国石油化工股份有限公司青岛安全工程研究院
      %td{:width => "216"}
        %div 邹 兵、肖安山、胡绪尧、姜素霞、魏新明、孙晓英
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 63
      %td{:width => "178"}
        %div 致密砂岩油藏采油技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司吉林油田分公司
      %td{:width => "216"}
        %div 李崇喜、伊振林、吴 丽、于 虹、李 涛、石广志
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 64
      %td{:width => "178"}
        %div 典型全氟碳化合物PFCs和挥发性化学物质风险测试关键技术研究
      %td{:width => "211"}
        %div 中国检验检疫科学研究院
      %td{:width => "216"}
        %div 陈会明、程 艳、宋乃宁、周丽丽、于文莲、李 蕾
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 65
      %td{:width => "178"}
        %div 中国石油突发事件应急资源调度决策支持系统研究
      %td{:width => "211"}
        %div 中国石油集团安全环保技术研究院
      %td{:width => "216"}
        %div 裴玉起、张 超、刘 牧、栾国华、储胜利、李 峰
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 66
      %td{:width => "178"}
        %div 大型深水气田开发的先进工艺装备与控制技术
      %td{:width => "211"}
        %div 海洋石油工程股份有限公司
      %td{:width => "216"}
        %div 刘培林、曾树兵、钟小侠、陈文峰、李 豫、余 智
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 67
      %td{:width => "178"}
        %div 油库自动化的基础理论与关键技术研究
      %td{:width => "211"}
        %div 辽宁工程技术大学
      %td{:width => "216"}
        %div 王宏伟、荣德生、陈伟华、宋立业、杨 桢、刘 丽
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 68
      %td{:width => "178"}
        %div 三层PE防腐层快速剥离机的研制与应用
      %td{:width => "211"}
        %div 中国石油天然气管道局维抢修分公司
      %td{:width => "216"}
        %div 徐海波、姜修才、赵东辉、陶伟莉、王建伟
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 69
      %td{:width => "178"}
        %div 天然气气液两相在线计量技术研究及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 朱天寿、付钢旦、马建军、穆谦益、杨仓海、张春涛
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 70
      %td{:width => "178"}
        %div 吉林油田高效开发钻井优化设计技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司吉林油田分公司钻井工艺研究院
      %td{:width => "216"}
        %div 王 力、何 军、宋 杨、王占林、冯水山、张继峰
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 71
      %td{:width => "178"}
        %div 多功能电-液内对口器
      %td{:width => "211"}
        %div 中国石油天然气管道局第四工程分公司
      %td{:width => "216"}
        %div 朱东志、王平国、刘新生、汪兰天、于常福、刁凤东
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 72
      %td{:width => "178"}
        %div 特殊气井修井工艺技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司西南油气田分公司采气工程研究院
      %td{:width => "216"}
        %div 谭宏兵、佘朝毅、林盛旺、罗 伟、徐月霞、侯培培
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 73
      %td{:width => "178"}
        %div 华北油田低温稠油油藏微生物采油配套技术研究及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司华北油田分公司采油工程研究院
      %td{:width => "216"}
        %div 吴 刚、游 靖、余吉良、李勇斌、张国钧、杨华振
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 74
      %td{:width => "178"}
        %div 超低渗透油藏精细油藏描述成果应用及推广
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 陈建文、李伟华、高建英、平 义、任俊松、杨焕英
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 75
      %td{:width => "178"}
        %div
          激光光谱分析技术在丁苯
          %a{:href => "http://www.chem234.com/sell/list-277.html", :target => "_blank"}>
            %strong.keylink 橡胶
          装置的研究与应用
      %td{:width => "211"}
        %div 中国石油兰州石油化工公司研究院
      %td{:width => "216"}
        %div 刘海生、邢龙春、刘双明、刘栓祥、李 延、陈世龙
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 76
      %td{:width => "178"}
        %div 前陆盆地井筒稳定性与压裂高度预测技术及应用实践
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 田 军、肖承文、祁新忠、袁仕俊、信 毅、范文同
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 77
      %td{:width => "178"}
        %div 专职消防队灭火救援总体预案编制导则与典型设备灭火救援基本战术研究
      %td{:width => "211"}
        %div 中国石油集团安全环保技术研究院
      %td{:width => "216"}
        %div 唐小红、李智勇、刘学军、杨兴华、宋丹青
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 78
      %td{:width => "178"}
        %div 压裂曲线远程实时监控系统
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 马建军、闫志强、吴顺林、沈 磊、李美玉、朱 颜
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 79
      %td{:width => "178"}
        %div 高家梁煤矿软岩斜井锚喷网支护施工监测及数值模拟研究
      %td{:width => "211"}
        %div 辽宁工程技术大学、鄂尔多斯市昊华精煤有限责任公司
      %td{:width => "216"}
        %div 张向东、张兴文、孙 闯、雷文成、张立生、周财宝
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 80
      %td{:width => "178"}
        %div 钻杆磁感应法缺陷检测技术仿真研究
      %td{:width => "211"}
        %div 中国石油集团钻井工程技术研究院
      %td{:width => "216"}
        %div 汤清源、刘 丹、王文军、程永瑞、安丰春、罗 刚
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 81
      %td{:width => "178"}
        %div 定向井不动管柱分层体积压裂技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 陆红军、常 笃、陈宝春、鲁 玲、董立全、吕昌盛
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 82
      %td{:width => "178"}
        %div 山前复杂带三维重磁电砾岩识别技术及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院、中国石油集团川庆钻探工程有限公司地球物理勘探公司
      %td{:width => "216"}
        %div 李 青、吴庆宽、莫 涛、玛丽克·乌斯曼、王 媛
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 83
      %td{:width => "178"}
        %div 红岗油田二元驱提高采收率技术研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司吉林油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 马立文、杨玉梅、吴 伟、蔡金容、刘晓明、辛士代
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 84
      %td{:width => "178"}
        %div 油气藏数值模拟前后处理软件开发及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 卞万江、周 飞、周代余、王 超、乔 霞、王 陶
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 85
      %td{:width => "178"}
        %div 天然气与管道ERP设备管理深化应用研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司规划总院、中国石油天然气股份有限公司天然气与管道分公司、中国石油天然气股份有限公司管道分公司、中石油北京天然气管道有限公司
      %td{:width => "216"}
        %div 秦世峰、刘 晨、李 楠、骆科东、赵堂玉、吴志平
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 86
      %td{:width => "178"}
        %div X70钢多道埋弧焊后热处理及焊缝氢测定工艺研究
      %td{:width => "211"}
        %div 中油管道机械制造有限责任公司
      %td{:width => "216"}
        %div 杨津瑜、邹 峰、鲁克莹、董俊军、张志远、孙之敏
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 87
      %td{:width => "178"}
        %div 固井水泥环评价新方法研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司西南油气田分公司采气工程研究院、西南石油大学、中国石油西南油气田公司川中油气矿
      %td{:width => "216"}
        %div 郑友志、佘朝毅、杨 涛、周 浪、刘文忠、陈海力
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 88
      %td{:width => "178"}
        %div 轮古油田碳酸盐岩潜山洞穴分层解释评价技术及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院
      %td{:width => "216"}
        %div 邓兴梁、李保华、裴广平、苗 青、袁玉春、李世银
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 89
      %td{:width => "178"}
        %div 气井远程自动投球加药排水采气技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 冯朋鑫、宋汉华、韩 勇、曹 毅、谷成义、谈 泊
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 90
      %td{:width => "178"}
        %div 加油站油品渗漏监控系统
      %td{:width => "211"}
        %div 中国石油集团安全环保技术研究院
      %td{:width => "216"}
        %div 李巨峰、张坤峰、许德刚、李羽中、李英芹、李秀珍
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 91
      %td{:width => "178"}
        %div 油气管道经济寿命预测及站场关键设备更新决策研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司管道分公司管道科技研究中心
      %td{:width => "216"}
        %div 牛国富、钱成文、张玉志、冯 伟、陈 博、马克锋
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 92
      %td{:width => "178"}
        %div 昆北油田储层保护钻井液技术研究与应用
      %td{:width => "211"}
        %div 中国石油青海油田钻采工艺研究院
      %td{:width => "216"}
        %div 窦红梅、赵元才、郝少军、杨国辉、谯世均、余 博
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 93
      %td{:width => "178"}
        %div 基于多种地质建模格式的自动油藏数模技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 何永宏、袁 林、陈建文、王永宏、李爱华、范希良
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 94
      %td{:width => "178"}
        %div 高寒偏远地区油气田井场智能监测与管控系统关键技术研究
      %td{:width => "211"}
        %div 华北石油通信公司
      %td{:width => "216"}
        %div 李 海、张逢源、冯玉敏、李明涛、余 冬、袁先义
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 95
      %td{:width => "178"}
        %div 勘探系统工程技术情报共享应用平台
      %td{:width => "211"}
        %div 大庆油田有限责任公司采油工程研究院
      %td{:width => "216"}
        %div 张玉广、张 睿、张永峰、闫 立、刘 芳、芦逍遥
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 96
      %td{:width => "178"}
        %div 随钻井间电位层析成像技术研究与实践
      %td{:width => "211"}
        %div 中国石油大港油田石油工程研究院
      %td{:width => "216"}
        %div 张金成、单桂栋、王爱国、曾晓辉、李海霞、张东亭
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 97
      %td{:width => "178"}
        %div 服务器系统虚拟化技术研究与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司独山子石化分公司
      %td{:width => "216"}
        %div 苏大伟、汪丽芳、秦德明、张 千、张 振、钟安凯
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 98
      %td{:width => "178"}
        %div 地震综合裂缝预测软件系统GeoFrac
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司勘探开发研究院西北分院、中国石油大学（北京）
      %td{:width => "216"}
        %div 杨午阳、李向阳、雍学善、周春雷、邓 央、李 琳
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 99
      %td{:width => "178"}
        %div 低渗透油田抽油机智能调参技术研究与工业化应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 曾亚勤、郭占春、王林平、刘一山、王 曼、晏耿成
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 100
      %td{:width => "178"}
        %div 海外高温高压高含硫井测试技术研究及推广应用
      %td{:width => "211"}
        %div 中国石油集团长城钻探工程有限公司
      %td{:width => "216"}
        %div 李守民、王立军、彭贤强、张显文、李国明、于铁峰
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 101
      %td{:width => "178"}
        %div 管道环焊缝焊接工艺专家系统
      %td{:width => "211"}
        %div 中国石油天然气管道科学研究院
      %td{:width => "216"}
        %div 白世武、隋永莉、郭瑞杰、杨天冰、吴江桥、陈海军
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 102
      %td{:width => "178"}
        %div 阻抗元件在线检测及质量评估系统
      %td{:width => "211"}
        %div 上海仪器仪表研究所
      %td{:width => "216"}
        %div 滕华强、楼志斌、陈德宏、吴维华、韩祥华、欧阳怡君
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 103
      %td{:width => "178"}
        %div 柴西富烃凹陷分布及油源对比研究
      %td{:width => "211"}
        %div 中国石油青海油田勘探开发研究院
      %td{:width => "216"}
        %div 陈 琰、袁 莉、张国卿、刘海珍、王燕飞、张 娜
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 104
      %td{:width => "178"}
        %div 西昆仑山前弧形冲断带变形特征研究
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司塔里木油田分公司勘探开发研究院、浙江大学
      %td{:width => "216"}
        %div 魏 巍、桑 洪、陈 才、朱礼春、郭群英、徐 冠
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 105
      %td{:width => "178"}
        %div 石油和化工企业安全生产支撑体系综合评价方法研究与应用
      %td{:width => "211"}
        %div 重庆科技学院、中国石油化工股份有限公司润滑油重庆分公司、 中国石油天然气股份有限公司西南油气田分公司重庆天然气净化总厂
      %td{:width => "216"}
        %div 万 玺、胡伟清、黄建新、马 宇、吴世勇、王 军
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 106
      %td{:width => "178"}
        %div 苏里格气田气井综合信息管理系统研发与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司、低渗透油气田勘探开发国家工程实验室
      %td{:width => "216"}
        %div 吴卫东、赵占良、邹新宁、薛 媛、黄 丹、赵 玲
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 107
      %td{:width => "178"}
        %div 油气长输管道自动化控制软件
      %td{:width => "211"}
        %div 廊坊开发区中油龙慧自动化工程有限公司
      %td{:width => "216"}
        %div 李国栋、陶 勇、郭长滨、谭禄钧、袁满仓、耿亚彬
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 108
      %td{:width => "178"}
        %div 相渗及核磁共振分析资料在油水层评价中应用方法研究
      %td{:width => "211"}
        %div 大庆钻探工程公司地质录井一公司
      %td{:width => "216"}
        %div 刘丽萍、李 博、耿长喜、张艳茹、王朝阳、柳晓风
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 109
      %td{:width => "178"}
        %div 高含泥与浅变质、裂缝型油层提高压裂成功率技术研究
      %td{:width => "211"}
        %div 大庆油田有限责任公司呼伦贝尔分公司、大庆油田有限责任公司采油工程研究院
      %td{:width => "216"}
        %div 谢朝阳、王贤君、马英焯、韩 松、牟立明、张明慧
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 110
      %td{:width => "178"}
        %div 多媒体教学视窗中央控制系统
      %td{:width => "211"}
        %div 重庆建筑工程职业学院、重庆科技学院
      %td{:width => "216"}
        %div 黎 志、刘幼昕、苟寒梅、涂常青、尹文专、向丽娜
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 111
      %td{:width => "178"}
        %div 低效气田发展模式及管理体系的构建与实施
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司西南油气田分公司低效油气开发事业部、重庆科技学院
      %td{:width => "216"}
        %div 康建国、刘 洪、刘 彬、何 骁、王 锦、石 磊
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 112
      %td{:width => "178"}
        %div 高压气地下储气井泄漏机理及其安全性研究
      %td{:width => "211"}
        %div 重庆科技学院、重庆凯源石油天然气有限责任公司CNG分公司、中国石油化工股份有限公司西南油气分公司油气销售运行处
      %td{:width => "216"}
        %div 杨 敏、陈北东、张春林、冯 霞、张嘉庆、汪 涛
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 113
      %td{:width => "178"}
        %div 数字化安全阀校验装置研制及应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司长庆油田分公司技术监测中心
      %td{:width => "216"}
        %div 梁桂海、白金亮、李振国、曹海平、王 亮、马维强
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 114
      %td{:width => "178"}
        %div 变工况条件下轻烃回收装置控制系统优化技术研究
      %td{:width => "211"}
        %div 东北石油大学、大庆油田有限责任公司天然气分公司
      %td{:width => "216"}
        %div 邵克勇、戴 仲、刘远红、丁建成、张会珍、杨 莉
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 115
      %td{:width => "178"}
        %div
          母管制机组
          %a{:href => "http://www.chem234.com/sell/search.php?kw=%B9%F8%C2%AF", :target => "_blank"}>
            %strong.keylink 锅炉
          燃烧优化智能控制技术研究与实现
      %td{:width => "211"}
        %div 大庆油田电力集团
      %td{:width => "216"}
        %div 郭慧彬、佟 辉、文 学、陈 哲、张 华、刘翔宇
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 116
      %td{:width => "178"}
        %div 茂名石化业务协同及服务共享平台建设和应用
      %td{:width => "211"}
        %div 中国石油化工股份有限公司茂名分公司、深圳市奥哲科技有限公司
      %td{:width => "216"}
        %div 梁 坚、叶 荣、林 珏、李肖乾、谢维新、梁 虹
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 117
      %td{:width => "178"}
        %div GeoSeisQC 地震采集质量分析与评价软件系统完善与应用
      %td{:width => "211"}
        %div 中国石油天然气股份有限公司勘探开发研究院西北分院
      %td{:width => "216"}
        %div 杨午阳、熊继辉、徐永泽、魏新建、禄 娟、何 欣
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 118
      %td{:width => "178"}
        %div 气动高温耐磨球阀
      %td{:width => "211"}
        %div 浙江中德自控阀门有限公司
      %td{:width => "216"}
        %div 粟 飞、张德贤、张德光、杨树林、诸利君、严宝树
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 119
      %td{:width => "178"}
        %div 青海油田地面工程标准化设计研究
      %td{:width => "211"}
        %div 中国石油青海油田基建工程处；中国石油集团工程设计有限责任公司青海分公司
      %td{:width => "216"}
        %div 李 莉、骆建武、曹 军、程 波、王克忠、陈娅南
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 120
      %td{:width => "178"}
        %div 海洋油田地质评价测试仪FET-1型井下交流电机控制系统的研制
      %td{:width => "211"}
        %div 华北科技学院
      %td{:width => "216"}
        %div 张全柱、邓永红、雷 旻、李学哲、黄成玉、马红梅
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 121
      %td{:width => "178"}
        %div 计量增压一体化集成装置
      %td{:width => "211"}
        %div 中油辽河工程有限公司
      %td{:width => "216"}
        %div 李 爽、张春凡、李 刚、李世超、高洪新、王 文
      %td{:width => "62"}
        %div{:align => "center"} 三等奖
    %tr
      %td{:width => "34"}
        %div 122
      %td{:width => "178"}
        %div 微电阻率井周成像测井仪研制与应用
      %td{:width => "211"}
        %div 中国石油集团测井有限公司、中国石油大学（北京）、华中科技大学
      %td{:width => "216"}
        %div 郭彦军、肖 宏、鞠晓东、孔 力、郭 斌、马雪青
      %td{:width => "62"}
        %div{:align => "center"} 三等奖