---
layout: news-article
title: 耐火喷涂料在新型干法水泥生产线中的应用
description: 今年醋酸乙酯价格一直在成本线附近震荡，利润微薄甚至亏损。产能过剩、需求低迷，制约行业整体向好。虽然2014年醋酸乙酯没有新增产能，但是有效产能达到310万吨，仍是一个庞大的数字，行业开工率仅为五成左右，全年产量约为140万吨。有数据显示，我国醋酸乙酯工厂长期在盈亏边缘徘徊，不少企业亏损销售。
---
%p 今年醋酸乙酯价格一直在成本线附近震荡，利润微薄甚至亏损。产能过剩、需求低迷，制约行业整体向好。
%p 虽然2014年醋酸乙酯没有新增产能，但是有效产能达到310万吨，仍是一个庞大的数字，行业开工率仅为五成左右，全年产量约为140万吨。有数据显示，我国醋酸乙酯工厂长期在盈亏边缘徘徊，不少企业亏损销售。
%p 近期醋酸乙酯终端需求增长缓慢。2014年国内房地产行业低迷调整周期漫长，在一系列调控政策下，行业供应过剩局面愈加明显，价格调整范围较广，成交量不断下降。这就直接导致了醋酸乙酯最主要的下游——涂料行业走势低迷。数据显示，2014年终端涂料市场产量增幅继续大幅下降，月产量增幅不足5%，而同比增长幅度下降至10%以下。在内需疲软、出口持续放缓的大环境下，涂料溶剂市场消费状况不佳，增长幅度持续下降。对于醋酸乙酯来说，供应大于需求成为常态。
%p 同时，出口情况也不尽如人意。沙特低成本装置导致中国出口货源失去中东市场部分份额，加之较有竞争力的印度货源竞争，对于中国醋酸乙酯出口带来更多压力。根据海关统计数据显示：10月中国醋酸乙酯出口量为2.97万吨，较上月减少8.97%15.95%，较去年同期减少27.34%。好在韩国对醋酸乙酯反倾销即将结束，但对于国内市场利好几何，尚需拭目以待。
%p 因此，目前醋酸乙酯的走势只是紧随原料的变化。原料醋酸2014年国内醋酸价格走出近3年来的新高，这种走势不仅仅由国内醋酸装置频频发生故障而供应紧张引起，更主要依靠下游PTA和醋酸乙烯拉动：PTA2014年新上产能较多，翔鹭石化的450万吨/年，逸盛大化的75万吨/年，恒力的220万吨/年，三房巷的120万吨/年，主要对华东醋酸市场影响明显；醋酸乙烯2014年新增产能为中石化长城能化45万吨/年。这些产能投产缓解了醋酸产销压力，供需矛盾缓和，是推动年内醋酸价格高位的主要动力。但对于醋酸乙酯来说，因成本传递受阻，企业获利情况难以得到改善。另一原料乙醇，市场更是饱受产能过剩困扰，难以有大的起色。
%p 综上，醋酸乙酯产能过剩的局面短期内不会改变，且后期出口甚至有出现萎缩的可能，“僧多粥少”的局面注定市场价格将继续处于偏低位置，企业利润空间难以得到改善。
