---
layout: news-article
title: 耐火喷涂料在新型干法水泥生产线中的应用
description: 一、喷涂料施工技术的主要特点 （一）、喷涂料与砖衬相比，没有砖缝、整体性好、耐磨损、导热系数小、节能效果好。
---
%p 一、喷涂料施工技术的主要特点
%p （一）、喷涂料与砖衬相比，没有砖缝、整体性好、耐磨损、导热系数小、节能效果好。
%p （二）、喷涂料的广泛应用，改变了水泥行业的窑炉结构，其使用性能可靠，寿命延长，水泥生产厂家不必再库存耗资巨大的异形砖。
%p （三）、喷涂料施工速度快，每小时可达6-10吨，施工时垂直距离可输送达80米高，水平距离可输送达200米远。因此每次维修时间短，操作费用低，窑的利用系统高。
%p （四）、与浇注料比，不用模板或很少使用模板，进一步节省工时和成本。
%p 浙江恒润耐火技术有限公司开发的喷涂料优点是：
%p 1、喷涂施工时回弹率低（正面一般在5-12%）。
%p 2、可喷涂、可浇注、可涂抹，三种施工方法。
%p 3、品种齐全，针对性强、性能好、升温速度快。有绝热、耐磨、高强、抗碱等系列产品。
%p 浙江恒润耐火技术有限公司喷涂料生产与施工技术的完美结合，实现了为用户一条龙优质服务的新时代。
%p 二、新型干法水泥窑各部位所应用的喷涂料
%p （一）旋风式预热器
%p 环境条件
%p 这套装置包括一系列的立式“旋风式”热交换器，竖式排列。互相间有管子联结均化后的生料下行，同时窑里排出的废气上行。在每个热交换器中废 气与生料进行热交换，使生料逐渐加热。然后通过管子落入一级交换器，每台窑具有单系列或双系列热交换器，温度从300℃（第一级交换器入口）到 1100℃（最后一级交换器出口）。三次风下部燃烧室喷嘴处附近温度会更高一些。
%p 建议用耐火衬料
%p 1）重质喷涂料16（lHR-DGl6）
%p 2）重质喷涂料18（HR-DGl8）
%p 以前这些热交换器绝大多数部是用砖砌筑的，施工时间长而且涉及复杂。目前一般用浇注料或喷涂料加不锈钢锚固钩的方法进行施工。衬厚150-250mm，通常单层，但有时也用50mm的轻质喷涂料10（LG-l0）作底衬。
%p （二）进料槽（亦称下料斜坡）
%p 环境条件
%p 物料处热交换器后，温度达1000℃的热物料先通过一个大的进料溜子再进入回专窑。由于燃料或物料本身的原因，在某些水泥厂，这个部位的耐 火材料表面很快形成结皮（常常可达100mm厚）。如果原料的碱含量高或燃料（煤）中氯化物含量高，那么形成粘结堵塞，破坏交换器耐火衬表面，阻碍物料流 动和废气排出。可用钢钎敲击或用高压水水***喷射除去结皮。冲击、磨损、急冷急热现象对任何耐火材料衬料都会产生破坏。但喷涂料要比砖衬持久的多，因为砖衬 的缝隙受侵蚀严重。如果结皮己与耐火材料内面起反应，那么***结皮时间很可能要带掉一块衬料表面。因此，这个部位的维修频率高，从而造成停窑抢修，影响窑 的周期运转率。
%p 建议用料及施工方法
%p 1）高强喷涂料16（HR-DG16）
%p 2）碳化硅高强喷涂料S20（HR-S2OG）
%p 衬厚200-300mm,在边墙和斜坡上焊接1铬18镍9钛321型不锈钢锚固钩，通常不用绝热层，可以用喷涂的施工方法，也可以采用浇注 的方法。HR-DGl6、HR-S2OG是一种抗碱性的材料。不与任何堆积物起反应，S2OG是一种含SIC的材料，效果尤其明显。另外两种材料的优点还 在于气孔率低，高温下强度大，抗磨性强，耐急冷急热性好。（三）入口锥（进料锥体）
%p 环境条件
%p 回转窑的进料端通常是锥形的，其衬料以前为形状复杂的砖。但由于换衬困难，现在一般采用浇注料。环境温度900-1100℃。磨损严重，粉尘大量沉积在这个部位。同时回转窑转动时该部分受应力影响。
%p 建议用料
%p 1）重质喷涂料16（HR-DGl6）
%p 2）高强喷涂料18（HR-DG18）
%p 衬厚200-500mm，用铬25镍20“Y”型不锈钢锚固钩焊接。可喷涂施工，也可以采用浇注的施工方法。材料的选择要依据具体条件，以及使用寿命要求来决定。
%p （四）窑头罩
%p 环境条件
%p 窑头罩位于回转窑的排料端，喷煤管透过窑头罩伸入窑体内。该部位受一定程度的磨损，耐火材料表面有粉尘结皮并受火焰辐射。操作温度为1100-1200℃。
%p 建议用料
%p 1）莫来石喷涂料16（HR-DGl6）
%p 2）莫来石高强喷涂料18（（HR-DG18）
%p 上述喷涂料适用于底部边墙和喷嘴墙及顶部，材料的选择视具体情况而定，一般先喷75mm的LG-l0作底层绝热料，然后再喷200-250mm的工作层。使用的锚固钩为1铬18镍9钛321型不锈钢锚固钩，间距为250-300mm。
%p （五）蓖冷机
%p 环境条件
%p 靠近蓖冷机各侧面受到水泥熟料的磨损严重，在墙上部和顶部粉尘沉积量很大，时常需要吹洗或机械***。后墙（靠近窑体内落下熟料的那一端）； 受机械磨损较严重，因为熟料先落在后墙上，再到蓖板上。熟料温度从1300℃降到250℃。来自风机的大量空气进入蓖冷机，形成急冷急热的现象。
%p 建议用料
%p 1）莫来石喷涂料16（HR-DGl6）
%p 2）莫来石高强喷涂料18（（HR-DG18）
%p 工作面厚200-300mm，绝热层用轻质喷涂料10、厚75-100mm，用321型不锈钢锚固钩，间距300mm，许多厂家已把传统的拱形砖顶改为用锚固砖的平顶喷涂料或浇注料。其好处在于对墙进行定期修理时不影响顶部结构。
%p 关于西夏（http://www.xixialu.com/）
%p 西夏为首家注册于中国（上海）自由贸易试验区的跨境B2B2C电商平台，依托自由贸易试验区金融、通关、国际影响力等多维优势，为中国中小制造企业（SME）提供国内及国际营销平台品质服务，也为集团采购商及全球***家提供中国品质制造及创新产品。
