---
layout: news-article
title: 广西河池化工股份有限公司关于因煤气泄漏引发爆燃事故的公告
description: 2012年9月27日下午12 点左右，公司精炼厂脱碳工段因煤气泄漏引发爆燃事故，造成部分主要生产设备损坏，目前已导致2名作业人员不幸身亡，7人受伤，伤者已被迅速送往医院治疗。
---
%p （中华化工网讯)  广西河池化工股份有限公司 关于安全事故的公告
%p 本公司及董事会全体成员保证信息披露内容的真实、准确和完整，没有虚假记载、误导性陈述或者重大遗漏。
%p 2012年9月27日下午12 点左右，公司精炼厂脱碳工段因煤气泄漏引发爆燃事故，造成部分主要生产设备损坏，目前已导致2名作业人员不幸身亡，7人受伤，伤者已被迅速送往医院治疗。公司已为上述损坏设备投保，目前造成经济损失情况有待进一步核实，通过对现场和周边环境进行全面监测，暂未发现污染情况。
%p 事故发生后，公司紧急启动应急救援预案，开展应急处置工作，并按国家相关规定和程序及时向有关部门进行报告，同时，已按停车程序组织停车并对系统进行泄压、置换、停车、隔离处理。
%p 公司将充分关注事项进展并及时履行披露义务，提醒广大投资者注意投资风险。
%p 特此公告。
%p 广西河池化工股份有限公司董事会
%p 二O一二年九月二十七日
