---
layout: news-article
title: 世界香精香料大公司竞相投资亚洲
description: 受欧债危机持续蔓延、全球经济复苏缓慢以及中国经济增速放缓的影响，今年上半年全球化工行业整体呈现走弱趋势，主要化工公司的业绩受此影响也趋于疲软。
---
%p （中华化工网讯)　受欧债危机持续蔓延、全球经济复苏缓慢以及中国经济增速放缓的影响，今年上半年全球化工行业整体呈现走弱趋势，主要化工公司的业绩受此影响也趋于疲软。但是，一些世界香精和香料大公司同期在亚洲的表现却完全不同，非常抢眼。如美国国际香料香精公司(IFF)上半年在亚洲的销售额同比增长了5%，德之馨公司(Symrise)的销售收入同比增长11%，瑞士奇华顿(Givaudan)公司销售额同比增长10%以上。
%p 分析这些公司的表现，不难发现它们有一些共同的特征，比方说，这些公司普遍看重研发，有较强的研发和创新意识，舍得在研发上投资。2011年，美国国际香料香精公司的研发投资占到销售额的10%，德之馨公司的研发投资占到销售额的7%，奇华顿公司的研发投资占到销售额的7.5%，芬美意（Firmenich）公司的研发投资占销售额的10%。这些公司继续看好亚洲巨大的消费市场，并表示将继续加大在亚洲的投资以扩大市场。
%p 美国国际香料香精公司去年初宣布，未来3年将在亚洲投资逾1亿美元，在中国广州和新加坡分别新建一家生产厂，其中广州厂生产香精，新加坡厂生产香料和香精。9月初该公司表示，其位于新加坡裕廊岛的液体香精和香料生产厂建成投产，新厂的年生产能力为2万吨。今年6月，美国国际香精香料公司在印度的古尔冈投资建设一座香料工厂，该厂将为当地食品、甜品、饮料以及奶制品行业服务。此外，该公司2011年1月还在迪拜开设了一个创新及应用实验室。
%p 总部位于瑞士日内瓦的芬美意公司是一家具有100多年历史的国际化私营公司，亦是全球最大的从事香精原料研究和生产的公司。芬美意2010年在中国上海莘庄工业区成立了分公司，目前该公司在中国的年销售额已超过10亿元。芬美意在印度古杰拉特邦也成立了一家香水原料生产厂。
%p 德之馨公司则计划未来1~2年，将其位于新加坡、中国和印度的3家生产厂的香精、口腔护理以及日化原料的生产能力扩大15%左右。
%p 欧美香精和香料公司力拓亚洲市场让日本公司坐不住了，它们不甘落后，也开始在亚洲地区积极投资。日本高砂香料工业(Takasago)公司宣布，计划在新加坡建设一个新厂，将其作为亚洲市场的生产枢纽，预计到2013年4月，该公司的香精和香料产能将翻番。日本高砂香料工业公司还计划继续加大研发力量，在印度金奈投资1000万美元建设一个香料和香精生产厂并配套研发机构。
%p 日本小川香料也称其全球战略仍将是以亚洲为中心，同时积极建设并发展海外基地。至目前为止，该公司已在亚洲及太平洋地区的多个国家设立了研发制造基地。该公司透露，计划在印尼新建一个集生产和研发功能于一体的香料香精生产厂，以满足印尼日化类产品快速增长的需求。
