---
layout: news-article
title: 国内醋酸乙烯市场价格大幅上涨
description: 近期，因受到欧洲地区原油及化工市场的影响，目前国内醋酸乙酯市场行情很不稳定，市场供应量并不是很大，但市场价格却出现了大幅上涨。
---
%p 【中国涂料采购网】近期，因受到欧洲地区原油及化工市场的影响，目前国内醋酸乙酯市场行情很不稳定，市场供应量并不是很大，但市场价格却出现了大幅上涨。
%p 华东地区醋酸乙烯今年上半年均价达7798元/吨，同比涨885元/吨左右，增幅约12.8%。据相关数据显示，目前华东地区主流厂家报价在8100元/吨，西北地区主流厂家报价在7600元/吨，由于供应紧张，价格仍在进一步攀升中。
%p 业内人士称，此前皖维高新(600063.SH)VAM基本不外销，近期随着VAM供需格局的变化，公司已经成为了VAM主要的出口商。据悉，皖维高新是国内除中石化[微博]以外的VAM出口的第二大供应商，且其主营占比43.94%的PVA是VAM的下游。
