---
layout: news-article
title: 8大化工项目落户曹妃甸
description: 记者24日从河北省唐山市曹妃甸区政府了解到，来自北京、天津、河北等地的8个化工项目正式与曹妃甸签约，投资总额达到560亿元。
---
%p 记者24日从河北省唐山市曹妃甸区政府了解到，来自北京、天津、河北等地的8个化工项目正式与曹妃甸签约，投资总额达到560亿元。
%p 此次集中签约的8个项目包括河北浅海化工集团的1500万吨／年炼化一体化项目，总投资360亿元；长联石油控股有限公司的LNG接收站及发电厂项目，总投资150亿元；唐山六度金源实业有限公司液体化工码头项目、北京天下通衢技术公司通衢劲能(DeMG)清洁能源项目、天津市福生染料厂硅铝型催化剂项目等。
%p 着力打造多产业集群循环发展的大型现代临港石化产业基地，环渤海区域原油、天然气储运中心，中国北方地区化学品贸易集散中心，形成5000万吨级炼油、千万吨级轻烃加工、400万吨乙烯、500万吨芳烃生产能力。
%p 曹妃甸发展石化产业优势明显。曹妃甸石化产业基地配套30万吨级原油码头4座、10万吨级LNG码头4座，每年可接卸8000万吨原油和2000万吨LNG，可提供充足的原材料供应；配套岸线10.6公里，可建设35座5万吨级液体化学品码头，每年可确保6000万吨液体化学品进出。同时在基地西侧边缘规划建设铁路工业站，国铁线路连接园区各相关企业和港口仓储区，原料和产品运输更加便捷。此外，曹妃甸还可以借助综合保税区的便利，在原材料进口、加工贸易、产品出口等方面享受保税区的优惠政策。
%p 与此同时，曹妃甸作为以港口物流、钢铁电力、石油化工、装备制造为主导产业的新型工业化基地，不同产业的集群化发展为石化产业与冶金钢铁、电力产业融合发展、循环发展提供了更加强劲的优势。
%p 截至去年年底，曹妃甸石化产业基地已累计投入资金152.31亿元。目前，共推进重点项目23个，总投资1814.6亿元。
