---
layout: news-article
title: 气价下调为市场化铺路
description: 11月20日，天然气民用气门站价格正式执行下调0.7元/立方米的方案。此次下调是继4月1日存增量气并轨后的二次下调。从第三季度开始，气价下调预期强烈，到10月底气价下调临时落空，市场人士的关注积极性不减，现天然气下调靴子落地，气价市场化改革再迎好时机。
---
%p 11月20日，天然气民用气门站价格正式执行下调0.7元/立方米的方案。此次下调是继4月1日存增量气并轨后的二次下调。从第三季度开始，气价下调预期强烈，到10月底气价下调临时落空，市场人士的关注积极性不减，现天然气下调靴子落地，气价市场化改革再迎好时机。
%p 国际能源格局发生变化。去年下半年，国际原油呈现持续探底的运行态势，目前来看，国际原油低位震荡将成常态，价格难以恢复，我国天然气与下跌的能源价格背道而驰，天然气下游发展困难重重。而环境问题迫使我国必须迎难而上，积极推进天然气发展和改革，但在油低、煤低、气高的国内能源形势下，价格成为制约天然气发展的重要因素。
%p 我国天然气价格与替代能源相比，在工业、车用领域的经济性越来越低，导致天然气消费增速放缓。今年我国推出上海石油天然气交易中心，拿出一部分管道气进行交易，7月至今，已经试运行了4个多月。截至11月18日，管道气交易总量已达18.61亿立方米。这为全面放开天然气价格创造了有利条件。
%p 此次天然气的再次下调，成为行业的重大转折点，气价下调缩窄供应厂商的利润空间，而对其下游工业用及车船用市场带来契机，对国内液化天然气（LNG）市场来说或许是一个转机。全国长周期停工的近1600万立方米/日的LNG项目，有望东山再起，低价进口货对国产资源的冲击或将得到一定的缓解。
%p 纵观目前LNG市场，可谓落入熊市陷阱，跌势不止，传统需求旺季亦未有回涨迹象，虽然此次天然气下调让上行希望再度落空，但按下调0.7元/立方米来计算，LNG工厂的吨成本将下降1000元，降低至2700元左右。
%p 不仅如此，天然气价格下调，还会大大缓解用气企业的成本压力，提高下游发展的积极性。同时方案中还规定了上下游可在基准门站价格基础上进行商谈价格，并要求一年内价格不得上浮，标志着天然气定价机制进一步向市场化迈进。
%p 气价改革为的是天然气公开透明的竞争，形成良好公正的天然气市场环境。政府将积极推进水、石油、天然气、电力、交通等领域价格改革，放开竞争性环节价格。凡是能由市场形成价格的都交给市场，政府不进行不当干预。今年年底还将出台《石油天然气体制改革总体方案》，核心内容指向上游放开、管网分离和价格机制改革，积极推进油气产业上中下游的市场化改革，最终形成市场化的定价机制。
