---
layout: news-article
title: 2018年前全球涂料消费年增速将达到6%
description: 受北美经济稳步复苏和石油价格大幅下挫的双重影响，2015年将成为全球油漆和涂料行业的好年景。虽然低油价可能令一些工业市场需求疲软，但是生产商们对大多数涂料终端市场的增长前景持乐观态度。
---
%p 中国涂料网讯：受北美经济稳步复苏和石油价格大幅下挫的双重影响，2015年将成为全球油漆和涂料行业的好年景。虽然低油价可能令一些工业市场需求疲软，但是生产商们对大多数涂料终端市场的增长前景持乐观态度。IHS化学称，2018年前全球油漆和涂料消费增速将以年均6%的速度增长，其中新兴市场的增速普遍较高。
%p 生产商和分析师们预计，全球油漆和涂料市场经历了2014年的强劲增长后在今年将继续稳步增长。PPG工业公司董事长兼首席运营官迈克尔•麦加里表示：“对于全球油漆和涂料市场而言，2015年的前景将与过去的一年相似，不过我们预计各地区的增长速度仍将不同，其中北美和亚洲将继续保持去年的增速水平。”
%p 低油价已广泛被认为将成为涂料需求增长的驱动力。陶氏化学涂料材料业务负责人Pat Gottschalk表示：“我们认为低油价应该利好于建筑涂料市场。”
%p 涂料生产商表示，低油价的主要好处在于增加了全球范围内消费者可自由支配的收入，尤其是能源密集型的发达经济体。消费者将有更多的钱用于家庭改善项目，如重新粉刷房间以及购买耐用品和电器，这些都是涂料的主要应用终端。廉价石油还将刺激汽车使用频率。这通常是汽车抛光涂料需求的一个主要指标。
%p 北美建筑市场的稳步复苏将成为油漆和涂料市场的主要增长动力。RPM国际公司董事长兼CEO弗兰克•苏利文表示：“北美市场稳固，并将继续增长。”北美建筑市场正在从2008~2009年的低谷缓慢而又稳定复苏，生产商们预计这种趋势将持续。
%p IHS称，2015年美国住宅开工数量可达到118万套，比2014年增加18%。同时，美国非住宅建筑市场将减少5.1%。这主要是因为采矿和石油行业的投资大幅下降。其他非住宅建筑市场预计将增长，但增速缓慢。
%p 对于欧洲，迈克尔•麦加里表示：“我们的假设是欧洲市场增速仍然疲软。然而欧洲已呈现出一些亮点，包括欧元汇率疲软、能源价格下降以及欧洲推出量化宽松(QE)计划等。”不过地缘政治问题，尤其是乌克兰和希腊局势，将令欧洲部分地区的前景不确定。新兴市场仍将成为全球油漆和涂料需求增长的主要动力。Pat Gottschalk表示：“我们继续看好中国和亚洲市场，虽然不会像过去那样全面增长，但是一些高品质领域将继续快速增长。”
