---
layout: news-article
title: 十月钛白粉市场疲软 等待不如自救
description: 十月的钛白粉市场继续弱势下跌，甚至创下周期内的历史新低，国内多数硫酸法金红石型和锐钛型钛白粉的主流报价在9500-11000元/吨和8300-9300/吨。
---
%p 十月的钛白粉市场继续弱势下跌，甚至创下周期内的历史新低，国内多数硫酸法金红石型和锐钛型钛白粉的主流报价在9500-11000元/吨和8300-9300/吨。市场价格破万后，市场难寻价格底线；但是钛白粉价格毫无上涨趋势，市场毫无波动的下跌让各大企业意识到：十月仅仅只是下跌的过程，而并非之前所预期的筑底过程。
%p 上游原料硫酸弱势下探，对于钛白粉的成本支撑不足，下游消费端的情况更加不乐观，随着我国经济进入新常态，宏观经济首次跌破7%;今年前三季度土地供应总量33.43万公顷，同比减少12.3%，房地产用地下降30%；面对严峻的经济形势，卖一吨货倒贴几百的生产商比比皆是，华东、西南等地区部分生产商尝试满负荷生产，压缩单品成本，而库存瞬时增加，无需求接货，只能使市场价格雪上加霜。另一面的贸易商可谓将生产商的优惠政策发挥至极限，有货就出，价格反而成为次要的条件，中旬后更出现大企暗降及经销商无底线操作，持货商的暗中较劲；钛白粉市场在寒冬中显得混乱不堪。
%p 在逆境中，许多企业采取了降低成本、并购、开拓氯化法钛白粉项目等措施，来缓解企业的压力，降低成本是企业为了维稳正常收支的必然措施，尽管超负荷生产、砍掉生产线等办法简单粗暴，但是对企业来说，短期是最为有效的方法；二是并购、整合；海外钛白粉发展经验表明持续的行业整合是必然趋势，目前国内前五大产能占比仅为34%,有较大行业整合空间。若企业可以通过并购整合产业资源，达到一定的市场占有率，就可以掌握国内产品定价自主权和行业话语权。三是开拓氯化法钛白粉项目，氯化法钛白粉品质高、能耗低、污染低,是未来发展方向。国家在限制传统硫酸法钛白粉的同时,采取了一系列政策来鼓励企业开展氯化法钛白粉项目，在氯化法项目中率先取得突破的企业在国内外高端钛白粉市场竞争中抢得先机。所以，在钛白粉市场看不见光明的环境下，企业可以考虑自救，为自己争得一些机会！
