---
layout: news-article
title: 美国GVR报告：全球溶剂型涂料超7成
description: 近日，美国Grand View Research公司发布的新版全球工业涂料市场分析报告称，目前，全球溶剂型产品占全球工业涂料总量超过75%。
---
%p 中国涂料网讯：近日，美国Grand View Research公司发布的新版全球工业涂料市场分析报告称，目前，全球溶剂型产品占全球工业涂料总量超过75%。
%p 这个数据的出现不禁令人哗然——国外的水性漆不是早就推广起来了吗?
%p 中国近年来不断在推进水性涂料，除了我国雾霾严重，急需整顿，保护环境之外，其中还有另一个很重要的理由，便是目前国外的水性涂料已经占有了70%～80%的占比。也正因如此，中国实际上已经落后不少，要赶紧追上国外的步伐，加紧推进水性涂料前进的步伐。
%p 然而，此类口口相传的数据往往并不真实，大部分仅属于以讹传讹。当然，“70%～80%”这个数据也并非凭空得来，业内人士指出，这“70%～80%”的水性涂料是指建筑涂料这一块领域，而建筑涂料领域本身便是水性涂料占有量就较大，因此，并不存在努力推进这一块“水性涂料”的说法。目前我国所说的水性涂料实际是特指“水性木器漆”。
%p 作为属于工业涂料范畴的木器漆和家具漆，据笔者了解到，目前工业涂料可分为水性涂料、溶剂型涂料和粉末涂料，其中溶剂型涂料仍占全球工业涂料技术的主导地位，而且比例达到总量的75%以上。全球涂料网了解到不只是国内，目前全球各国要求降低VOC排放的相关法律法规都在紧锣密鼓的抓紧完善之中。其中水性涂料占有了一个重要的角色，当然，溶剂型涂料和粉末涂料的技术进步也将在提升工业涂料市场份额的过程中有着必不可少的份量。
%p 外国的月亮比较圆?国人在推进水性涂料时，总喜欢拿国外如何来与我们自己相较。但实际上，如何降低VOC的排放及如何更好的推进水性涂料，是全球都在思考的一个问题。
%p 据相关报道称，水性涂料的开发是目前全球各工业发达国家都非常重视的一个问题。例如美国对水性涂料的开发占其全部涂料开发的50%以上，而水性涂料的开发成果占其全部涂料总成果的20%。日本从21世纪开始重视并着手发展以水性涂料为主的环境友好型涂料。我国近年来还为研究、开发和生产水性涂料出台了不少重要的环保法规和实施标准。
%p 2015年，我国开始征收涂料消费税和家具产业的“排污费”，这两大环保政策直接针对目前的涂料、家具两大产业污染严重的现象，两首齐抓，上下游一起控制，扩大水性涂料在工业涂料中的应用范围。
%p 当然，光靠政策的制约是不可能完成如此艰巨的任务的。在做好基本环保步骤的同事，从生产技术、涂刷等方面入手，改变水性涂料“难推广”的现状更加重要。
