---
layout: news-article
title: 前10月国有石油企业利润同比降幅较大
description: 财政部11月23日公布了2015年1-10月全国国有及国有控股企业经济运行情况，交通、电力、电子和轻工等行业实现利润同比增幅较大;石化、石油和建材等行业实现利润同比降幅较大;钢铁、煤炭和有色行业继续亏损。
---
%p 财政部11月23日公布了2015年1-10月全国国有及国有控股企业经济运行情况，交通、电力、电子和轻工等行业实现利润同比增幅较大;石化、石油和建材等行业实现利润同比降幅较大;钢铁、煤炭和有色行业继续亏损。
%p 2015年1-10月，全国国有及国有控股企业(以下简称国有企业)经济运行下行压力依然较大。一是国有企业利润同比降幅继续扩大。1-10月国有企业利润降幅(-9.8%)比1-9月(-8.2%)扩大1.6个百分点。二是地方国有企业利润连续三月出现同比下降，降幅逐渐加大。1-10月地方国有企业利润同比下降6%(1-9月同比下降2.7%，1-8月同比下降1%)。三是钢铁、煤炭和有色行业继续亏损。
%p (一)营业总收入。1-10月，国有企业营业总收入367904.8亿元，同比下降6.3%。(1)中央企业221340.5亿元，同比下降8.2%。(2)地方国有企业146564.3亿元，同比下降3.3%。
%p (二)营业总成本。1-10月，国有企业营业总成本358800.7亿元，同比下降5.4%，其中销售费用、管理费用和财务费用同比分别增长0.1%、下降0.4%和增长9.5%。(1)中央企业212170.2亿元，同比下降7.5%，其中销售费用、管理费用和财务费用同比分别下降3%、下降2.2%和增长9.4%。(2)地方国有企业146630.5亿元，同比下降2.1%，其中销售费用、管理费用和财务费用同比分别增长6%、2%和9.7%。
%p (三)实现利润。1-10月，国有企业利润总额18806.6亿元，同比下降9.8%。(1)中央企业13530.7亿元，同比下降11.3%。(2)地方国有企业5275.9亿元，同比下降6%。
%p (四)应交税金。1-10月，国有企业应交税金31174.9亿元，同比增长0.8%。(1)中央企业24341亿元，同比增长1.2%。(2)地方国有企业6833.9亿元，同比下降0.9%。
%p (五)资产、负债和所有者权益。10月末，国有企业资产总额1173475.6亿元，同比增长16.8%;负债总额779163亿元，同比增长19%;所有者权益合计394312.6亿元，同比增长12.9%。9月份以来，部分企业因国有股持股比例增加纳入国有企业月报范围，致使国有企业资产、负债有较大幅度增加。(1)中央企业资产总额633226.5亿元，同比增长20.1%;负债总额428949.6亿元，同比增长24.2%;所有者权益204276.9亿元，同比增长12.4%。(2)地方国有企业资产总额540249.1亿元，同比增长13.2%;负债总额350213.4亿元，同比增长13.1%;所有者权益190035.7亿元，同比增长13.4%。
