---
layout: news-article
title: “煤-甲醇-烯烃”产业链剖析及其对甲醇市场的影响
description: 煤制烯烃是近些年化工行业一个热点，这个发展仅数年的技术不但缓解了我国烯烃供给不足的问题，更是改变了甲醇的下游需求结构。但是，握有这么大的潜在需求，甲醇价格仍然“没有最低，只有更低”。笔者试着解释其中原委。
---
%p 煤制烯烃是近些年化工行业一个热点，这个发展仅数年的技术不但缓解了我国烯烃供给不足的问题，更是改变了甲醇的下游需求结构。但是，握有这么大的潜在需求，甲醇价格仍然“没有最低，只有更低”。笔者试着解释其中原委。
%p 发展煤制烯烃的缘由
%p 改革开放之后，中国经济迎来了飞速发展。随着经济发展的深入，国内对能源的需求越来越大。截至2014年，国内原油消费量为52026万吨，较1978年增加42901万吨，增幅达到470.15%，平均增速为5.06%；天然气消费量为1854.9亿立方米，较1978年增加1713.1亿立方米，增幅达到1207.62%，平均增速为7.69%。
%p 资源需求大幅增加，国内“富煤贫油贫气”的资源特点逐渐显露。《中国的能源状况与政策》白皮书公布的资料显示：2006年，中国煤炭保有资源量为10345亿吨，剩余探明可采储量约占世界的13%，列全球第三位。但是，原油和天然气的储量相对于全球第三大的国土面积来说，就较少了。与此同时，由于人口众多，我国人均能源资源拥有量也处于较低水平。其中，煤炭资源人均拥有量相当于全球平均水平的50%；石油、天然气人均资源量仅为全球平均水平的1/15。在这种状态下，国内能源供给已经不能满足自身需求，市场需要大量进口来弥补国内供给的不足。
%p 1995年之前，国内原油出口量大于进口量。1996年至今，能源进口依存度不断攀升。截至2015年9月，原油进口依存度达到60%，天然气进口依存度达到31.5%。由于能源自给率低，国内需要大量进口原油和天然气。但是，2000年之后，货币超发、需求增加（以中国为代表的发展中国家需求大幅增加）以及中东局势动荡，国际能源价格持续走高。为此，我国需要花费大量的外汇去购买原油和天然气，这不但推升了基础原材料的价格，更制约了经济的发展。此外，由于国内进口能源主要来自中东，这一地区局势的动荡造成中国始终没有稳定的能源供给地，中国亟须解决能源价格过高和供给不稳的问题。
%p 为了解决上述问题，国内采取了许多对策。其中，利用自身丰富的煤炭资源，用煤化工部分取代油化工就成为缓解高油价、气价的对策之一。
%p 稍微了解化工生产的都知道，国内生产PVC主要采用电石法，而不是国际主流的乙烯法。国内生产甲醇的工艺也主要是煤制甲醇，而不是国际主流的气制甲醇。乙烯法相较电石法，气制甲醇相较煤制甲醇，不但具有规模大、质量好的特点，在国外也具有成本优势。之所以国内选择电石法生产PVC、煤制甲醇，原因很简单，就是国内煤炭便宜，用煤炭生产烯烃相较于用原油生产烯烃，成本更低廉，更具价格优势。
%p 同样道理，传统的油制烯烃，是通过石脑油（原油下游产品）裂解的方式生产的，原材料成本非常高（油化工与煤化工生产单位乙烯的原材料价格之比为6∶1）。考虑到经济效益，煤制烯烃的兴起就是大势所趋了。
%p 煤制烯烃主要生产乙烯和丙烯（丙烯占比更大），这主要是因为乙烯和丙烯是最基础的化工原材料，是很多化工品的直接或者间接上游。细心的人会发现，国内对乙烯和丙烯的进口依存度并不高。截至2015年9月，乙烯进口依存度仅为7.6%，有统计以来的最高值也没有超过10%。既然如此，为什么国内还要发展煤制烯烃？事实上，虽然我国乙烯和丙烯的自给程度较高，但是仍然需要大量进口乙烯和丙烯的衍生品，例如LLDPE。国内对于乙烯和丙烯的隐性需求非常大。满足市场对乙烯和丙烯这两种基础原材料的需求也是国内大力发展煤制烯烃的重要原因。
%p 国内煤制烯烃发展现状
%p 煤制烯烃有很多种工艺，最主要的两种是MTO和MTP。MTO工艺的产品主要是乙烯和丙烯，目前在该技术领域领先的是美国环球油品公司UOP和挪威HYDRO公司联合开发的MTO技术以及中国中科院大连物化所的DMTO技术。MTP工艺的产品主要是丙烯，目前在该技术领域领先的是德国鲁奇公司。
%p 我国煤制烯烃的生产中，MTO工艺和MTP工艺都在运用，其中运用较多的是MTO工艺。经过多年的发展，我国煤制烯烃行业已经具有相当规模，且产能增速仍在扩大之中。2010年年底，已投产的煤制烯烃产能仅为110万吨/年。经过近五年的发展，截至2015年10月，煤制烯烃总产能达到1025万吨/年，产能扩大了近10倍。
%p 煤制烯烃产能主要集中在山东、陕西和宁夏等地。其中以神华包头60万吨/年MTO、神华宁夏100万吨/年MTO、蒲城清洁能源陕西130万吨/年MTO、陕西延长中煤60万吨/年MTO和中煤陕西60万吨/年MTO最具代表性。
%p 后期来看，国内仍有数量众多的煤制烯烃产能上马。预计，2015年11月，中煤蒙大60万吨/年DMTO和神华榆林60万吨/年DMTO会开车；2015年12月，江苏盛虹120万吨/年MTO将投产；2016年，常州富德33万吨/年DMTO、贝特尔30万吨/年MTO、盐湖集团100万吨/年DMTO、中天合创137万吨/年DMTO、九泰能源60万吨/年MTO将投产。到2016年年底，我国煤制烯烃产能将达到1695万吨/年。
%p 随着煤制烯烃的兴起，甲醇下游消费结构也在发生转变。2010年之前，煤制烯烃MTO和MTP并未工业化生产，甲醇下游消费主要还是由传统的甲醛、二甲醚占据。然而，2010年之后，由于煤制烯烃装置的不断投产，MTO与MTP的消费占比不断提升，由2010年的不到2%扩大到2014年的20%以上。市场预计，到2017年，煤制烯烃占甲醇下游消费的量将提升到40%。届时，煤制烯烃将取代甲醛，成为甲醇下游消费占比最大的领域。
%p 不得不提的是，除了煤制烯烃，以甲醇汽油为代表的甲醇燃料由于存在价格优势，也在以较快的速度发展，其有望成为继煤制烯烃之后，甲醇的第二大消费领域。
%p 通过上文对煤制烯烃和甲醇燃料行业现状的分析，可以发现，甲醇下游消费处于新老交替阶段，新兴的煤制烯烃、甲醇燃料的消费正在逐渐取代甲醛和二甲醚的地位。并且，从目前的情况看，煤制烯烃和甲醇燃料代表了煤化工替代油化工和新兴能源这两个热点领域。在可预见的未来，这两个领域的产能扩大是必然的，这也就意味着甲醇的下游消费不会像其他化工品那样由于经济增速下滑而出现萎缩。基于这个判断，笔者认为，未来甲醇价格会较其他化工品走势强劲，甚至走出一条截然不同的道路。在投资组合策略中，也可以将甲醇作为一个多头保护品种。
%p 目前煤制烯烃影响有限
%p 既然甲醇潜在消费那么巨大，为什么2015年下半年甲醇期货的表现还如此不堪呢？本周三，甲醇期货1605合约甚至出现跌停。接下来笔者就来分析这个问题。
%p 商品价格由很多因素决定。整体宏观环境、财政政策和货币政策决定商品大的方向；上游原材料市场决定商品的成本；中游企业的开工、库存决定市场供给；下游和终端的消费好坏决定需求。
%p 首先，外部宏观环境不利于大宗商品上涨。次贷危机之后，由于国内经济下滑，政府推出了4万亿元的基建投资，并且大幅下调存贷款利率。融资成本的大幅下降促使企业纷纷扩大生产，虽然很快对冲了次贷危机对于经济的影响，但投资过热直接导致产能过剩，其实是透支了未来的经济潜能，缩短了以原材料生产和低附加值加工业为主导的传统中国经济期的寿命，中国经济提前面临转型。
%p 随着经济转型期的到来，资本密集型和技术密集型的新兴行业逐渐取代传统的资源密集型和劳动密集型行业。对于传统行业来说，最主要的任务就是淘汰落后产能和去库存。在这种状态下，经济增速的下滑就是经济转型期的代价，而由于经济增速的下滑，大宗商品，特别是金融属性较强的工业品，往往会进入下行周期。
%p 除此之外，大宗商品往往以美元定价，美元和大宗商品呈现负相关性。考虑到美国即将进入加息周期，大宗商品不同程度承压。
%p “煤-甲醇-烯烃”产业链剖析及其对甲醇市场的影响其次，全球能源重新定价导致甲醇生产成本塌陷。甲醇的主要生产工艺是煤制甲醇、气制甲醇和焦炉气制甲醇。焦炉气制甲醇占比较小，其对甲醇价格的影响有限。国内天然气相对缺乏，政府已经明文规定，不再审批天然气制甲醇的投产，这意味着天然气制甲醇的产能稳定，只会减不会增。煤制甲醇才是甲醇生产最主要的领域。可是，由于整体供给过剩和需求疲软，原煤价格已经较2010年的高点下跌了一半，并且毫无止跌迹象，煤制甲醇的成本塌陷。此外，近日国家发改委发出通知，自2015年11月20日起降低非居民用天然气门站价格，将非居民用气最高门站价格下调0.7元/立方米，气制甲醇成本也大幅下滑。加之国外生产甲醇主要采用天然气制甲醇工艺，而随着页岩油、页岩气革命的兴起，北美地区能源供给大幅增加。以往扮演原油中央银行角色的OPEC，自身市场份额被抢占，却未像以往一样减产，直接导致国际能源价格雪崩式下跌，国际上天然气制甲醇价格大幅下挫，中东地区，主要是沙特阿拉伯，大量价廉物优的甲醇涌入国内，进而冲击国内甲醇市场。
%p 再次，目前国内甲醇供应相对宽松，由于行业存在利润以及未来需求前景乐观，甲醇行业远没有到去产能时期。开工率上，国内甲醇生产企业的开工率基本在50%—60%，近期并没有大面积停车检修状况发生，甲醇供给相对充足。
%p 库存上，截至11月12日，国内甲醇港口库存为48.10万吨，较2014年年底的历史高值下降55.30万吨，降幅为53.48%。其中，华东港口库存为30.90万吨，较2014年年底的历史高值下降30.7万吨，降幅为49.84%；华南港口库存为7.10万吨，较2014年年底的历史高值下降12.40万吨，降幅为63.59%；宁波港(8.16 停牌,买入)口库存为10.10万吨，较2014年年底的历史高值下降12.20万吨，降幅为54.71%。
%p 目前，甲醇港口库存较历史高值减少了一半，已经处于偏低水平，国内甲醇的去库存进程基本完成。不过，需要注意的是，甲醇具有一定的腐蚀性，并且易燃易爆，仓储和运输都不方便，长期存储存在憋罐风险，甲醇库存相较其他工业品缓冲供需问题的功能差一些。
%p 此外，甲醇产地和销地不一样，从生产到销售，中间需要长途运输过程。西北地区作为主要生产地，冬季往往由于天气因素出现运输不畅的问题，这会刺激甲醇价格在冬季表现强势。不过，今年是厄尔尼诺年，气温较往年高，已经到11月底，北方很多地区气温仍然在零摄氏度之上，这意味着往年冬季运输不畅导致的结构性供给不足问题今年很难出现。市场供给充足也是压制甲醇价格的重要原因。
%p 最后，传统下游消费仍占甲醇总消费量的一半以上。虽然以煤制烯烃和甲醇燃料为代表的甲醇新兴消费为甲醇未来的消费前景营造了美丽的遐想，但回到当下，传统下游消费占甲醇总消费的60%以上，且传统消费领域中，又以甲醛、二甲醚为主。甲醛最主要的用途是做装修的粘合剂，其终端消费和房地产息息相关。目前，房地产行业疲软，对于甲醛的需求自然不高，甲醛开工率已经跌至“冰点”。二甲醚最主要的用途是用来做清洁燃料，但是国内对二甲醚的推广做得不好，主要用作民用燃料，占比94%，而具有发展前景的汽用燃料，只占2%。与此相对的是，二甲醚供给严重过剩，过剩量为1215.8万吨，并且后期仍有多达千万吨的产能投产。
%p 由于原油价格暴跌，以往“高不可攀”的油制烯烃成本也大幅下降。就目前40美元/桶的原油价格来说，煤制烯烃非但没有价格优势，甚至成本已经高于油制烯烃，这就造成煤制烯烃的需求被油制烯烃挤出，部分煤制烯烃企业也因此减产，没有投产的装置也在推迟投产。
%p 此外，煤制烯烃虽然适合我国的资源状况，但是由于工艺问题，生产出的烯烃质量不如油制烯烃。在高端市场上，煤制烯烃还是不能取代传统的石脑油裂解制成的烯烃。笔者认为，在煤制烯烃和甲醇燃料没有完全取代传统消费领域，且原油价格没有明显回升前，煤制烯烃和甲醇燃料并不能改变甲醇下游消费疲软的态势。
%p 笔者可以用一句话描述对甲醇市场的观点，就是“未来是美好的，现实是残酷的”。由于煤制烯烃和甲醇燃料的兴起，甲醇未来消费会持续增加，这意味着在其他化工品需求疲软的状态下，甲醇下游消费却会增长。但是，受制于宏观经济环境以及成本塌陷问题，甲醇价格上涨时机仍不成熟。只有等待能源价格上涨、成本塌陷问题缓解、煤制烯烃重获价格优势之时，甲醇才能重获新生。
