---
layout: news-article
title: 200余项石化科技成果新鲜出炉
description: 11月18日，全国石油和化工科技创新大会在北京人民大会堂隆重举行。
---
%p 11月18日，全国石油和化工科技创新大会在北京人民大会堂隆重举行。大会对获得全国石油和化工优秀科技工作者荣誉称号的106名代表、高性能聚醚醚酮特种纤维专用料及其纤维制备与应用技术等36项技术发明奖项目、2000吨/天级全热回收两段式干煤粉加气化技术及工程应用等170项科技进步奖项目进行了表彰。
%p 十届全国人大常委会副委员长顾秀莲，原化工部副部长、中国石化联合会原会长李勇武向获得赵永镐创新成就奖的四川大学钟本和教授颁发了荣誉证书和20万元奖金。大会向获得青年科学技术突出贡献奖的上海化工研究院罗勇等6位同志，获得创新团队奖的中国石油大学（北京）高压水射流钻井与完井等5个创新团队颁发了荣誉证书和奖杯。大会还对新认定的石油和化工行业3家重点实验室、4家工程实验室和2家工程研究中心进行了授牌。
%p 今年的获奖项目有三个特点：一是对行业的支撑和引领作用明显增强。在206项获奖项目中，有183项是已工业化应用一年以上的项目，解决了各行业重点、难点问题，具有明显的经济和社会效益。二是企业进一步成为技术创新主体，产学研合作日益加强。企业作为第一完成单位的项目有108项，占52.4%。三是拥有自主知识产权的原创性成果增多。获奖项目中，已授权专利1757项，其中获发明专利1288项。
%p 获得技术发明一等奖的高性能聚醚醚酮特种纤维专用料项目建成了国内唯一的100吨/年规模纤维生产线，使我国成为世界上第二个能够自主规模化生产聚醚醚酮特种纤维的国家；新反应型染料的创制与工业应用项目累计生产新反应型染料8000余吨，平均提高染料固色率15%，节约染料约1200吨，减少约1000吨印染废水中的染料及大量无机盐，节能减排效果显着。获得科技进步一等奖的安全高效杀菌剂噻唑锌项目，已有1个原药和5个制剂取得农药“三证”，实现了产业化和商品化；CO2驱油与埋存关键技术实现了驱油与减排双赢，依托该项目今年底中石油在松辽盆地将达到年产油30万吨、年注入CO2100万吨、年埋存量85万吨的规模。
%p 顾秀莲向获得表彰的集体和个人表示热烈祝贺。她同时希望石化联合会凝聚全行业力量，努力完善以企业为主体、市场为导向、产学研相结合的科技创新体系，积极探索行业科技工作新机制、新方法。
%p 中国石化联合会会长李寿生指出，“十三五”时期，全行业要把科技创新摆在发展全局的核心位置，以深入推进两化融合和智能制造为抓手，进一步完善行业技术创新体系，全面增强自主创新能力，形成创新驱动、内生增长新动力，为建设石油和化学工业强国提供有力支撑。
%p 李寿生：“十三五”主攻五大技术方向
%p 在11月18日召开的全国石油和化工科技创新大会上，中国石化联合会会长李寿生表示，“十三五”石化行业科技创新工作要集中力量攻克一批关键共性技术，抢占一批科技制高点，实现行业科技创新由跟踪为主转向跟踪和并跑、领跑并存转变。
%p 一是积极开展资源勘探开发和利用技术攻关。
%p 重点突破页岩气等非常规油气资源和深海、极地等新领域勘探开发技术，提高老油田采收率技术，加大低品位资源开发利用力度，保障国家能源资源安全。
%p 二是大力发展化工新材料和高端精细化学品技术。
%p 加快研发高性能工程塑料、高端膜材料、加工性能优良的含氟聚合物、高端硅橡胶和高强高模特种纤维等化工新材料技术，突破高效定向催化、先进聚合工艺、材料新型加工和应用等行业共性关键技术，促进产业化。积极开发新型肥料、绿色农药、染料、氟硅化学品等高技术含量、高附加值精细化学品，优化产品结构，提高市场竞争力。
%p 三是积极开展煤化工技术项目升级示范。
%p 进一步完善和提升大型煤气化技术，积极开展催化气化、加氢气化等定向气化和新型煤气化技术的工程化研究。优化现代煤化工关键工艺生产条件和流程设计，提高已建示范工程的稳定性，开发下游精细化学品制备等延伸产业链技术，开展低阶煤高效综合利用等新一代现代煤化工技术攻关和示范。
%p 四是积极发展生物化工技术。
%p 重点开发新型生物基新材料、生物基化学品，加快推进生物基大宗化学品与现有化工材料（如塑料、纤维、橡胶等）产业链衔接发展，重点突破具有重要下游衍生物应用基础的化工产品。
%p 五是积极培育并壮大节能环保产业。
%p 加快开发一批节能减排增效显着、制约行业发展的瓶颈技术和装备；加强清洁生产技术开发，从源头减少排放；有针对性地开发废水治理与资源化，废催化剂无害化和资源化关键技术、产品及设备。
