---
layout: news-article
title: 2014年我国热固性粉末涂料的销售量为120万吨左右
description: 中国涂料网讯：日前，在杭州召开的中国化工学会涂料涂装专业委员会八届三次会议上，粉末专委会秘书处汇报了2014年我国粉末涂料行业的情况，以及1年来秘书处的各项工作。会议讨论通过了2015年粉末学会的工作计划，重点集中在：协调推进粉末涂料消费税免征及过渡期内服务工作；组建粉末涂料行业专家组，为行业更好地提供技术支持。
---
%p 中国涂料网讯：日前，在杭州召开的中国化工学会涂料涂装专业委员会八届三次会议上，粉末专委会秘书处汇报了2014年我国粉末涂料行业的情况，以及1年来秘书处的各项工作。会议讨论通过了2015年粉末学会的工作计划，重点集中在：协调推进粉末涂料消费税免征及过渡期内服务工作；组建粉末涂料行业专家组，为行业更好地提供技术支持。
%p 会上，粉末学会秘书处还公布了2014年粉末涂料行业代表性企业数据的初步统计结果（更准确的数据还待进一步整理）。
%p 2014年中国粉末涂料行业数据初步统计结果公布
%p 2014年中国粉末涂料行业数据初步统计结果公布
%p 根据聚酯树脂、环氧树脂、助剂和固化剂的销售量增长情况推测，2014年我国热固性粉末涂料的销售量为120万吨左右，比上年度增长7.6%，与我国涂料产量增势趋同。
