---
layout: news-article
title: 钛白粉提价是涂料行业还不提价吗?
description: 为促进节能环保，今年2月1日起，根据《国家税务总局关于电池 涂料消费税征收管理有关问题的公告》规定，对电池、涂料征收4%的消费税。目前，全国各地已有不少省市已经开始对当地的涂料企业征集消费税。
---
%p 中国涂料网讯：为促进节能环保，今年2月1日起，根据《国家税务总局关于电池 涂料消费税征收管理有关问题的公告》规定，对电池、涂料征收4%的消费税。目前，全国各地已有不少省市已经开始对当地的涂料企业征集消费税。
%p “现阶段，为家具漆企业创造80%，甚至90%以上收入的是油漆。而施工状态下，VOC排放高于420G/L要交4%的涂料消费税交费标准下，让家具漆企业覆巢之下几无完卵。”也正因如此，关于“涨与不涨”之间，企业都有着自己的态度。
%p 自进入2015年以来，涂料行业可谓是一波未平一波又起，消费税刚刚“侵袭”而来，又一浪潮席卷而来——就在这个月，国内钛白粉市场精彩不断，前有龙蟒涨价传闻，后有假戏真做部分企业纷纷涨价，整个市场的节奏可谓跌宕起伏。
%p 4月1日，国内多家钛白粉企业提价300-500元/吨，其中山东东佳、攀钢钛业和江西添光提价300元/吨、广东惠云提价500元/吨。另外，近日，据相关报道称，佰利联于3月中旬率先上调金红石型钛白粉价格300元/吨至1.18万元/吨~1.2万元/吨，涨幅约2.6%，涨价后价格与国内钛白粉龙头四川龙蟒现有价格持平;同时，佰利联锐钛型产品涨500元/吨，或5.26%~5.38%，涨价后价格在9800元~10000元/吨之间，这是其今年以来首次对钛白粉价格进行上调。此外，中核钛白亦有计划在近日上调金红石型产品价格;而安纳达则从昨天开始封单，意味着公司也将开始涨价，但预计金红石型产品涨价的可能性大些，毕竟公司近期刚将锐钛型钛白粉提价300元/吨。
%p 业内人士分析，钛白粉未来仍然存在上调的预期，不排除继续提价的可能。
%p 钛白粉行业如此“不安分”，让作为下游产业的涂料产业不由得捏了一把汗。
%p 危机危机，危中有机。中外涂料网主编周长风认为，上游产业提价并非坏事。他认为，涂料消费税征收4%，国内的涂料企业想涨价，但是却不敢涨，因为一涨家具企业就不选你，别的竞争对手也有机可乘。而如今钛白粉企业纷纷涨价，看似险，实则遇。“如果钛白粉等主要原料连续涨价，这是涂料企业借机涨价的一个好机会。”他表示。
