---
layout: news-article
title: 天然气分布式项目大发展受制电力法，2/3能源产出浪费了
description: 今年以来，天然气分布式能源项目大批出现，进入实质性开发阶段，2015年被看作是“天然气分布式能源元年”。相较于集中供能模式，天然气分布式能源具有节能、环保、安全性好等优势。
---
%p 今年以来，天然气分布式能源项目大批出现，进入实质性开发阶段，2015年被看作是“天然气分布式能源元年”。相较于集中供能模式，天然气分布式能源具有节能、环保、安全性好等优势。业内专家认为，天然气分布式能源是现有供能体系的有益补充，集中式与分布式供能并存是行业发展趋势，“十三五”规划也提出要发展分布式能源。目前行业发展仍面临重重难题，天然气分布式项目要取得关键性突破，仍有赖于能源价格的市场化改革、法律保障的加强。
%p 天然气分布式能源进入实质性开发阶段
%p 目前，无论是居民生活还是工厂供热，一般天然气供热都是指大型的暖炉集中烧水供热，而近年来，一种新型的供热方式日益普及，即分布式供暖——自建锅炉供暖。
%p 以青岛地铁为例，11月6日，青岛地铁控制运营中心的3台直燃机开始为整座地铁大厦8.5万平方米的空间供热。不同于居民家中使用的集中供热，清洁能源站采用分布式能源可为单栋楼宇供热，能够有效减少管道损耗。
%p 在我国，天然气分布式能源已进入实质性开发阶段。中国城市燃气协会分布式能源专业委员会秘书长黄微表示，根据目前收集的数据，天然气分布式能源在建项目已经过百，今年项目整体数据将于明年初公布。截至2014年底，我国已建成天然气分布式能源项目82个，在建项目22个，筹建项目53个，装机容量380万千瓦。
%p 黄微表示，天然气分布式能源虽然在多年前就已经提出，但2015年被称作天然气分布式能源进入实质性运营的“元年”，其标志有两点。
%p 其一，更多央企开始涉足天然气分布式能源，巨头进入形成了良好的带动效应。2015年以来，中海油气电公司、南方电网、中石油、国华电、中广核等纷纷布局天然气分布式项目。
%p 其二，以天然气分布式能源为主的综合供能体系正在推广，意味着行业可以得到可持续发展。未来，天然气分布式能源的应用将是以天然气为主，但还会有太阳能、风能、火电等作为补充，目的都是保障供能的稳定性、高效性。
%p 以今年5月投入运营的河北廊坊“泛能微网”项目为例，这一项目由新奥集团实施，国家标准委正式授牌为国家标准化示范项目。分布式天然气项目在其中占据很大比重，但并不是唯一的供能来源。这一项目是以现有设备和区域负荷情况为基础，融入天然气分布式能源、太阳能等清洁能源技术，提高整体能效，降低能源成本，供能方还可以互相交易热能、电能，最终实现多能源的安全调度、优化运行、便捷交易，充分释放能源、设施、交易等多维价值。
%p 为什么分布式天然气项目如此重要？中国城市燃气协会秘书长迟国敬表表示，分布式能源有诸多类型，相对太阳能、风能、沼气等，天然气分布式能源适用范围更广、综合利用效率更高，应用前景广阔。未来，集中式与分布式的天然气能源项目将共同存在，后者是前者的有益补充。
%p 行业迎来三大机遇
%p 中国城市燃气协会的报告指出，目前世界各国总发电量中约10％来自分布式能源。尽管当前我国天然气分布式能源市场份额依然很小，但面临三大重要机遇。
%p 首先，天然气价格改革日益推进。发展改革委宣布从今年4月1日起，天然气存量气与增量气价格正式并轨，凸显国家加快天然气市场化改革的决心。中央关于“十三五”规划建议也明确提出，减少政府对价格形成的干预，全面放开竞争性领域商品和服务价格，放开电力、石油、天然气、交通运输、电信等领域竞争性环节价格。11月18日，发展改革委发布《关于降低非居民用天然气门站价格并进一步推进价格市场化改革的通知》。值得关注的是，在天然气价格改革中担当重任的上海石油天然气交易中心将于12月进入正式营运。
%p 其次，政策环境日益完善。2011年10月，我国公布《关于发展天然气分布式能源的指导意见》公布以来，全国有天然气分布式能源项目获得了政策激励。2014年底，发展改革委、能源局和住建部联合印发《天然气分布式能源示范项目实施细则》，完善了天然气分布式能源示范项目审核、申报等管理程序。在中央政策的鼓励下，各地纷纷出台相关细则。2015年起，长沙市每年安排预算资金3000万元用于天然气分布式能源项目及相关产业链的发展，预计年末将建设20个天然气分布式能源项目，总装机达800兆瓦，年天然气消耗量10亿立方米，年发电量40亿度。
%p 第三，“互联网＋”为行业发展提供契机。今年7月国务院印发《关于积极推进“互联网＋”行动的指导意见》指出，发展“互联网＋”智慧能源，通过互联网促进能源系统扁平化，推进能源生产与消费模式革命。指导意见特别指出，要加强分布式能源网络建设，实现分布式电源的及时有效接入，逐步建成开放共享的能源网络。
%p 业内专家指出，“互联网＋”对于分布式能源的意义，一方面在于鼓励民间机构和资本进行分布式能源的“创业”，另一方面在于通过互联网实现能源数据共享，使能源利用更加优化、高效。上述河北廊坊的“泛能微网”项目，就是以“互联网+”为基础实现的区域智慧能源体系，可以达到能源高效传输、交易、共享。
%p 发展仍面临三大挑战
%p 目前，天然气分布式能源的实际发展水平远远跟不上规划。2011年，发展改革委、财政部等联合下发《关于发展天然气分布式能源的指导意见》提出，“十二五”期间建设1000个左右天然气分布式能源项目，而到目前仅建成十分之一。业内人士透露，在已建成的项目中，多数也因电力并网、效益或技术等问题处于停顿状态。
%p 中国能源网研究中心冯江华等专家表示，天然气分布式能源产业的发展面临诸多挑战。
%p 首先，法律障碍仍待突破。虽然诸多政策鼓励分布式能源的发展，但《电力法》25条却规定：“供电企业在批准的供电营业区内只设立一个供电营业机构，供电营业机构持《供电营业许可证》向工商行政管理部门申请领取营业执照方可营业”。这导致新增供电主体非常困难，电力生产企业没有向终端用户直接供电的权利，用户也没有自由选择电力供应商的权利。如北京燃气大楼，天然气分布式项目本可以向周围建筑供热供电，但由于《电力法》约束，其无权供能，浪费2／3的能源产出。
%p 其次，统筹机制缺失，相关主体利益协调难。虽然发展天然气分布式能源有利于电网的运行和满足快速增长的需要，但每建一个分布式能源站都相当于与电网公司争夺客户。双方不能协调处理基础设施投资以及电力直供机制问题，已经成为发展分布式能源的一大障碍。
%p 第三，天然气市场化程度不足。美国分布式能源规模发展的基础是页岩气开发使气价大幅降低，而我国天然气行业市场化程度不高，垄断体制导致上下游一体化经营，扭曲了市场价格和供求关系。过高的价格令现有天然气分布式能源项目失去经济性。
%p 对此，专家表示，要鼓励天然气分布式能源的发展，应逐步打破法律方面的障碍、建立分布式能源配套体制机制、坚持不懈地推进天然气价格的市场化改革，并提供合理的财税支持，为天然气分布式能源的发展创造良好的条件。
