---
layout: news-article
title: 2015年1月我国钛白粉出口量同比增长9.52%
description: 中国涂料网讯：根据海关总署提供统计数据，2015年1月我国出口钛白粉4.8157128万吨，同比增长9.52%，环比2014年12月增加10.07%;2015年1月我国进口钛白粉1.3698366万吨，同比减少21.48%，环比2014年12月份减少23.82%。
---
%p 中国涂料网讯：根据海关总署提供统计数据，2015年1月我国出口钛白粉4.8157128万吨，同比增长9.52%，环比2014年12月增加10.07%;2015年1月我国进口钛白粉1.3698366万吨，同比减少21.48%，环比2014年12月份减少23.82%。
