---
layout: news-article
title: 广东茂名一化工厂发生泄漏事故致1人死亡
description: 广东茂名市茂南区委办公室22日凌晨通报称，21日15时30分，位于茂南区金塘镇的立威化工厂发生泄漏事故，造成1人死亡。
---
%p 广东茂名市茂南区委办公室22日凌晨通报称，21日15时30分，位于茂南区金塘镇的立威化工厂发生泄漏事故，造成1人死亡。
%p 至记者发稿时，事故现场已得到有效控制。
%p 据介绍，发生泄漏事故的是立威化工厂第四车间。21日15时30分，该车间在胺菊脂原料生产过程中，因反应炉发生故障，引致反应釜水蒸汽及少量物料泄漏，事故造成1人死亡。
%p 事故发生后，茂南区迅速启动生产安全事故应急救援预案，茂南区委书记丁锦文，区委副书记丁少波等主职官员立即赶赴现场，指挥公安、安监、消防、环保等相关部门及金塘镇开展应急救援工作。
%p 随后，茂南区成立事故处置小组，安监部门及化工专家对工厂的设施设备进行监测评估，作出应对方案，确保不发生二次事故，环保部门则对工厂周围水土和空气进行严密监测。
%p 目前，事发工厂周围水土和空气指标正常，事故原因及相关工作正在进一步调查处理中。
