---
layout: news-article
title: 美国研发白炭黑生产新技术
description: 美国密歇根大学材料科学与工程系教授理查德。莱恩近日开发成功利用稻壳灰在内的农业废弃物为原料，生产白炭黑的新技术。
---
%p 美国密歇根大学材料科学与工程系教授理查德。莱恩近日开发成功利用稻壳灰在内的农业废弃物为原料，生产白炭黑的新技术。

%p 据介绍，这种新技术是利用含有氢氧化钠的乙二醇和乙醇溶液削弱白炭黑和稻壳灰之间的化学键，使白炭黑溶入液态溶液中，然后将液态白炭黑从溶液中蒸馏出来并加工成适合于工业应用的沉淀法白炭黑。根据测算，该方法的生产成本比目前常规生产工艺降低约90％，而且几乎没有温室气体排放。

%p 理查德。莱恩现已在密歇根州安阿伯创建了一家名为玛雅矽尔的公司，致力于这种新技术的商业化应用。该公司正在建设一座试验工厂，以便对这种生产过程进行工业化验证。
