---
layout: news-article
title: 广州石化解急冷油塔聚合堵塞难题
description: 近日，广州石化利用装置停工检修的时机，对裂解装置的急冷油塔进行了改造，解决了聚合堵塞难题，保证了装置长周期安全、平稳运行。
---
%p 近日，广州石化利用装置停工检修的时机，对裂解装置的急冷油塔进行了改造，解决了聚合堵塞难题，保证了装置长周期安全、平稳运行。

%p 裂解气中的丁二烯、苯乙烯等不饱和烃，容易在急冷油塔中上部生成聚合物，制约了裂解装置长周期运行。为彻底解决这个问题，裂解装置利用上周期大修时机，对急冷油塔进行了改造。热回收段弃用原有的槽盘式分布器，采用四块大孔穿流筛板代替，依靠大孔穿流筛板上气、液的自清洗作用，使结垢随液体流动；中质油段利用喷嘴式液体分布器流出的大喷淋密度中质油，将大孔穿流筛板淋降下来的回流液中的结垢冲刷下去，在循环中质油过滤器中进行清除；急冷油段取消了原槽式液体分布器，采用喷嘴式液体分布器，降低急冷油中的焦化物沉积堵塞分布器的可能性。

%p “合理的设计能够有效地将聚合物冲刷下来，防止在塔内件积累，但日常生产中的精心优化操作更是急冷油塔防堵塞的关键。”广州石化裂解装置工艺主管罗艺锋介绍说，在日常操作过程中，裂解装置通过采取加大急冷油段和中质油段循环、连续注入阻聚剂和分散剂、针对不同的裂解原料及投料量调整药剂注入量等措施，防止聚合物的产生。同时，定期加大汽油回流量进行汽液扰动，使塔内填料上积累的聚合物、焦粉冲刷到中质油、急冷油循环，并在过滤器中进行清除。
