---
layout: news-article
title: 1~11月份国内烧碱PVC产量同比略减
description: 统计数据显示，1~11月份，国内烧碱产量达到2786.5万吨，同比减少1.0%；11月当月产量259.6万吨，同比增长1.4%。
---
%p 统计数据显示，1~11月份，国内烧碱产量达到2786.5万吨，同比减少1.0%；11月当月产量259.6万吨，同比增长1.4%。

%p 1~11月国内PVC累计产量为1474.5万吨，同比下跌1.5%；11月当月产量为134.1万吨，同比下降2%。

%p 此外，国内电石1～11月累计产量为2254.5万吨，同比增长2%；11月当月产量为213.2万吨，同比下降4%。国内原盐1~11月份累计产量为5616.7万吨，同比减少0.3%；11月当月产量为502.8万吨，同比增长9.3%。
