---
layout: news-article
title: 国际油价走“熊” 国内生产消费忧喜并存
description: 29日，2015年最后一次成品油调价以暂缓收官。即便如此，当前国内成品油价格已经是近六年来的最低点。2015年跌跌不休的国际油价为我国带来了诸多难得的战略机遇，但也伴随着种种挑战。
---
%p 29日，2015年最后一次成品油调价以暂缓收官。即便如此，当前国内成品油价格已经是近六年来的最低点。2015年跌跌不休的国际油价为我国带来了诸多难得的战略机遇，但也伴随着种种挑战。

%p 国际油价深陷“熊市”

%p 如果说2014年是国际油价的盛衰转折之年，那2015年国际原油市场则真正进入了低迷境地。

%p 先是在年初，国际油价以“三连阴”开局，失守每桶50美元关口;经历了二季度的短暂反弹后，进入下半年，油价再度开启下跌模式。

%p 进入12月份，受美联储加息、欧佩克不减产以及未来伊朗原油解禁等因素影响，国际油价不断刷新近七年的历史低点。纽约油价一度跌至每桶34.73美元，布伦特油价一度跌至每桶36.11美元，比去年年底价格分别下跌34.8%和37%，比去年6月的高点下跌67.6%和68.6%。

%p 国内油价十二降进入“5元时代”

%p 在国际油价深陷“熊市”的同时，我国成品油价格也迎来了时隔六年的“5元时代”。

%p 细数2015年国内成品油调价历程，共经历了25轮周期，其中12次下调，7次上调，4次搁浅，2次暂缓。全年汽油价格每吨累计下调390元，柴油价格每吨累计下调435元;折合升价分别降低0.27元和0.39元。

%p 12月15日，国内成品油价格暂缓调整。国家发改委称，低油价时，保持国内成品油价格基本稳定，有利于抑制石油消费的过快增长和能源结构调整，促进环境保护，改善空气质量。

%p 12月29日24时，2015年最后一个成品油调价时间窗口开启，油价调整再次暂缓。国家发改委表示，成品油价格机制正在征求社会各方面意见，预计新机制出台前，成品油价格将继续暂缓调整。

%p 低油价让消费和储备受益

%p 作为全球第二大原油进口国和消费国，低油价的持续对我国经济社会的影响整体利大于弊。

%p 最直接的受益者是用油消费群体。“与去年相比，现在每天油费大约少了五六十块钱，省出来一天的餐费。”上海强生出租车司机王师傅算了一笔账，去年上海92号汽油最高涨到每升7.94元，现在每升只有5.64元，比去年便宜近三成。

%p 低油价时代的出现，为我国原油增储创造了战略契机，今年以来原油储备建设不断提速。海关数据显示，今年前11个月，我国进口原油量同比增长8.7%，进口金额同比下降40.9%。

%p 国家统计局的数据显示，截至2015年年中，我国共建成8个国家石油储备基地，总储备库容为2860万立方米，储备原油2610万吨，比2014年11月公布的库容和储量分别增加74.4%和110%。

%p 低油价让生产企业压力倍增

%p 低油价持续，生产企业经营压力倍增，石油公司首当其冲。

%p 国家统计局数据显示，前11个月，我国石油和天然气开采业投资仅增长0.8%，利润总额同比下降70.4%。上市公司财报显示，今年前三季度，中石油利润同比下降68.1%，中石化利润同比下降49.5%。

%p 中国能源研究会副理事长周大地说，低油价对清洁能源投资发展和节能减排产生负面作用。

%p 国土资源部矿产资源储量评审中心主任张大伟介绍，我国页岩气区块已经经历了两轮招标，但受低油价等因素影响，新一轮招标很难启动，“第二轮中标的企业因目前低油价情况，态度开始转为观望。”

%p 国际油价仍将低迷，我国如何应对?

%p 在专家看来，未来一两年内国际油价或仍将维持在较低的价位。这对我国而言既是机遇，也伴随着挑战。

%p 厦门大学中国能源经济研究中心主任林伯强认为，伴随着经济换挡和产业结构转型，我国成品油需求整体放缓，但对油品清洁度和质量的要求越来越高。利用低油价契机，我国应加快清洁油品质量升级步伐，同时，择机完善成品油定价机制，加快推进市场化进程。

%p 从保障能源安全的角度出发，专家认为，我国仍需要稳步推进原油增储步伐，加快海外油气资源收购。

%p “国际油价低位运行为我国开展国际石油贸易创造有利的市场环境。”商务部外贸司副司长支陆逊介绍，到2020年，我国原油需求可能达到6亿吨，进口量可能达到4亿吨。未来需进一步拓宽原油进口渠道，向更多原油加工企业开放原油进口权，形成透明公开、主体多元、竞争有序的市场，鼓励中小石油企业及非油企业参与国际石油贸易及并购。

%p 陕西延长石油董事长贺久长表示，当前油气资源价格处于历史低点，是“走出去”的好时机。为了配合“走出去”的战略，公司正在加强国际化人才的培养，强化“出海”的人才储备。

%p 面对低油价的冲击，我国也要加大对清洁能源产业的政策倾斜，鼓励清洁能源技术加快突破。周大地说：“清洁能源产业要咬着牙，加快技术突破，抵挡低油价带来的压力和冲击。”
