---
layout: news-article
title: 原料支撑 异丙醇市场小幅上涨
description: 异丙醇市场小幅上涨。原料方面：丙烯大涨，丙酮试探性上涨，对异丙醇成本形成一定支撑。
---
%p 异丙醇市场小幅上涨。原料方面：丙烯大涨，丙酮试探性上涨，对异丙醇成本形成一定支撑。供需面：目前厂家供货较之前有所减少，下游工厂刚需为主。后期关注原料行情及厂家装置动态，预期短期内异丙醇市场盘整为主。目前江苏地区市场参考价格在4700元/吨左右，山东地区市场参考价在4600元/吨左右，华南地区市场参考价格在4800元/吨左右。
