---
layout: products-article
title: Hostaperm Green GNX
description: 酞青绿颜料，耐晒，耐侯性能优异，耐热性极佳。着色力高，色光纯正。
image:
---
.box
  .box_header 基本信息
  .box_content
    颜料索引号：颜料绿 7<br>
    耐晒性：8<br>
    耐侯性：5<br>
    热稳定性：200°C<br>
    耐重涂性：很好<br>
    酞青绿颜料，耐晒，耐侯性能优异，耐热性极佳。着色力高，色光纯正。<br>
    分散性好， 可用于调制实色和金属闪光漆。<br>
    主要的应用领域—— 汽车原厂漆。<br>
    其它可用的领域——汽车修补漆、工业漆（通用）、粉末涂料等<br>
    化学结构类型：酞菁<br>
    应用概述：标准蓝相酞菁绿，极佳的的耐光性和耐候性，各项性能优于市场上的同类产品，适合于几乎所有涂料，其安全性符合包括欧洲EN71-3-1994和美国FDA等发达国家的法规。
