---
layout: products-article
title: 多彩保护胶粉PT-2
description: 一、制备基础色漆；二、造粒色点；三、调配多彩成品漆。
image: 
---
.box
  .box_header 一、制备基础色漆
  .box_content
    %table.table
      %thead
        %th 项目
        %th 数量
      %tbody
        %tr
          %td 水
          %td 260
        %tr
          %td 纤维素250HHR（十万纤维素）
          %td 2
        %tr
          %td AMP-95
          %td 1
        %tr
          %td 分散剂
          %td 3
        %tr
          %td 消泡剂
          %td 2
        %tr
          %td 1250高岭土
          %td 110
        %tr
          %td 钛白粉
          %td 10
        %tr
          %td 合成硅酸铝
          %td 30
        %tr
          %td 纯丙弹性乳液2377巴德富
          %td 350
        %tr
          %td 保护胶液（7%）
          %td 28
        %tr
          %td 纤维素250HHR（十万纤维素）4%水溶液
          %td 200
        %tr
          %td 消泡剂
          %td 1
        %tr
          %td 防腐剂
          %td 3
        %tr
          %td 颜料
          %td 适量
        %tr
          %td 总共
          %td 1000

.box
  .box_header 二、造粒色点
  .box_content
    %table.table
      %thead
        %th 项目
        %th 数量
      %tbody
        %tr
          %td 色漆（刚才配好）
          %td 575
        %tr
          %td 保护胶溶液（7%）
          %td 425
        %tr
          %td 共计
          %td 1000

.box
  .box_header 三、调配多彩成品漆
  .box_content
    %table.table
      %thead
        %th 项目
        %th 数量
      %tbody
        %tr
          %td 造粒色点
          %td 600
        %tr
          %td 乳液
          %td 300
        %tr
          %td 成膜助剂
          %td 15
        %tr
          %td 防腐剂
          %td 3
        %tr
          %td 消泡剂
          %td 2
        %tr
          %td 水
          %td 80
        %tr
          %td 增稠剂
          %td 适量
        %tr
          %td 共计
          %td 1000
