---
layout: products-article
title: 碳黑 MA-100
description: "MA100是中色素槽黑，具有粘度适中，黑度高，光泽度高等优点，广泛用于粉末、木工、塑料、调色、防腐，船舶等涂料以及塑胶树脂着色中。"
image:
---
.box
  .box_header 用途
  .box_content
    适用于高级合成革，皮革，色浆，色粉，合成树脂，合成纤维着色，高级工程塑料制品，塑料色母粒、油墨、涂料、树脂着色、锂电池负极材料及碳粉方面的代表产品。它具有分散型好、高黑色度、流动性好等诸多优点。
    %br
    MA100是中色素槽黑，具有粘度适中，黑度高，光泽度高等优点，广泛用于粉末、木工、塑料、调色、防腐，船舶等涂料以及塑胶树脂着色中。

.box
  .box_header 产品参数
  .box_content
    %table.table
      %thead
        %th 项目
        %th 值
      %tbody
        %tr
          %td 粒径(nm)
          %td 24
        %tr
          %td 含量
          %td 99.99%
        %tr
          %td 着色力(%)
          %td 133
        %tr
          %td 吸油量(Cm3/100g)
          %td 100
        %tr
          %td 挥发分(%)
          %td 1.5
        %tr
          %td PH值
          %td 3.5
        %tr
          %td 色光
          %td 黑色

.box
  .box_header 其他信息
  .box_content
    产地：三菱化学株式会社生产
    %br
    包装：净重10公斤/纸袋
    %br
    保质期：180 个月
