---
layout: products-article
title: 先丽® DPP 红 SR1C
description: "产品名称: 先丽® DPP 红 SR1C 产品类别: C.I 颜料红 254 产品用途： 用于塑料、涂料、油墨的有机颜料 生产商： 先尼科化工（上海）有限公司 化学成份：二酮吡咯吡咯"
image:
---
.box
  .box_header 基本信息
  .box_content
    产品名称: 先丽® DPP 红 SR1C<br>
    产品类别: C.I 颜料红 254<br>
    产品用途： 用于塑料、涂料、油墨的有机颜料<br>
    生产商： 先尼科化工（上海）有限公司<br>
    化学成份：二酮吡咯吡咯

.box
  .box_header 物理化学性质
  .box_content
    %table.table
      %thead
        %th 项目
        %th 值
      %tbody
        %tr
          %td 化学分子式
          %td C18H10Cl2N2O2
        %tr
          %td 分子量
          %td 357
        %tr
          %td 外观
          %td 粉末
        %tr
          %td 颜色
          %td 红色
        %tr
          %td 气味
          %td 无
        %tr
          %td PH 值
          %td 5-9（水悬浮液）
        %tr
          %td 沸点
          %td 不适用
        %tr
          %td 闪点
          %td 不适用
        %tr
          %td 熔点
          %td >300°C
        %tr
          %td 可燃性
          %td 不易燃
        %tr
          %td 氧化特性
          %td 无
        %tr
          %td 自燃点
          %td >400°C
        %tr
          %td 饱和蒸汽压:
          %td 不适用
        %tr
          %td 密度
          %td 1.58g/cm3 ，20°C
        %tr
          %td 水溶性
          %td < 0.01 g/l ，20°C
        %tr
          %td 辛醇/水 分配系数
          %td 未测试
        %tr
          %td 动态粘度
          %td 不适用
