---
layout: products-article
title: 德固赛碳黑U碳
description: "德固赛碳黑U碳同德固赛SB4、SB4A一样属于普通黑度气法碳黑，由Evonik Degussa赢创德固赛公司生产。德固赛碳黑U碳应用于印刷及复写油墨，涂料及油墨，纸张，碳纸，打印机色带，塑料和合成纤维等。"
image:
---
.box
  .box_header 概述
  .box_content
    德固赛碳黑U碳同德固赛SB4、SB4A一样属于普通黑度气法碳黑，由Evonik Degussa赢创德固赛公司生产。德固赛碳黑U碳应用于印刷及复写油墨，涂料及油墨，纸张，碳纸，打印机色带，塑料和合成纤维等。

.box
  .box_header 基本信息
  .box_content
    品牌：Evonik Degussa
    %br
    型号：PRINTEX U
    %br
    生产厂家：赢创德固赛
    %br
    种类：高色素碳黑
    %br
    应用推荐：涂料
    %br
    CAS：优质
    %br
    槽法碳黑技术指标：碳黑等级

.box
  .box_header 产品参数
  .box_content
    %table.table
      %thead
        %th 项目
        %th 值
      %tbody
        %tr
          %td 黑度My值
          %td 244
        %tr
          %td 相对着色力(%IRB3)
          %td 108
        %tr
          %td 挥发物%
          %td 6
        %tr
          %td 吸油量g/100g
          %td 420
        %tr
          %td 酸碱度PH值
          %td 4
        %tr
          %td 筛余物含量0.044mm(PPM网径)
          %td <=300
        %tr
          %td 灰含量%
          %td 0.04
        %tr
          %td 甲苯萃取量%
          %td <=0.15
        %tr
          %td 粉状压紧密度g/l
          %td 130
        %tr
          %td BET比表面积m2/g
          %td 100
        %tr
          %td 原生粒径nm
          %td 25
        %tr
          %td 规格
          %td 10KG/
