---
layout: default
belongs_to: products
---
%article.grad1
  .container
    %ol.breadcrumb
      %li
        %a{ href: "/" } 首页
      %li.active
        %a{ href: "/products/" } 产品中心
    .row.content_one
      .products_head_img
      .col-xs-4.p_cat_l
        %ul.product_categories
          %li
            %a.active{ href: "#" }
              %img{ src: "/images/64px/products.jpg" }
              所有产品
          {% for cat in site.product_categories %}
          %li
            %a{ href: "#{{ cat[1] }}" }
              %img{ src: "/images/64px/{{ cat[2] }}" }
              {{ cat[0] }}
          {% endfor %}
      .col-xs-8.p_cat_r
        {% for cat in site.product_categories %}
        {% capture cate %}{{ cat[1] }}{% endcapture %}
        {% for post in site.categories[cate] %}
        .media.product
          %a.pull-left{ href: "{{ post.url }}" }
            %img.media-object{ src: "/images/64px/{{ post.image }}" }
          .media-body
            %h4.media-heading
              %a{ href: "{{ post.url }}" } {{ post.title }}
            {{ post.description }}
        {% endfor %}{% endfor %}
