---
layout: default
permalink: /about/
---
%article.grad1
  .container
    %ol.breadcrumb
      %li
        %a{ href: "/" } 首页
      %li.active
        %a{ href: "/about/" } 关于品诚
    .row.content_one
      .col-md-4.content_one_left
        %img{ src: "/assets/images/scientist.jpg" }
      .col-md-6.content_one_right
        %h3.heading_one 公司简介
        %p
          佛山市品诚贸易有限公司主要从事化工贸易，代理销售国内外化工原材料，
          是国内专业的涂料、油墨及日用化学品原料供货商。
        %p
          我们致力于原料的开发引进及市场应用工作，与国际著名化工公司进行紧密合作，
          并且通过企业的技术优势与客户建立长期的项目合作关系，保持企业与客户可持续的共同目标，
          为客户提供优良原料，以提升产品竞争力，并注重以环保为原则，以及时服务为宗旨，与行业共同发展。
        %p
          主要产品如下：
        %ul
          %li 三元氯醋树脂（羟基改性，羧基改性），二元氯醋
          %li 美国伊士曼CAB（醋酸丁酸纤维素，551系列，381系列，531系列等）
          %li 气相二氧化硅（卡博特 M-5，赢创 A-200）
          %li 增稠剂（美国陶氏TT-935）
          %li 防沉蜡浆D710
          %li 纤维素（HEC，CMC，EC），德国科莱恩纤维素HS30000YP2，HS100000YP2。
          %li 附着力促进剂
          %li 分散剂
          %li 多彩涂料保护胶
          %li 钛白粉 美国科美基CR-828 美礼联CR-595 杜邦R-706
