---
layout: default
permalink: /contact/
title: 联系我们
---
%article.grad1
  .container
    %ol.breadcrumb
      %li
        %a{ href: "/" } 首页
      %li.active
        %a{ href: "/contact/" } 联系我们
    .row.content_one
      .contact_head_img
      .col-md-6.content_one_left_alt
        %h3.heading_one 联系我们
        %p 联系人：梁先生
        %p 公司地址：佛山市顺德区大良新宁路43号四座97号商铺
        %p 邮政编码：528300
        %p 联系电话：86-0757-22330908
        %p 传真：457-0757-22339080
        %p 手机：18028111983
      .col-md-6.content_one_right_alt
        #allmap{ style: "width: 100%; height: 500px;" }
          #map{ style: "height:100%;" }
        %script{ src: "http://api.map.baidu.com/api?v=1.4" }
        %script{ src: "http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js" }
        %link{ rel: "stylesheet", href: "http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" }
        :javascript
          var map=new BMap.Map("map"),poi=new BMap.Point(113.246793,22.850383);map.centerAndZoom(poi,17);map.enableScrollWheelZoom();
          var content='<div style="margin:0;line-height:20px;padding:2px;">地址：顺德大良新宁路43号四座97号商铺</div>',searchInfoWindow=new BMapLib.SearchInfoWindow(map,content,{title:"佛山市品诚贸易有限公司",width:200,height:40,panel:"panel",enableAutoPan:!0,searchTypes:[BMAPLIB_TAB_SEARCH,BMAPLIB_TAB_TO_HERE,BMAPLIB_TAB_FROM_HERE]}),marker=new BMap.Marker(poi);marker.enableDragging();marker.addEventListener("click",function(a){searchInfoWindow.open(marker)});
          map.addOverlay(marker);searchInfoWindow.open(marker);
