---
layout: products-article
title: 附着力促进剂S-360
description: 附着力促进剂S-360广泛用在环氧树脂、酚醛树酯、聚氨酯、三聚氰胺树脂、氯化聚醚、聚酯、聚碳酸酯、聚苯乙烯、聚丙烯及尼龙等聚合材料中。
image: 
---

.box
  .box_header 特性与用途：
  .box_content
    1. 本品被广泛用在环氧树脂、酚醛树酯、聚氨酯、三聚氰胺树脂、氯化聚醚、聚酯、聚碳酸酯、聚苯乙烯、聚丙烯及尼龙等聚合材料中，以提高它们的粘接性、憎水性及耐候性。<br>
    2．能明显提高树脂与各种基材的结合力<br>
    广泛应用于多种涂料体系与配方体系。<br> 
    高强的附着力、胶着力与键结力。 <br>
    能大大提高油漆面漆和底漆之间的层间附着力，明显改善涂膜的抗潮湿性能、抗盐雾性能与耐热性能。 <br>
    极小的用量，即可获得高强的附着力与键结力。 <br>
    在油漆和涂料体系内具有优异的储存稳定性和长效性。

.box
  .box_header 物理指标
  .box_content
    %table.table
      %thead
        %tr
          %th 类别
          %th 指标
      %tbody
        %tr
          %td 成份
          %td 改性有机硅
        %tr
          %td 分子量
          %td 225.14
        %tr
          %td 外观
          %td 无色透明液体
        %tr
          %td 纯度（色谱）
          %td ≥95%
        %tr
          %td 比重：25℃
          %td 1.08
        %tr
          %td PH
          %td 8.5-9
        %tr
          %td 沸点
          %td 290℃
        %tr
          %td 折光率25℃
          %td 1.42

.box
  .box_header 包装与储存
  .box_content
    本品必须密封包装储存于室温在≤30℃左右的仓库内，否则会被湿气水解形成聚合物。
