---
layout: products-article
title: 气相二氧化硅M5
description: M-5非处理型气相二氧化硅（白碳黑）是气相二氧化硅的通用产品,可应用在涂料油墨中
image: 
---

.box
  .box_header 产品简介
  .box_content
    M-5非处理型气相二氧化硅（白碳黑）是气相二氧化硅的通用产品，可应用在涂料油墨中。发挥下述重要功能：<br>
    液体中：流变控制、防沉淀、流体化<br>
    粉体中：自由流动、防止结块<br><br>
    适用于各漆层 （胶粘剂，涂料，油墨，粉末涂料）提高颜料稳定性、改善颜料分散性、提高漆膜附着力、防腐蚀、防水、防止冒泡。
    特别是硅橡胶、聚酯树脂、涂料和油墨触变剂、着色系统的防沉剂。对于液体体系能获得流变控制，固体悬浮性，防流变等作用，对于固体体系能提高。
    增强作用，对于粉体体系则提供良好的自由流动和防止结块等作用。也可用于天然与合成橡胶、医药及化妆品等的高活性填料。

.box
  .box_header 物理指标
  .box_content
    %table.table
      %thead
        %tr
          %th 类别
          %th 指标
      %tbody
        %tr
          %td 比表面积（平方米/克）
          %td 200+/-25
        %tr
          %td 堆积密度（克/升）
          %td 40
        %tr
          %td 成份分析（%SiO2）
          %td >99.8
        %tr
          %td X-射线结构分析
          %td 非晶体
        %tr
          %td 折射率（折光指数）
          %td 1.46
        %tr
          %td 325目筛筛余（最高%）
          %td 0.02
        %tr
          %td 加热损失（%@105℃）
          %td <1.5
        %tr
          %td 燃烧损失（%@1000℃）
          %td <2
        %tr
          %td 中值粒径平均长度粒子
          %td 0.2-0.3微米

.box
  .box_header 应用
  .box_content
    %table.table
      %thead
        %tr
          %th 应用领域
          %th M-5功能
          %th 用量标准(%)
      %tbody
        %tr
          %td 粉末涂料
          %td 自由流动、防止流垂
          %td 0.25-1.0
        %tr
          %td{ rowspan: 4 } 溶剂型涂料
          %td 防止沉淀
          %td 0.25-0.5
        %tr
          %td 防止流垂
          %td 0.25-3.0
        %tr
          %td 把持力
          %td 0.25-0.75
        %tr
          %td 相框或肿边
          %td 0.25-0.5
        %tr
          %td 锤印花式涂层
          %td 花式控制
          %td 0.3-0.6
        %tr
          %td 多色表面涂层
          %td 金属薄的定向
          %td 15-20（相对薄片重量）
        %tr
          %td 富锌打底涂料
          %td 防止沉淀
          %td 2.0-2.5
        %tr
          %td 凹印墨
          %td 触变、增稠
          %td 0.5-1.0
        %tr
          %td 筛网墨
          %td 触变、增稠
          %td 1.0-3.0
