---
layout: products-article
title: 附着力促进剂
description: 广泛应用于各种化纤、木材、塑胶、金属、陶瓷、玻璃、ABS、PVC等基材，最早云清开发，以大幅度提高膜层与底材的附着力。
image: 
---
.box
  .box_header 简介
  .box_content
    广泛应用于各种化纤、木材、塑胶、金属、陶瓷、玻璃、ABS、PVC等基材，最早云清开发，以大幅度提高膜层与底材的附着力。
    它是一种新型树脂型密着促进剂对于涂料的防脱落性有特殊功效。具有较宽的溶解性，可改进多种涂料体系的附着力如：
    水性涂料、水性油墨、印花胶浆、UV光油、PU光油、塑胶漆、金属烤漆，尤其适用于水性漆，提高附着力及韧性。

.box
  .box_header 性能特点
  .box_content
    %ul
      %li 能明显提高树脂与各种基材的结合力
      %li 广泛应用于多种涂料体系与配方体系。
      %li 高强的附着力、胶着力与键结力，本性能是市场上传统产品所无法比拟的。
      %li 能大大提高油漆面漆和底漆之间的层间附着力，明显改善涂膜的抗潮湿性能、抗盐雾性能与耐热性能。
      %li 极小的用量，即可获得高强的附着力与键结力。
      %li 在油漆和涂料体系内具有优异的储存稳定性和长效性

.box
  .box_header 功能特点
  .box_content
    1、改善对难附着的非铁金属表面如：铝、铝合金锌、不锈钢、电镀面等的附着具有极优的效果。<br>
    2、可增进涂膜的延展性与耐冲击性。<br>
    3、高温急烘烘烤不变色，并且不影响涂膜的耐候性。<br>
    4、不影响涂料的储存安定性。

.box
  .box_header 适用范围
  .box_content
    1）醇酸氨基烘漆<br>
    2）丙烯酸氨基烘漆<br>
    3）其他烤漆体系 先做试验<br>
    4）水溶性烤漆体系（先以10-20%的二甲基乙醇胺或同类胺中和）

.box
  .box_header 用法用量 
  .box_content
    全量的1.5-2.5%，研磨前后加均可。

.box
  .box_header 包装储存要求
  .box_content
    25公斤/桶，0-40℃，低于5℃时，外观可能冻结。放于阴凉通风处，容器保持紧密，远离火源及热源。

.box
  .box_header 注意事项
  .box_content
    储存久时有白色晶体析出，加热或以正丙醇，正丁醇或其他醇类或二甲苯1:1的混合溶剂溶解即可。
