---
layout: products-article
title: 附着力促进剂WP-110
description: 附着力促进剂WP-110应用于矿物的填充的酚酸、聚酯、环氧、BPT、聚酰胺、碳酸酯等热塑性和垫固性树脂。
image: 
---

.box
  .box_header 特性与用途：
  .box_content
    1.本品可溶于有机溶剂，但丙酮、四氯化碳不适宜作稀释剂，可溶于水在水中水解呈碱性。<br>
    2.本品的改性基团对有机高分子和无机填料起增强其粘结性。提高产品的机械、电气、耐水、抗老化等性能。
    应用于矿物的填充的酚酸、聚酯、环氧、BPT、聚酰胺、碳酸酯等热塑性和垫固性树脂，能大幅度提高增强塑料的干湿态和抗弯强度、
    剪切强度等物理学性能和湿态电性能，并改善填料在聚合物中的湿润性和分散型。在树脂筹造中增强树脂硅砂的粘合性，
    提高硅砂的轻度和耐湿性，可提高防潮性及增加压缩回弹性。<br>
    3.本品还可以作为优异的粘结促进剂，可用于聚氨酯、环氧、腈类、酚醛类粘胶剂和密封材料，改善颜料的分散型并提高对玻璃、
    吕铁金属的粘合性，也适用于聚氨酯。环氧和丙烯酸乳胶涂料，还用于氨基硅油及其乳液的合成。

.box
  .box_header 物理指标
  .box_content
    %table.table
      %thead
        %tr
          %th 类别
          %th 指标
      %tbody
        %tr
          %td 成份
          %td 改性有机硅
        %tr
          %td 化学结构式
          %td R-(CH2)3 SI（OC2H5）3
        %tr
          %td 分子量
          %td 198.23
        %tr
          %td 外观
          %td 无色透明液体
        %tr
          %td 纯度（色谱）
          %td ≥95%
        %tr
          %td 比重：25℃
          %td 0.96
        %tr
          %td PH
          %td 8.5-9
        %tr
          %td 沸点
          %td 217℃
        %tr
          %td 折光率25℃
          %td 1.38

.box
  .box_header 包装与储存
  .box_content
    本品必须密封包装储存于室温在≤30℃左右的仓库内，否则会被湿气水解形成聚合物。
