!!!
/
  Generated on {{ site.time }}, using Jekyll, Haml, Sass, CoffeeScript.
  Source of this website can be found on https://github.com/pincent/pincent.net
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title {% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    {% stylesheet application %}
    {% javascript application %}
  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container
        .navbar-header
          %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
            %span.sr-only 打开或关闭导航菜单
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "/" }
            %img{ src: "/assets/images/pincent.png" }
            %img{ src: "/assets/images/company_name.png" }
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul#navbar.nav.navbar-nav.pull-right
            %li{ class: "{% if page.url == '/index.html' %}active{% endif %}" }
              %a{ href: "/" } 首页
            %li{ class: "{% if page.permalink == '/about/' %}active{% endif %}" }
              %a{ href: "/about/" } 关于品诚
            %li{ class: "{% if page.permalink == '/products/' %}active{% endif %}" }
              %a{ href: "/products/" } 产品中心
            %li{ class: "{% if page.permalink == '/news/' %}active{% endif %}" }
              %a{ href: "/news/" } 新闻中心
            %li{ class: "{% if page.permalink == '/contact/' %}active{% endif %}" }
              %a{ href: "/contact/" } 联系我们
    {{ content }}
