---
layout: products-article
title: 美国伊斯曼醋酸丁酸纤维素酯CAB 381-0.5
description: 美国伊士曼醋酸丁酸纤维素CAB-381-0.5是一种中等丁酰基含量，低粘度的纤维素酯。伊士曼醋酸丁酸纤维素CAB-381-0.5主要用于低施工粘度且较高固体份场合。
image: /images/cab/64px/cab-381-0.5.jpg
---
#carousel.carousel.slide
  .carousel-inner
    .item.active
      %img{ src: "/images/cab/cab-381-0.5.jpg", height: 450 }
      .carousel-caption

.box
  .box_header 产品简介
  .box_content
    美国伊士曼醋酸丁酸纤维素CAB-381-0.5是一种中等丁酰基含量，低粘度的纤维素酯。伊士曼醋酸丁酸纤维素CAB-381-0.5主要用于低施工粘度且较高固体份场合。它可溶解在许多溶剂中并且与许多树脂相混溶。伊士曼醋酸丁酸纤维素CAB-381-0.5也允许使用目前已不受大气污染法规限制的混合溶剂，它是以能自由流动的干粉形式供货。

.box
  .box_header 产品规格
  .box_content
    品牌：美国伊士曼<br>
    型号：CAB-381-0.5<br>
    产地：美国<br>
    包装规格：20公斤/包

.box
  .box_header 用途
  .box_content
    可以用于塑料涂料、木器涂料、卷材涂料、凹版印刷、丝网印刷、织物用涂料、纸张用涂料、皮革涂料等。

.box
  .box_header 优点
  .box_content 
    CAB-381-0.5可以改善汽车清漆的干燥速度、抛光性和流动性，从而带来极佳的外观并提高汽车修理厂的涂装效率。在木器漆中可以让涂料耐黄变。在卷材涂料中可以提高涂料的消光效率、颜料分散和共分散剂。在印刷中有很好的流平性和附着力。<br><br>
    醋酸丁酸纤维素酯﹝英文缩写：CAB﹞可以为你的塑料涂料产品注入神奇魔力，如电视、手机外壳等，达到超乎想象的靓丽！ 

.box
  .box_header 纤维素酯的描述及指定
  .box_content
    指定过程包括三个部分。如图例：<br>
    %img{ src: "/images/cab.jpg" }

.box
  .box_header 伊士曼CAB能够...
  .box_content
    %ul
      %li 促进铝粉的定向性能，增强油漆的闪光效果。 
      %li 提高湿涂层溶剂的释放能力，加速溶剂的挥发，从而降低了生产过程中的灰尘吸附现象，并且极大的加速了生产过程。 
      %li 抑制层间相互溶解的作用，有效防止了层与层之间的渗色、咬底。 
      %li 在木器涂料中集中体现在流平性能、干燥性能及不黄变之特性。
