---
layout: products-article
title: CAB产品说明
description: 美国伊士曼醋酸丁酸纤维素CAB-381-0.5是一种中等丁酰基含量，低粘度的纤维素酯。伊士曼醋酸丁酸纤维素CAB-381-0.5主要用于低施工粘度且较高固体份场合。
image: cab.jpg
---
#carousel.carousel.slide
  %ol.carousel-indicators
    %li.active{ data: { target: "#carousel", slide: { to: 0 } } }
    %li{ data: { target: "#carousel", slide: { to: 1 } } }
    %li{ data: { target: "#carousel", slide: { to: 2 } } }
    %li{ data: { target: "#carousel", slide: { to: 3 } } }
    %li{ data: { target: "#carousel", slide: { to: 4 } } }
    %li{ data: { target: "#carousel", slide: { to: 5 } } }
  .carousel-inner
    .item.active
      %img{ src: "/images/cab/cab.jpg", height: 450 }
      .carousel-caption CAB
    .item
      %img{ src: "/images/cab/cab-381-0.5.jpg", height: 450 }
      .carousel-caption CAB-381-0.5
    .item
      %img{ src: "/images/cab/cab-381-2.jpg", height: 450 }
      .carousel-caption CAB-381-2
    .item
      %img{ src: "/images/cab/cab-381-20.jpg", height: 450 }
      .carousel-caption CAB-381-20
    .item
      %img{ src: "/images/cab/cab-551-0.01.jpg", height: 450 }
      .carousel-caption CAB-551-0.01
    .item
      %img{ src: "/images/cab/cab-551-0.2.jpg", height: 450 }
      .carousel-caption CAB-551-0.2
  %a.left.carousel-control{ href: "#carousel", data: { slide: "prev" } }
    %span.icon-prev
  %a.right.carousel-control{ href: "#carousel", data: { slide: "next" } }
    %span.icon-next

%p
  醋酸丁酸纤维素（简称CAB），在涂料工业中有着广泛的应用且有它的独特性，是其它化学品所难于取代的；
  在汽车和家具工业中，具有优良的耐候性和耐紫外光照躬；CAB清漆永不发黄，冷天不龟裂。
  在皮革涂料中有优良的柔韧性；在油墨是原子灰中，有与其它树脂优良的混溶性，流平性和防“流涕”。
  在铝、铜、银以及其它金属涂料中加入CAB。可加速溶剂从漆膜中释放。触干时间可大幅缩短。
  在热塑性丙烯酸型的气干漆涂料中，这种性能更为突出，由于CAB含有羟基，它能在酸催化剂存在下与氨基树脂反应。
  既不影响本身硬度又赋予涂膜以柔韧性，且这种清漆具有良好的附着力，使涂层具有极高的光泽。
  在涂料中加入CAB能增强耐磨性，颜色稳定性，而使汽车漆光亮美观，提高皮革抗冷裂性等等。

%p
  伊士曼醋酸丁酸纤维素（CAB－551－0.2）是一种高丁酰基含量，较低分子量的纤维素酯。
  它与许多交联树酯均混溶，在同等固体含量时黏度较低。在涂料中使用CAB－551－0.2时可得到水白色涂膜、
  降低表面粘性、表面斑点、减少缩孔、改进涂料流动性和再流平性，提高层内附着力和紫外线稳定性。
  适用于面板性交联型涂料，它与许多交联树脂具有良好的混溶性在许多溶剂和混合溶剂中溶解良好可作为多种涂料的助剂。

%p
  伊士曼醋酸丁酸纤维素（CAB－551－0.01)是一种高丁酰基含量低粘度（ASTMA法）的纤维素酯。
  这两种特性极大地影响其溶解性及混溶性，EastmanCAB-551-0.01可溶解在苯乙烯和甲基丙烯酸甲酯等单体中，
  它比高粘度产品更容易溶解在脂肪烃和芳香烃稀释剂中，CAB-551-0.01可溶解在醇/芳香烃的混合溶剂中，
  这无疑具有很大的经济优势，扩大了溶剂和混合溶剂的选用范围。它与许多涂料用树脂具有较好的混溶性。
  CAB-551-0.01是一种自由流动的干粉、使用方便。
  按照美国医药和食品管理局出版的关于食品和溶剂的法规，CAB-551-0.01被允许使用在与食品接触的制品中。

%p
  伊士曼醋酸丁酸纤维素（CAB－381－2 ）一种高丁酰基含量, 高粘度(ASTM A法) 的纤维素酯。
  除了高粘度和高分子量以外，这种纤维素酯的其他特性和CAB－381－0.1及CAB-381-0.5 都一样。
  CAB－381－2的综合性能较好,如:溶解性、混溶性、耐水性，表面硬度及涂膜强度等都良好。
  它是以可自由流动的干粉供货，按照美国医药及食品管理局（FDA）公布条文规定，
  伊士曼CAB －381－0.5是可以用于与食品接触的制品中。

%p
  伊士曼醋酸丁酸纤维素（CAB-381-20）是一种高丁酰基含量,高ASTM(A)粘度的纤维素酯。
  除了高粘度和高分子量外， CAB-381-20的其他性质与 CAB-381-0.1和CAB-381-0.5均相似。
  CAB-381-20具有较好的综合性能如:溶解性、混合性、耐水性、优异的表面硬度以及较高的涂膜强度。
  CAB-381-20是以自由流动的干粉供货。按照美国医药和食品管理局（FDA）颁布的食品和添加剂法规，
  伊士曼CAB-381-20允许用在与食品接触的制品中。

%p
  伊士曼醋酸丁酸纤维素（CAB－381－0.5）是一种纤维素酯，丁酸基含量中等低粘度。
  它主要用于低施工粘度和较高固体份场合。它可溶解在许多溶剂中与许多树脂均相混溶。
  它也允许使用目前已不受大气污染法规限制的混合溶剂，它是以能自由流动的干粉形式供货。
  按照美国医药和食品管理局（FDA）公布条文规定，Eastman CAB－381－0.5是可以用于与食品接触的制品中。
